[2019-10-09 04:18] #6 closed

[2019-10-09 04:23] Cyb3rWard0g commented on #236
Moving PowerShell Kernel request to project https://github.com/hunters-forge/notebooks-forge

[2019-10-09 04:23] #236 closed

[2019-10-09 04:26] Cyb3rWard0g commented on #306
Even though the plugin says compatibility for 7.2 and higher, it does not seem to be constantly updated with latest version. that will be a problem to keep a working stack for stable version. I believe this will fall on custom build setup. Closing this since it will not be added at the moment. thank you for the suggestion @Trolldemorted

[2019-10-09 04:26] #306 closed

[2019-10-09 04:30] Cyb3rWard0g commented on #326
We ask for ports to be open and accessible according to the docker-compose templates being used. Troubleshooting network setups is outside of the scope of the development of HELK at the moment.

[2019-10-09 04:30] #326 closed

[2019-10-09 04:36] Cyb3rWard0g commented on #313
Thank you @s3curetty for the suggestion !

[2019-10-09 04:37] #313 closed

[2019-10-09 04:44] Cyb3rWard0g commented on #208
Moved to AWS CloudFormation Templates in the roadmap

[2019-10-09 04:44] #208 closed

[2019-10-09 04:45] Cyb3rWard0g commented on #207
Moved to AWS CloudFormation Templates in the roadmap

[2019-10-09 04:45] #207 closed

[2019-10-09 04:45] Cyb3rWard0g commented on #206
Moved to AWS CloudFormation Templates in the roadmap

[2019-10-09 04:45] #206 closed

[2019-10-09 04:45] Cyb3rWard0g commented on #205
Moved to AWS CloudFormation Templates in the roadmap

[2019-10-09 04:45] #205 closed

[2019-10-09 04:45] Cyb3rWard0g commented on #204
Moved to AWS CloudFormation Templates in the roadmap

[2019-10-09 04:45] #204 closed

[2019-10-09 04:46] Cyb3rWard0g commented on #203
Moved to AWS CloudFormation Templates in the roadmap

[2019-10-09 04:46] #203 closed

[2019-10-09 04:46] Cyb3rWard0g commented on #202
Moved to AWS CloudFormation Templates in the roadmap

[2019-10-09 04:46] #202 closed

[2019-10-09 04:51] #199 closed

[2019-10-09 04:51] #200 closed

[2019-10-09 04:51] #201 closed

[2019-10-09 05:22] tee2015 commented on #358
Thanks @Cyb3rWard0g , I am using filebeat instead of winbeat in my case, and I agree using kafkacat will help in check the published messages thank you for the commad will use it.

For the localhost:9092 didnt work in my case thats why I am using the docker name.

My confusion is on filebeat part, if I define my json log as a document_type (test) and on HELK server pipline I set the document_type

[2019-10-09 14:28] orange-tsai commented on #359
I chose basic, my understanding is then to leave username and password empty?

[2019-10-09 14:33] tee2015 commented on #358
My Filebeat config on the broadcaster host :
----- input ---
filebeat.inputs:

-type: log
  paths:
     - /var/log/file.json
  document_type: file

------------ output -------------
output.kafka:
 hosts: ["$IP:9092"]
 topic: "filebeat"
 codec.json:
   pretty.flase

[2019-10-09 14:44] neu5ron commented on #360
@webhead404 thanks for opening.

@Cyb3rWard0g yeah atleast at a minimum may be good to have ability to add rules and elastalert/watcher dynamically load/use the new rule - even if its just something simple like adding the new sigma rule to the rule/path and elastalert consumes it and adds it

[2019-10-09 15:00] neu5ron commented on #358
@tee2015 does running the following give you any more information?
`sudo /usr/share/filebeat/bin/filebeat -c /etc/filebeat/filebeat.yml -e`

also, is this a file type that could be better suited using a module? ie; apache, zeek, etc..
https://www.elastic.co/guide/en/beats/filebeat/current/configuration-filebeat-modules.html#enable-modules-d-configs

[2019-10-09 15:11] Cyb3rWard0g commented on #358
yeah lets run @neu5ron command to see if you are even making it to Kafka the right way.

[2019-10-09 15:16] tee2015 commented on #358
Hi @neu5ron  and @Cyb3rWard0g
![image](https://user-images.githubusercontent.com/14360476/66494776-eae7cd80-eb03-11e9-8175-eb504725b084.png)

[2019-10-09 15:27] neu5ron commented on #358
yeah most of the "errors" can be ignored, they are just informational such as `Not loading modules. Module directory not found: /usr/share/filebeat/bin/module`

but just to make sure.. There are logs actively being written to this file? if not, when was the last log written to this file you are trying to consume?

[2019-10-09 15:34] tee2015 commented on #358
I can echo to the file and I am receiving these logs on filebeat

![image](https://user-images.githubusercontent.com/14360476/66496213-4c10a080-eb06-11e9-9331-d2e48b1e1309.png)

while on kafka side still the same as above not receiving any
![image](https://user-images.githubusercontent.com/14360476/66496304-74000400-eb06-11e9-9591-41e915f8c9c5.png)

[2019-10-09 15:42] Cyb3rWard0g commented on #358
I do not see any logs being published to the kafka broker unless I am not looking at it closely enough. Can you share all the logs that were produced instead of just a portion of it. For example with winlogbeat I get:

- published 140 events or logs to kafka
- published 200 events or logs to kafka

something like that. i do not see that on yours. Unless filebeat behaves differently. I can see it c

[2019-10-09 18:51] mojomasterchris commented on #355
Will do, thanks for the help and I'll let you know how it goes

[2019-10-10 01:49] Cyb3rWard0g commented on #359
Can you please do a fresh install and provide more information about the installation? this is the installation wiki https://github.com/Cyb3rWard0g/HELK/wiki/Installation#helk-install

[2019-10-10 02:23] tee2015 commented on #358
Hi @Cyb3rWard0g these are the whole logs received its just repeated no 200 or 140 logs unfortuatelly:
---------------- LOGS -------------------------------
2019-10-09T22:19:31.815-0400    INFO    kafka/log.go:53 producer/broker/1 state change to [closing] because read tcp 10.80.2.10:49698->10.80.1.136:9092: i/o timeout

2019-10-09T22:19:31.815-0400    INFO    kafka/log.go:53 Closed connection to b

[2019-10-10 02:24] Cyb3rWard0g commented on #360
ahh ok! yeah, Im more interested in the webhook to interface with Elastalert than the rest. However, I believe adding the whole app just to translate Sigma to Elastalert and give me an interface to see them, I dont know if it would be worth to have that extra dependency just for that. It would be good to POC it! I just want to be careful because we have seen it with Bitsensor Elastalert UI and oth

[2019-10-10 02:26] Cyb3rWard0g commented on #358
how many logs are you expecting? It said it published 1? can you share a sample of the logs you are trying to send?

[2019-10-10 02:35] tee2015 commented on #358
I sent just 1 and received 1

echo '("test_filed":"test_value1"}' >>file.json

on kafkacat:
![image](https://user-images.githubusercontent.com/14360476/66534695-beaf6980-eb62-11e9-8466-e37f2fc240ee.png)

[2019-10-10 02:36] neu5ron commented on #358
see helk slack

[2019-10-10 02:40] tee2015 commented on #358
@neu5ron
![image](https://user-images.githubusercontent.com/14360476/66534912-7e042000-eb63-11e9-8d87-acc2e3b6182d.png)

Yup its landing safely :P

[2019-10-10 02:44] Cyb3rWard0g commented on #358
ok so it worked then @tee2015 . I can see the file was consumed by kafkacat. Now your output config needs to be updated to grab the nested field log.file.path. I can see it is not just simply `source` . You are using Winlogbeat 7.4 and they nested some fields. Let me know if that makes sense.

[2019-10-10 02:46] Cyb3rWard0g commented on #358
oh nice can you share your output and filter configs please?

[2019-10-10 02:49] tee2015 commented on #358
yes sure one minute @Cyb3rWard0g  :)

[2019-10-10 03:05] tee2015 commented on #358
broadcaster server : Filebeat configs :

#==================== Filebeat inputs =============================

filebeat.inputs:

# Each - is an input. Most options can be set at the input level, so
# you can use different inputs for various configurations.
# Below are the input specific configurations.

- type: log

  # Change to true to enable this input configuration.
  enabled: true

  # Paths t

[2019-10-10 03:09] Cyb3rWard0g commented on #358
Ok thank you! I am surprised the `if[source]` worked since that path was an embedded field value unless I did not see the `source` field in your kafka screenshot. I believe we can close this issue then since you were able to get logs over to HELK. correct @tee2015 ?

[2019-10-10 03:35] tee2015 commented on #358
Yes I will close it thanks @Cyb3rWard0g

[2019-10-10 05:00] orange-tsai commented on #359
@Cyb3rWard0g I did, same result.

[code]

docker.elastic.co/elasticsearch/elasticsearch:7.1.0   "/usr/share/elastics…"   34 minutes ago      Up 34 minutes       9200/tcp, 9300/tcp

port 9200 is not accessible. I install filebeat, steps..., check with Module status and nothing is ever ingested.
![button](https://user-images.githubusercontent.com/12297371/66540209-19ac7680-eaf9-11e9-83c6-97926726729

[2019-10-10 15:05] Cyb3rWard0g commented on #359
port 9200 should not be accessible from outside of the containers environment. That is by default. What do you mean with "which seems wrong?"  If you are looking for filebeat ingestion, take a look at this other issue where a user needed some help with it https://github.com/Cyb3rWard0g/HELK/issues/358 . Installation looks good to me. I just installed it again and I get logs from endpoints and all

[2019-10-10 15:08] Cyb3rWard0g commented on #355
Let us know if you have any issues with it @mojomasterchris . Closing this for now. We can open another issue if you face any issues with it. That process of exporting your docker images and loading them is pretty straight forward and it works just as if you were downloading the images once the docker-compose file is run. Thank you!

[2019-10-10 15:08] #355 closed

[2019-10-13 11:21] Fedora-Man commented on #353
I check the disk and it is not full:
[root@elk ~]# df -h
Filesystem               Size  Used Avail Use% Mounted on
/dev/mapper/centos-root   50G   24G   27G  48% /
devtmpfs                 7.8G     0  7.8G   0% /dev
tmpfs                    7.8G     0  7.8G   0% /dev/shm
tmpfs                    7.8G   98M  7.7G   2% /run
tmpfs                    7.8G     0  7.8G   0% /sys/fs/cgroup
/dev/sda1

[2019-10-13 15:47] ssi0202 commented on #319
hi again i did the network events - can you do a eyeball and see if it looks ok to you if so, ill do the rest of the event types in a similar fashion.

[code]

[2019-10-13 17:45] neu5ron commented on #319
looks good to me, make sure to quote the fields your renaming from. ie:
mutate {
  rename {
    “oldfield” => “newfield”
     “anotherfield => “anothernewfield”
  }
}

[2019-10-13 19:28] ssi0202 commented on #319
Ok like this
“[properties][EventTime]” => "event_date_creation”

Do i have to worry about the order of the fields ?

[2019-10-13 19:54] neu5ron commented on #319
yup, like that.

no order wouldnt matter in this case

[2019-10-14 07:44] SupamanPhong opened #361 "Could not run HELK via docker-compose file helk-kibana-notebook-analysis-alert-trial.yml"
Hi, i have some trouble when install helk, when i use trial is alert
 ERROR: Could not run HELK via docker-compose file helk-kibana-notebook-analysis-alert-trial.yml (Error Code: 1)
How can i fix this problem? Thanks a lot

[2019-10-14 09:03] s3curetty commented on #313
Thanks for implementing it :dancer:

[2019-10-14 19:04] Fedora-Man opened #362 "winlogbeat events are not shown in kibana"
Related to Issue #353
I check the disk and it is not full:

[code]

and I tried restarting zookeeper with the command:

`docker restart helk-zookeeper && docker restart helk-kafka-broker`

But still the same problem.

Also I dont see anything indexed in Kibana and I continously getting the following in helk-logstash logs:
`[2019-10-03T09:40:16,722][WARN ][org.apache.kafka.clients.NetworkClient] [C

[2019-10-15 02:17] #361 closed

[2019-10-15 03:09] Ol1ver26 opened #363 "Packetbeat configuration question"
**Describe the problem**
My HELK is in the school's VM and has Internet access, and also assigned the lab's intranet ip.
I want to use packetbeat to send network traffic data to VM from one computer in the lab.  I follow the instructions of ELK. (https://www.elastic.co/guide/en/beats/packetbeat/6.2/packetbeat-getting-started.html) At step 4, when i tring to config the kibana dashboard (packetbeat

[2019-10-15 07:56] letmejustdoit opened #364 "winlogbeat7.4 Not working properly HELK"
**Describe the problem**
I'm the docker on the new system to complete the test, but I can't run as well as anyone else.

Discover: Could not locate that index-pattern-field (id: @timestamp)
Error: Could not locate that index-pattern-field (id: @timestamp)
    at FieldParamType.deserialize (https://127.0.0.1:8088/bundles/commons.bundle.js:3:1442890)
    at https://127.0.0.1:8088/bundles/commons.bun

[2019-10-15 13:47] ameily opened #365 "Recommended Method of Ingesting Data from Third-party Tool"
I have a tool that runs outside of HELK. I'm curious what's the recommended / best method of ingesting the data from the tool into HELK. Playing around with HELK and reviewing the architecture, it looks like the only external ingest point is Kafka, which is fine. However, since I'm exporting data HELK doesn't have builtin support for, it looks like I need to:

- Create a new Kafka topic for my dat

[2019-10-15 14:29] ssi0202 commented on #319
hi again,

so currently i have two filters ready to test. I have to enable the api for MDATP data and shoot it to a azure hub etc before i can get data flowing and i probably will not have time this week. but if you can  take a look at the logstash-fu, ill test asap. One more thing how do i merge this into the sysmon index so i can just  use all the dashboards etc as it ? I would need to make an e

[2019-10-16 03:20] gvsrini opened #366 "ES Cluster Configuration"
I have been trying to get this to run on an ES cluster, but am finding it quite difficult. Has anyone already done this.

[2019-10-16 10:56] parahaoer opened #367 "How should I change the variable HELKIP in the container helk-kafka-broker？"
When I changed the network of HELK， how should I change the variable  ${ADVERTISED_LISTENER} in the container  helk-kafka-broker？

[2019-10-17 01:59] parahaoer commented on #367
[https://github.com/Cyb3rWard0g/HELK/issues/127#issuecomment-445438864](url)
it works！

[2019-10-17 02:01] #367 closed

[2019-10-17 16:07] neu5ron commented on #365
there is a beats input available in logstash. send to port 5044 on the HELK IP

[2019-10-17 16:13] neu5ron commented on #319
[code]

[2019-10-17 16:14] neu5ron commented on #362
can you send your winlogbeat config (remove any IP addresses or hostnames from the config please)

[2019-10-17 16:46] Fedora-Man commented on #362
I am using the config file provided by helk. see attached.

[winlogbeat.txt](https://github.com/Cyb3rWard0g/HELK/files/3740396/winlogbeat.txt)

[2019-10-18 05:34] tee2015 commented on #358
Hi @Cyb3rWard0g  yes you are right , no effictivness to that line :
if [source ] = ...
as per my understanding that if this file.json is on helk server then it will be beneficial to have it.

What I left on the output is just the elasticseach { configs} part
what is happening the data is indexed under no the specified index that I want and its coming under (indexme-*)
Not sure how to control the i

[2019-10-18 15:07] ssi0202 commented on #319
thanks ;)

[2019-10-18 16:28] Fedora-Man commented on #362
I have installed the helk on Amazon Linux and it is working fine! The only other difference with the Centos installation is docker version.

In Amazon Linux docker:
Docker version 18.06.1-ce, build e68fc7a215d7133c34aa18e3b72b4a21fd0c6136

In Centos 7 (installed by HELK):
Docker version 19.03.3, build a872fc2f86

Does this make any difference?

[2019-10-18 22:39] Cyb3rWard0g commented on #362
you say that you have HELK on AWS. Are your security groups set up to allow traffic to HELK?

[2019-10-18 22:41] Cyb3rWard0g commented on #363
Kibana is not exposed on port 5601 since it has nginx on the front. Can you share hour packetbeat config please?

[2019-10-18 22:42] Cyb3rWard0g commented on #364
Can you please share your Winlogbeat config?

[2019-10-18 22:43] Cyb3rWard0g commented on #364
can you check that your windows box can reach the IP address of your HELK?

[2019-10-18 22:44] Cyb3rWard0g commented on #366
I have not done it with the whole build yet.

[2019-10-18 22:46] Cyb3rWard0g opened #368 "Docker Installation Failing - Official Docker Script"
[code]

There is an issue already opened in here: https://forums.docker.com/t/issue-with-docker-engine-installation/83011

[2019-10-18 22:48] Cyb3rWard0g commented on #368
https://github.com/docker/for-linux/issues/830#issuecomment-543930808

[2019-10-18 22:52] Cyb3rWard0g commented on #368
It works now ;)

# Executing docker install script, commit: f45d7c11389849ff46a6b4d94e0dd1ffebca32c1
+ sh -c apt-get update -qq >/dev/null
+ sh -c DEBIAN_FRONTEND=noninteractive apt-get install -y -qq apt-transport-https ca-certificates curl >/dev/null
+ sh -c curl -fsSL "https://download.docker.com/linux/ubuntu/gpg" | apt-key add -qq - >/dev/null
Warning: apt-key output should not be parsed (stdo

[2019-10-18 22:52] #368 closed

[2019-10-19 12:14] Ol1ver26 commented on #363
May be difficult to read
this is my packetbeat.yml
#################### Packetbeat Configuration Example #########################

# This file is an example configuration file highlighting only the most common
# options. The packetbeat.reference.yml file from the same directory contains all the
# supported options with more comments. You can use it as a reference.
#
# You can find the full config

[2019-10-19 12:20] Ol1ver26 commented on #363
May be difficult to read
this is my packetbeat.yml
#################### Packetbeat Configuration Example #########################

#This file is an example configuration file highlighting only the most common
#options. The packetbeat.reference.yml file from the same directory contains all the
#supported options with more comments. You can use it as a reference.
#
#You can find the full configurat

[2019-10-19 12:21] Ol1ver26 commented on #363
May be difficult to read
this is my packetbeat.yml
#################### Packetbeat Configuration Example #########################

#This file is an example configuration file highlighting only the most common
#options. The packetbeat.reference.yml file from the same directory contains all the
#supported options with more comments. You can use it as a reference.
#
#You can find the full configurat

[2019-10-19 12:40] Cyb3rWard0g commented on #363
[code]
Elasticsearch's port 9200 is not exposed by default.

All the traffic can go either to Logstash or Kafka.

Also I would recommend to keep the config very simple and clean to start. You also have kibana pointing to port 5601, and it is not exposed in HELK

[code]
I would start setting the output to Kafka and point to your HELK's IP and port 9092. See if the data gets trapped by https://githu

[2019-10-19 13:19] Ol1ver26 commented on #363
i didnt enable logstash in packetbeats.yml, I thought this would make the whole process easier.
But my project do need logstash in the end, so is there any way i can send date to logstash first then logstash send those filtered date to elasticsearch?Or you recommend me use Kafka first?

And how should i expose port 9200 and port 5601 in HELK?

[2019-10-19 13:35] Cyb3rWard0g commented on #363
You do not need to expose Elasticsearch if you want to send data to it with HELK. HELK uses Kafka or Logstash. So I would comment out the elasticsearch output and use something like this:

[code]
Another reference: https://www.elastic.co/guide/en/beats/packetbeat/current/kafka-output.html

Make sure you comment out any other output that you have in your config.

Regarding dashboards, I wonder if y

[2019-10-19 13:41] Ol1ver26 commented on #363
Thank you for your detailed explanation.
I will go back to the school lab next Monday and have a try.
There may be new questions that will ask you.

[2019-10-19 13:43] Cyb3rWard0g commented on #363
Sounds good @Ol1ver26 ! Keep me posted. happy to help! Enjoy the rest of your weekend.

[2019-10-19 18:19] Fedora-Man commented on #362
I said I have another HELK on AWS and it is working fine but the one on premises is installed on Centos 7 and is the one having problem!

[2019-10-20 17:41] Fedora-Man commented on #362
I found the problem was the firewall in Centos 7 was blocking the traffic and when I stopped it everything works ok!

Any suggestion for the firewall configuration because I don't want to keep everything open and want to protect the server from attacks!

Thanks

[2019-10-20 17:49] neu5ron commented on #362
glad to hear you figured it out!
I would only inbound for the logstash/kafka ports from the servers that are forwarding your logs (ie: WEF server or devices with filebeat/winlogbeat/etc...
you could also password/TLS protect log forwarding - we haven't made this automatic in the configurations, but its an option.

[2019-10-21 06:24] Ol1ver26 commented on #363
Our uni's VM all shut down today due to overloaded, but i will have a try as soon as it fixed.

[2019-10-22 11:37] francescouk opened #369 "Cannot load winlogbeat using the installation guide"
**Cannot load the winlogbeat using the installation guide**

**Tried to restart the containers but did not resolved the problem. Also tested the connection between servers without any problems. Telnet the port 9092 with sucess**

**How could we replicate the issue?
![image](https://user-images.githubusercontent.com/1994892/67281982-f98c9800-f4a6-11e9-9cb3-a6945ca4a6cd.png)
**

**7.1**

**CentOS 7.

[2019-10-22 20:41] francescouk commented on #369
For some reason, looks like the kafka is not running so it cannot receive the logs from remote servers:

`[2019-10-22 20:35:18,645] INFO [KafkaServer id=1] started (kafka.server.KafkaServer)
[2019-10-22 20:35:18,647] WARN [SocketServer brokerId=1] Unexpected error from /172.18.0.4; closing connection (org.apache.kafka.common.network.Selector)
org.apache.kafka.common.network.InvalidReceiveException

[2019-10-23 06:52] tee2015 commented on #358
Solved using the default output 0098 filter and have my data separate :)

[2019-10-23 06:52] #358 closed

[2019-10-23 15:07] neu5ron commented on #369
@francescouk what operating system is HELK installed on?

[2019-10-23 15:12] francescouk commented on #369
CentOS 7.6

[2019-10-24 18:49] ssi0202 commented on #319
there it is, i have so far tested it if it passes the logstash config test, it does.  ill see i can set up the azure hub etc to get the data flowing into a test elk tomorrow or early next week.

if you can give som guidance as to where this should be inserted into the helk logstash pipeline i'd appriciate it.

[code]

[2019-10-25 03:06] letmejustdoit commented on #364
[root@8f2232e8a36d elasticsearch]# curl 127.0.0.1:9200/_cat/indices?v
health status index                                        uuid                   pri rep docs.count docs.deleted store.size pri.store.size
yellow open   elastalert_status                            lWyErjbeSiGSHp2lEGwvNA   1   1          0            0       283b           283b
yellow open   elastalert_status_silence

[2019-10-25 22:11] boris-Clover opened #370 "Anyone have issues with Kafka logs showing up in Kibana?"
**Describe the problem**
Kafka is receiving the logs from filebeat however not seeing the logs in Kibana. Updated the Kafka Broker listener

**What steps did you take trying to fix the issue?**

**How could we replicate the issue?**

**If you are having issue during the installation stage, please provide the HELK installation logs located at /var/log/helk-install.log**

**What version of HELK are

[2019-10-27 02:40] Cyb3rWard0g commented on #369
@francescouk , I see the `172.18.0.4` IP on the Kafka logs but then I see `10.100.0.154` also in the logs above. Can you share your deployment logs? Also, what is the IP address of your box? You have logs-endpoint-winevent-additional logs being populated. Can you provide a screenshot or sample of the data being populated? You might have modules enabled in your WInlogbeat config?

[2019-10-27 02:41] Cyb3rWard0g commented on #370
Can you provide some information about how you verify that you are receiving logs? and can you provide a sample of the data that is being sent to Kafka?

[2019-10-27 06:41] boris-Clover commented on #370
Thanks for responding... Using Kafkacat... Also tried updating the ip in the logstash pipeline but that didn't work either. It's not showing in the index at all

boris@ip-10-102-1-100:~$ kafkacat -b 10.102.1.100:9092 -t filebeat -C | more
{"@timestamp":"2019-10-25T20:09:47.293Z","@metadata":{"beat":"filebeat","type":"_doc","version":"7.4.1","topic":"filebeat"},"ecs":{"version":"1.1.0"},"host":{"na

[2019-10-27 06:51] Cyb3rWard0g commented on #370
Do you have a logstash config to handel the filebeat logs? Otherwise it will just be sent to: https://github.com/Cyb3rWard0g/HELK/blob/master/docker/helk-logstash/pipeline/9998-catch_all-output.conf . In Kibana, those catch_all indicex patterns are no created by default. however, you can create them via the Kibana console.

Management -> Kibana -> Index Patterns

![image](https://user-images.githu

[2019-10-27 06:57] boris-Clover commented on #370
So I didn't create a logstash config because the logstash.yml points to the pipeline configs. Should I just add that to the Kafka-input.conf?

HELK Kafka input conf file
# HELK build Stage: Alpha
# Author: Roberto Rodriguez (@Cyb3rWard0g)
# License: GPL-3.0

input {
  kafka {
    bootstrap_servers => "10.102.1.100:9092"
    topics => ["winlogbeat", "SYSMON_JOIN","filebeat"]
    decorate_events =>

[2019-10-27 06:59] Cyb3rWard0g commented on #370
let me know if my previous message makes sense to troubleshoot if all you need to do is add an output logstash config like the ones I showed above. Please and thank you !

[2019-10-27 07:03] boris-Clover commented on #370
Dammit!!! THANK YOU!!! Worked perfectly!!!  You saved me a few more hours of staring at the abyss looking at config files.. THANKS!!!

[2019-10-27 07:03] #370 closed

[2019-10-27 07:04] Cyb3rWard0g commented on #370
Awesome happy to hear that! np!

[2019-10-28 06:29] #362 closed

[2019-10-28 10:48] ssi0202 commented on #319
ran into this one when i try and install the logstash azure eventhub plugin to the logstash container

[code]

[2019-10-28 11:13] francescouk commented on #369
@Cyb3rWard0g, here is the sample of my winlogbeat.conf:

`winlogbeat.event_logs:
  - name: Application
    ignore_older: 30m
  - name: Security
    ignore_older: 30m
  - name: System
    ignore_older: 30m
  - name: Microsoft-windows-sysmon/operational
    ignore_older: 30m
  - name: Microsoft-windows-PowerShell/Operational
    ignore_older: 30m
    event_id: 4103, 4104
  - name: Windows PowerShell

[2019-10-28 12:06] ssi0202 commented on #319
hi

i can get it to work on my test ELK (logstash) but when i try and install the logstash azure evenhub i get the following

i tried to delete the gemfile.lock that is made and run it again but it ends up the the same place

Running `bundle update` will rebuild your snapshot from scratch, using only
the gems in your Gemfile, which may resolve the conflict.
[HELK-LOGSTASH-DOCKER-INSTALLATION-INFO]

[2019-10-28 13:08] Cyb3rWard0g commented on #369
I wonder if this is related to it: https://github.com/Cyb3rWard0g/HELK/issues/362

[2019-10-28 17:22] francescouk commented on #369
@Cyb3rWard0g , I´m not so sure. I still think is related with the heap space in java, as stated above in the logs.

[2019-10-30 08:21] ssi0202 commented on #319
i tried bumping the ELK images to 7.2.1 to see if it made a difference, no dice

here is the error info may be something trivial but i can't google-fu myself out of this one

bash-4.2$ logstash-plugin install logstash-input-azureeventhub
OpenJDK 64-Bit Server VM warning: Option UseConcMarkSweepGC was deprecated in version 9.0 and will likely be removed in a future release.
WARNING: An illegal refl

[2019-10-30 09:31] ssi0202 commented on #319
ok got it solved - it think, have to test
M$ changed the name of the plugin (after they took control over it) from
 logstash-input-azureeventhub to  logstash-input-azure_event_hub

so login to the logstash container go to bin dir and run this

logstash-plugin install  logstash-input-azure_event_hub

what threw me off was the fact that the "old" plugin worked fine in my windows based test elk on ve

[2019-10-30 13:42] ssi0202 commented on #319
ok c/p the needed changes to the helk-logstash pipeline dir. Fire it up there is /was data getting past but i seem to have a issue with a field ? how the heck to i trouble shoot this

[2019-10-30T13:40:13,136][WARN ][logstash.outputs.elasticsearch] Could not index event to Elasticsearch. {:status=>400, :action=>["index", {:_id=>"689fecea33bfadf0fc11658b6f572d28c5c2cc8a", :_index=>"logs-endpoint-wi

[2019-10-31 03:42] Ol1ver26 commented on #363
@Cyb3rWard0g Sorry didnt do much recently, the school's VM has been bad performance (intermittently loogin problem), making it impossible to work. I will continue as soon as the VM is repaired.

[2019-10-31 14:14] ssi0202 commented on #319
getting this now

[2019-10-31T14:11:55,029][WARN ][logstash.outputs.elasticsearch] Could not index event to Elasticsearch. {:status=>400, :action=>["index", {:_id=>"33727c6b0563c8a79517ef2b6063294423d88d89", :_index=>"logs-endpoint-winevent-additional-2019.10.31", :_type=>"_doc", :routing=>nil}, #<LogStash::Event:0x40bd10ba>], :response=>{"index"=>{"_index"=>"logs-endpoint-winevent-additional-2019

[2019-10-31 14:32] ssi0202 commented on #319
![image](https://user-images.githubusercontent.com/9341788/67955929-965fdb80-fbf3-11e9-8b1f-33ea90351472.png)

[2019-11-02 18:47] neu5ron commented on #369
does winlogbeat show any errors?
i am wondering if there is a crazy large windows event log.
also, what is your sysctl settings for tcp/network? they may need to be tuned/increased

[2019-11-05 11:33] squ1ddy opened #372 "No matching indices found: No indices match pattern "logs-endpoint-winevent-sysmon-*""
Hi,

First of all thanks for all the great work on this project. I've installed on Ubuntu 18.04 from a fresh git clone today.

I'm using the winlogbeat file from here:
https://github.com/Cyb3rWard0g/HELK/blob/master/winlogbeat/winlogbeat.yml

Which is working well to send event's etc:
![image](https://user-images.githubusercontent.com/57396486/68203192-5fd1f880-0019-11ea-8d9d-ead32641697e.png)

An

[2019-11-07 02:17] OmarSalimAhmed commented on #372
Facing the same issue, kafka is working well, but no indices being created

###################### Winlogbeat Configuration Example ########################

#======================= Winlogbeat specific options ===========================

# event_logs specifies a list of event logs to monitor as well as any
# accompanying options. The YAML data type of event_logs is a list of
# dictionaries.
#
#

[2019-11-07 12:04] OmarSalimAhmed commented on #372
Changed to winlogbeat 6.7.0 using the below config without success:
#======================= Winlogbeat specific options ==========================
winlogbeat.event_logs:
  - name: Application
    ignore_older: 30m
  - name: Security
    ignore_older: 30m
  - name: System
    ignore_older: 30m
  - name: Microsoft-windows-sysmon/operational
    ignore_older: 30m
  - name: Microsoft-windows-PowerShe

[2019-11-07 12:06] tee2015 commented on #372
Do U have data in the "logs" or in the "logs-endpoints-*" ?

[2019-11-07 12:25] OmarSalimAhmed commented on #372
No Data at All

Rebuilding the install now since it was new anyway, facing new errors with the installation actually.

Retrying the setup and will revert if the issue persists

[2019-11-07 13:00] tee2015 commented on #372
Did U remove the images and the containers of the old setup ? Do that by running helk_remove-container.sh
After that helk_install.sh

[2019-11-07 13:06] neu5ron commented on #372
winlogbeat should not be the issue, let me check if it is something else. also thanks @tee2015 for some of the recommendations

[2019-11-07 13:14] neu5ron commented on #372
ok I fixed in https://github.com/Cyb3rWard0g/HELK/pull/373
thanks for everybody's help!

let me know if any other issues. But I tested with latest winlogbeat (7.4.2) and on Sysmon, Security, and Application logs.

[2019-11-07 13:16] neu5ron commented on #372
there was an odd one-off where windows logs were coming in via the wrong channel name / casing. I implemented this fix but my syntax was off. Anyways, it should be fixed now

[2019-11-07 14:58] OmarSalimAhmed commented on #372
I cloned the git fresh on a new VM and it works smoothly, no errors so far.
Tried with logs forwarded centrally from a WEF and from individual PCs

Thank you

[2019-11-08 08:06] unfo commented on #58
Necroing this thread, but FWIW: **do not install docker-compose** - it will give you an incompatible version. Just installing docker's reqs will provide you with the compatible version.

via Docker's own manual:
[code]
That is sufficient!

I had this exact problem and with the same 18.x docker version etc, but I had foolishly installed `docker-compose` thinking I need that as well.

[code]

Once I

[2019-11-09 00:15] squ1ddy commented on #372
@neu5ron I just downloaded and retested everything is working now (screenshots below). Thank you very much for getting this fixed.

If you have the time / inclination I would like to understand a bit about your troubleshooting process so I might be able to help in future?

![image](https://user-images.githubusercontent.com/57396486/68518679-2b905d80-02e1-11ea-9c9a-3ed3ed7e1439.png)

![image](https

[2019-11-09 00:15] #372 closed

[2019-11-09 06:11] Cyb3rWard0g commented on #365
Let us know if you still have any questions about this @ameily .

[2019-11-09 06:11] #365 closed

[2019-11-09 09:02] Fedora-Man opened #374 "ngix ssl error"
Suddenly I got error (Bad Gateway) while connecting to Kibana through the browser!

nginx log is showing:

[code]

Any hint?

[2019-11-09 23:18] neu5ron commented on #372
Hey @squ1ddy thanks for asking actually :)
So basically I checked running containers using `docker ps` - and saw that `helk-logstash` was continually restarting (aka had a short uptime). Then I checked the logstash out put using
`docker logs --follow --tail 5 helk-logstash`
Which came to conclusion that there was an issue in one of the configurations.

[2019-11-09 23:19] #341 closed

[2019-11-09 23:20] #291 closed

[2019-11-09 23:21] neu5ron commented on #179
rewrote entire heap stuff.

[2019-11-09 23:21] #179 closed

[2019-11-09 23:28] neu5ron opened #375 "logstash wiki tracking"
Use this checklist to track logstash wiki and documentation

- [ ] Update HELK overview picture
  - [ ] remove alien vault logo
  - [ ] update with new indexes #256
- [ ] document catch all for windows
- [ ] document indexme catch all
- [ ] some general guideline on X amount of devices and or X amount of EPS and or X amount of storage - scenarios
- [ ] how to add custom configurations
- [ ] ECS an

[2019-11-09 23:30] neu5ron commented on #374
What browser and browser version are you using?

I am wondering if it may be due to NGINX config that denies certain insecure negotiation's like RC4 and such

[2019-11-09 23:31] neu5ron commented on #369
can you check the output of winlogbeat which should be located in the file:
`"C:\ProgramData\winlogbeat\logs\winlogbeat"`

[2019-11-09 23:33] neu5ron commented on #359
@orange-tsai please reopen if you have any updates or other questions/comments/suggestions.

thanks!

[2019-11-09 23:33] #359 closed

[2019-11-10 03:14] ameily commented on #365
Thanks for the help, I'm working on developing a Beat for my tool now.

[2019-11-10 07:50] Fedora-Man commented on #374
I get the same error on both Chrome (Version 78.0.3904.70) and Firefox (7.0)

[2019-11-10 08:47] squ1ddy commented on #372
Thanks @neu5ron  appreciate that. Looking forward to contributing.

[2019-11-12 21:02] robertnixon2003 opened #376 "Kibana waiting for ElasticSearch URI to become available"
**Describe the problem**
Kibana waiting for ElasticSearch URI to become available. Never comes up so then Nginx says bad gateway.

**What steps did you take trying to fix the issue?**
Add no proxy environment variable for docker containers. Pinged the ES container IP from the host and from inside the Kibana container.

**How could we replicate the issue?**
Not sure. Enable proxy for docker daemon

[2019-11-12 21:45] robertnixon2003 opened #377 "KSQL is sending metrics to version-check.confluent.io, need to add config to disable"
confluent.support.metrics.enable in the ksql config needs to be set to confluent.support.metrics.enable=false to stop ksql from sending data to confluent.io.

[code]

[2019-11-13 14:31] neu5ron commented on #374
what information does your browser show? are you going to Kibana via a domain or direct IP?

This is usually indicative of a browser not trusting SSL/SNI or browser using incorrect ciphers (which in this case is probably not the case with the versions of browsers you are using)

[2019-11-13 18:45] Cyb3rWard0g commented on #377
Thank you @robertnixon2003 ! I will take a look at it and add that to the build 👍

[2019-11-13 18:50] Cyb3rWard0g commented on #377
This is an open issue on the KSQL docker images as shown here: https://github.com/confluentinc/cp-docker-images/issues/378 , but it seems that KAFKA_CONFLUENT_SUPPORT_METRICS_ENABLE=false works. I havent tried it yet. Would you mind trying that on your current KSQL server if it is still running?

[2019-11-13 19:25] robertnixon2003 commented on #377
I am still having the proxy issues so my instance is not up at the moment.

[2019-11-13 19:25] robertnixon2003 commented on #376
Confirmed that is due to proxy settings. Docker containers are ignoring the noProxy variable for local communication between containers. Still researching why.

[2019-11-15 12:51] robertnixon2003 commented on #376
Had to add ENV variable to the DockerFiles themselves. I will contribute this to the FAQ this weekend.

[2019-11-15 12:51] #376 closed

[2019-11-16 18:14] neu5ron commented on #364
sorry for dropping the ball on this, can you send the output of the following:

Get operating system and version
for linux (except Mac) use:
`cat /etc/os-release`
for Mac/OSX use:
`sw_vers`
Get disk space, memory, processor cores, and docker storage
`echo -e "\nDocker Space:" && df -h /var/lib/docker; echo -e "\nMemory:" && free -g; echo -e "\nCores:" && getconf _NPROCESSORS_ONLN`
Get output of th

[2019-11-18 00:05] ystrela opened #379 "HELK and German Windows 10?"
#### Describe the problem
Hey, I followed exactly everything ippsec does in this video: https://www.youtube.com/watch?v=C2cgvpN44is (only difference is that I use winlogbeat 7.1, which is the same version as elastic on my helk stack)

My windows machine is sending sysmon data to my helk machine on the correct port. Now, I don't have any sysmon logs in my kibana. **I think this is due to that my wi

[2019-11-18 11:35] premum opened #380 "Winlog events not displaying in Kibana"
Hi,

I have configured HELK in Debian 10 and all the necessary docker services are running fine.
I have joined a Windows Server 2012 R2 using Winlogbeat 7.4.2 .
I am able to see the logs coming from Windows machine in Kafka, but the index patterns in Kibana are not created yet.
Loading the kibana page keeps on showing following error.
    No matching indices found: No indices match pattern "logs-e

[2019-11-19 14:44] omrirefaeli opened #381 "mitre-attack index question"
Hi ☺
just a small question, is the built-in index of mitre-attack is meant to log actual logs coming from remote hosts or to map the mitre attack framework tecniques to make it convenient on Kibana.
If the answer to this is the first option I mentioned, is there a specific data source that I need to feed Helk with?
thanks a lot, keep up the good work!

[2019-11-19 16:47] Fedora-Man commented on #374
The browser show:
**502 Bad Gateway**

And I am using the IP address.

[2019-11-22 15:43] yaap7 opened #382 "Minor typo in helk_install.sh"
I'm a huge fan of your work!
It helps docker-noobs like me to use such a great tool.

Thanks a lot for the effort your put in it!

#### Minor typo in helk_install.sh

I guess there is an incorrect command in `helk_install.sh` where the configuration file is at the end of the line.

This is what is in the install script:

[code]

and I had issues using it, so I think the correct command should be a

[2019-11-22 16:43] ssi0202 commented on #319
everything works fine now let me know if when to do a pull request (have to figure that out too first)

[2019-11-26 19:07] Cyb3rWard0g commented on #377
let me know when your instance is up to test this env variable: KAFKA_CONFLUENT_SUPPORT_METRICS_ENABLE=false. Thank you @robertnixon2003 !

[2019-11-26 19:08] Cyb3rWard0g commented on #382
Thank you @yaap7 ! I will add it for the next update. I appreciate it.

[2019-11-26 19:10] Cyb3rWard0g commented on #381
Hey @omrirefaeli , thank you for your question and I appreciate the feedback :) . The mitre-attack index is just to show the data available in the ATT&CK's public TAXII server. It is not yet built to tag events or anything like that. That is something that is coming soon with the development of the project OSSEM: https://github.com/hunters-forge/OSSEM

[2019-11-26 19:10] #381 closed

[2019-11-27 05:45] Cyb3rWard0g commented on #380
Hey @premum , I cannot replicate the issues that you are having. I created the following AWS cloud formation templates to deploy  a HELK stack with a Windows box and it is working fine.

CFN Files: https://github.com/hunters-forge/Blacksmith/tree/master/aws/HELK
HELK installation: https://github.com/hunters-forge/Blacksmith/blob/master/aws/HELK/cfn-templates/helk-server-template.json#L148-L159
Win

[2019-11-27 05:50] Cyb3rWard0g commented on #379
Hey @ystrela , I am tracking a potential similar issue here: https://github.com/Cyb3rWard0g/HELK/issues/380 . Can you please confirm the Winlogbeat version you are using and can you share your WInlogbeat config?

Also, can you provide an event sample that hits Kafka? I would like to know if the field names in German got something to do? I have never dealt with German field names, so I would like t

[2019-11-27 07:30] Cyb3rWard0g commented on #377
Actually this worked for me:

`KSQL_OPTS: "-Dconfluent.support.metrics.enable=false"`

I found the information here: https://docs.confluent.io/current/ksql/docs/installation/server-config/index.html#ksql-opts-environment-variable

logs went from:
[code]

to the following:
[code]

[2019-11-27 07:30] Cyb3rWard0g commented on #377
Tested it and it works! :)

[2019-11-27 07:31] #382 closed

[2019-11-27 07:31] #377 closed

[2019-11-27 07:38] Cyb3rWard0g commented on #380
might be related https://github.com/Cyb3rWard0g/HELK/issues/364

[2019-11-27 07:38] Cyb3rWard0g commented on #379
might be related too (winlogbeat 7.4.0) https://github.com/Cyb3rWard0g/HELK/issues/364

[2019-11-27 08:11] premum commented on #380
Hi

I replaced winlogbeat 7.4.2 with 7.4.0 and used exactly the same winlogbeat config file you have shared.., still no index created.

I am able to see the data coming to kafka using "bin/kafka-console-consumer.sh" under "winlogbeat" topic. What settings might be wrong.?
I have been trying to set this up for more than 2 weeks now..but unfortunately struck with this index creation error.
Does HELK

[2019-11-27 08:13] premum commented on #380
Sample log received in kafka:
{"@timestamp":"2019-11-27T08:07:56.654Z","@metadata":{"beat":"winlogbeat","type":"_doc","version":"7.4.0","topic":"winlogbeat"},"winlog":{"version":5,"opcode":"Info","process":{"pid":2836,"thread":{"id":1732}},"channel":"Microsoft-Windows-Sysmon/Operational","event_id":1,"record_id":7712,"task":"Process Create (rule: ProcessCreate)","provider_guid":"{5770385F-C22A-43E

[2019-11-27 11:55] omrirefaeli opened #383 "add custom data from filebeat [json]"
Hey :)
I am trying to add data from a script I wrote on a Windows computer to HELK. I saved the data in a JSON format.
I wrote a special .conf file to put in the logstash's conf.d folder (pipeline in HELK), but I don't have write permissions to the /opt/logstash/pipeline (/usr/share/logstash/pipeline) folder where all of the conf files are. (attached)
![image](https://user-images.githubusercontent

[2019-11-27 15:58] Cyb3rWard0g commented on #380
can you change the time window to one year and refresh the web page. can you also share the logs from your kafka broker? latest logs.  with no errors in Logstash, it does not seem to be pipeline. Also, with @neu5ron pipeline configs to send everything to an index, it does not seem to be a bad filter in the pipeline. mmm. Any ideas @neu5ron whenever you have a chance? Can you test HELK with a Windo

[2019-11-27 16:01] Cyb3rWard0g commented on #383
the pipeline is mounted from local HELK/docker/helk-logstash/pipeline. You have to make the changes on the host (i.e Ubuntu box) and not on the helk-logstash container. let me know if that helps. i would do the following:
- docker stop helk-logstash
- locally on the git folder HELK go to HELK/docker/helk-logstash/pipeline
- add your custom .conf to that folder (i.e HELK/docker/helk-logstash/pipeli

[2019-11-28 13:30] omrirefaeli commented on #383
Thank you very much for your time and comment.
it worked perfectly, the conf file is installed inside the docker.
now I just have to play with it a bit to create my own index.

however, the entire thing popped an important question for me. if at some point, I would like to use multiple logstashes, also from an external logstash ( which I tried in this case), is there a way to send the logs to HELK

[2019-11-28 13:59] Cyb3rWard0g commented on #383
Awesome I am glad the Logstash configs work. yeah you can update the whole pipeline locally, and it would work. Regarding exposing ES on port 9200, the project does not recommend to do that, but it is definitely possible. All you have to do is add the following lines with ports `9200:9200` under the Elasticsearch container in your docker-compose file

https://github.com/Cyb3rWard0g/HELK/blob/maste

[2019-11-28 13:59] #383 closed

[2019-11-28 14:29] omrirefaeli commented on #383
A hero. Thanks a lot!

[2019-11-29 22:47] ystrela commented on #379
Hey @Cyb3rWard0g,
Here is the winlogbeat config. I am running 7.1.0, but had the same problem with 7.4.2.
I tried 7.4.2 first, saw it didnt work, and uninstalled the 7.4.2 service and installed the 7.1.0 service. I am not sure if this screwed something up in the first place.

`# Winlogbeat 6, 7, and 8 are currently supported!
# You can download the latest stable version of winlogbeat here:
# https

[2019-11-29 22:55] ystrela commented on #379
Maybe one more addition:
Here are my elasticsearch indices. I have some information in my kibana but nothing related to winlogbeat I guess. The logs-endpoint-winevent-additional-* indices are not from winlogbeat right?

`
curl localhost:9200/_cat/indices
yellow open elastalert_status_status                     ggAgjyFhSRGpwgRJKe0_xw 1 1 115461     0  29.7mb  29.7mb
yellow open elastalert_status_pa

[2019-12-02 20:49] hisanmehmood opened #384 "unable to pass Step 9/18 of helk installation in ubuntu 18.04"
i am trying to install HELK on freshly installed Ubuntu 18.04 but unable to pass through Step 9/18.

i have tried many many times but same issue

Error Message:
""
Installed /usr/local/lib/python3.6/dist-packages/keyring-19.3.0-py3.6.egg
Searching for secretstorage
Reading https://pypi.python.org/simple/secretstorage/
Scanning index of all packages (this may take a while)
Reading https://pypi.pyth

[2019-12-03 01:37] ConfusedOldMan commented on #380
I had the same problem when I tried to change my IP by issuing the two commands here: https://github.com/Cyb3rWard0g/HELK/wiki/Update-Kafka-Broker-IP . Used fresh ubuntu 18.04.3 and windows 10 enterprise images with recommended winlog config. Winlogbeat.exe -e showed successful connection and published records to kafka, guessing the issue is between kafka and ELK, and something isn't getting updat

[2019-12-03 04:22] Cyb3rWard0g commented on #384
can you provide the whole log. I cannot see where secretstorage is referenced or if it is a dependency of a specific package. secretstorage is not specified in Sigma or Elastlaert as far as I can tell (requirements.txt file). Also, can you provide more information about your build? What build option are you using? Thank you in advance!

[2019-12-03 07:09] Cyb3rWard0g commented on #380
Hey @ConfusedOldMan , if you got a `successful connection` when publishing records to Kafka, after updating your kafka IP, then the `two commands` worked properly. Data not showing seems to be either a delay in Logstash or maybe logstash might be showing some error messages? I cannot replicate the issue on my end.

[2019-12-03 07:12] Cyb3rWard0g commented on #379
Can you share your helk-kafka-broker logs please? `docker logs helk-kafka-broker`. I can see what `winlogbeat` topic was not created in your logs.

Also, can you create an index pattern for `logs-endpoint-winevent-additional`? you can do it via Kibana with management > kibana index patterns > create index pattern> logs-endpoint-winevent-additional-* and see what you get in there?

[2019-12-03 07:13] Cyb3rWard0g commented on #369
closing due to inactivity. @francescouk feel free to re-open the issue if you still have issues with Winlogbeat. thank you!

[2019-12-03 07:13] #369 closed

[2019-12-04 06:47] hisanmehmood commented on #384
i am using option 2

[helk-install.log](https://github.com/Cyb3rWard0g/HELK/files/3920416/helk-install.log)

[2019-12-08 14:20] ystrela commented on #379
Hey, I found the error by looking at the kafka logs with the command you provided. It said that it could not reach 10.0.2.15, which was the IP of my helk stack initially. See below for more details.

This is what happened:
1. I installed HELK in a VM using the NAT network type with an IP of 10.0.2.15 initially.
2. After successful installation, I changed the network type to virtualhost only adapte

[2019-12-15 09:15] hisanmehmood opened #385 "unable to differenciate between multiple hosts"
i want to import logs from multiple resources i.e multiple windows and linux systems
but unable to see host(s) identity, is there any way to identify between multiple hosts??

also i have used winlogbeat configuration file from HELK repo

![source ip](https://user-images.githubusercontent.com/33222670/70860571-2019fd00-1f45-11ea-9874-f22a346b83f3.JPG)

[2019-12-15 23:07] Jon045 opened #386 "Winlogbeat Events not showing up on Kibana"
#### Describe the problem

I deployed helk in my Ubuntu 18.04 and installed winlogbeat on my host machine. Logs are being sent to Ubuntu VM (packets being sent verified by using tcpdump). Also verified by following command:
`sudo docker exec -ti helk-kafka-broker /opt/helk/kafka/bin/kafka-console-consumer.sh --bootstrap-server helk-kafka-broker:9092 --topic winlogbeat --from-beginning`

# Result:

[2019-12-16 12:51] Jon045 commented on #162
Hey @Cyb3rWard0g ,

I am still having this issue. I cloned the git repo today.

`sudo docker logs helk-logstash`

gives:

[code]
And consequently, events are not shown on Kibana Interface. I would really appreciate any help in this manner.

[2019-12-19 14:11] GeedieZ commented on #386
Having exact same problem. Here's the winlogbeat.exe -e:

There's also this "partitions leaderless"  thing.

Using winlogbeat; Version: 7.5.1
[code]

[2019-12-24 08:24] troplolBE commented on #386
@GeedieZ I have the same issue as you have. Have you tried to check your firewall rules? I saw in another issue #362 that he resolved the problem by turning off some firewall protections.

[2019-12-24 13:39] troplolBE opened #388 "Kafka CentOS issues, Winlogbeat events not publishing to Kafka"
#### Describe the problem
I have a little problem with Kafka not finding the topics. This creates a problem where Kibana doesn't get any logs.

This may be very simple to solve but I can't figure out why it doesn't work.

When I do `winlogbeat.exe -e` I get this output in my console:
[code]

Kafka broker logs look like this:
[code]

#### Provide the output of the following commands

Get operating

[2019-12-25 15:12] neu5ron commented on #386
all,

its doubtful its firewall issue on Ubuntu - but its worth checking/trying.

However, I see that the winlogbeat being used may not be installed as a service ( that doesn't necessarily matter, but I am curious to see the config now). Can you provide the winlogbeat config (make sure to remove any IP addresses from your config when sending it).

Also, send the output of the following from the fi

[2019-12-25 15:16] neu5ron commented on #386
I just installed the latest branch and 7.5 winlogbeat and sending sysmon - no issues. just a note, not saying anybody is wrong :)

[2019-12-25 15:17] neu5ron commented on #388
is selinux enabled?

[2019-12-25 15:19] neu5ron commented on #385
maybe I am missing some information, but this index you are in is just the status of the rules running..
logs themselves are in `logs-*` and rule fires from elastalert are in `elastalert_status`

[2019-12-25 15:21] neu5ron commented on #374
hey sorry on the late reply - anything different on this?

[2019-12-25 15:22] neu5ron commented on #384
@hisanmehmood
#### Provide the output of the following commands

Get operating system and version
for linux (except Mac) use:
`cat /etc/os-release`
for Mac/OSX use:
`sw_vers`
Get disk space, memory, processor cores, and docker storage
`echo -e "\nDocker Space:" && df -h /var/lib/docker; echo -e "\nMemory:" && free -g; echo -e "\nCores:" && getconf _NPROCESSORS_ONLN`
Get output of the HELK docker c

[2019-12-25 18:22] troplolBE commented on #388
Yes it is enabled on my machine, it is in enforced mode.

[2019-12-30 09:06] GeedieZ commented on #386
winlogbeat.yml:
[code]

It's the same error over and over again, nothing more:
[code]

**Current status:**
I can see some logs from the monitored workstation from the logs-endpoint-* and the same from mitre-attack-*:
![obraz](https://user-images.githubusercontent.com/13855585/71574922-284c6d80-2aeb-11ea-97c6-f9a7cdc8ad4d.png)
![obraz](https://user-images.githubusercontent.com/13855585/71575023-98f

[2019-12-30 17:04] Fedora-Man commented on #374
No the same issue!

[2019-12-30 17:42] Fedora-Man opened #389 "Free space"
The disk is becoming full so how to free space? Is the a house keeping procedure to free disk space frequently because logs will accumulate and disk space is limited!

[2020-01-02 15:55] Cyb3rWard0g commented on #389
Hey @Fedora-Man , the automatic free space is not set up in the project yet. something like curator should help. I will add that as a feature request.

[2020-01-02 15:59] Cyb3rWard0g commented on #386
can you provide the kafka broker logs ? `docker logs helk-kafka-broker` please.

[2020-01-02 18:13] francescouk opened #390 "Kafka InvalidReceiveException"
#### Describe the problem
Hello there,
I cannot get winlogbeat to talk with kafka. Only if I set straight to logstash. Can you please try to point me what´s wrong?

This is my output from winlogbeat.exe -e:
[code]

Kafka output:
[code]

#### Provide the output of the following commands

Get operating system and version
for linux (except Mac) use:
`cat /etc/os-release`
for Mac/OSX use:
`sw_vers`
Ge

[2020-01-03 11:24] neu5ron commented on #389
@Fedora-Man there is probably a combination or at least one of the following issues.. that we are aware of and are either working as we speak or documenting..
1) Docker logs filling up disk space
2) Data (logs being sent) in Elasticsearch
3) the monitoring data with the .mointoring indexes in Elasticsearch
#352

However, I may be able to provide a temporary workaround (but can't promise anything).

[2020-01-03 11:37] GeedieZ commented on #386
`[2019-12-30 07:32:14,226] INFO starting (kafka.server.KafkaServer)
[2019-12-30 07:32:14,228] INFO Connecting to zookeeper on helk-zookeeper:2181 (kafka.server.KafkaServer)
[2019-12-30 07:32:14,642] INFO [ZooKeeperClient] Initializing a new session to helk-zookeeper:2181. (kafka.zookeeper.ZooKeeperClient)
[2019-12-30 07:32:14,655] INFO Client environment:zookeeper.version=3.4.13-2d71af4dbe22557fda

[2020-01-04 06:37] Cyb3rWard0g opened #392 "error: open /usr/share/logstash/config/logstash.yml: read-only file system"
#### Describe the problem
Built BASIC 01/04/20202 HELK option and got the following error `error: open /usr/share/logstash/config/logstash.yml: read-only file system`. In the basic docker compose options, there is a new environment variable `https://github.com/Cyb3rWard0g/HELK/blob/master/docker/helk-kibana-analysis-basic.yml#L47` that was added in the latest commit : https://github.com/Cyb3rWard0

[2020-01-04 06:42] Cyb3rWard0g commented on #392
This : https://github.com/Cyb3rWard0g/HELK/commit/b536f48acd4b95b5c8c89890291be0128c1f10a6 Fixed it 😄

[2020-01-04 06:42] #392 closed

[2020-01-04 14:57] Fedora-Man commented on #389
I am having problem accessing Kibana (already reported as issue #374)

The output of the command:
`docker inspect --format='{{.LogPath}}' $(docker ps -a -q) | sudo xargs -n 1 du -ah
`Is:
[code]

[2020-01-04 17:54] neu5ron commented on #389
can you send output of `df -h`

[2020-01-05 06:01] neu5ron commented on #340
its installed now since 7.5.1 is main build

[2020-01-05 06:01] #340 closed

[2020-01-05 06:03] neu5ron commented on #319
yes, create pull request 👌👍👍👍👌

[2020-01-06 02:10] Cyb3rWard0g opened #393 "Dashboards do not exist /usr/share/kibana/objects/dashboards/*.json"
#### Describe the problem
After latest update, there are not saved dashboards or visualizations.

![image](https://user-images.githubusercontent.com/9653181/71790636-75ef3b80-2fff-11ea-9ef8-b0ea7782629d.png)

#### What version of HELK are you using

just provide the date you cloned the HELK repo:
[code]

#### What version of Winlogbeat are you using if you are using Windows/WEF logs

just provide

[2020-01-06 02:29] #393 closed

[2020-01-06 02:49] Cyb3rWard0g opened #394 "Setting URL session store NOT FOUND error"
#### Describe the problem
current script tries to set the Setting URL Session setting in Kibana:
[code]
Unfortunately, I get the following error:
[code]

#### Provide the output of the following commands

#### What version of HELK are you using

just provide the date you cloned the HELK repo:
[code]

#### What version of Winlogbeat are you using if you are using Windows/WEF logs

##### What steps

[2020-01-06 02:50] #394 closed

[2020-01-06 03:24] Cyb3rWard0g commented on #388
`winlogbeat=UNKNOWN_TOPIC_OR_PARTITION` can you share your kafka-broker logs. I would like to see if the topic got created or not or what the error was.

[2020-01-06 03:27] Cyb3rWard0g commented on #386
I can see your Kafka broker is not up:
[code]

[2020-01-06 03:41] Cyb3rWard0g commented on #386
@GeedieZ do you have two network interfaces on your HELK? I see the advertised IP for kafka broker set to `192.168.111.50` is that the IP assigned to your HELK box?

[2020-01-06 07:36] troplolBE commented on #388
Hey, here are the logs of the Kafka broker. The logs are from when I created the HELK instance. I searched in the logs and yes the topics are created.
https://hastebin.com/towahifaju.coffeescript

[2020-01-07 07:11] GeedieZ commented on #386
Well, according to docker it is running:

[code]

Yes, that's the HELK box address. The whole Helk instance is on my vCloud vApp. I'm reaching it from my computer on a different network (and some NAT-ing is done of course).

[2020-01-07 10:00] GeedieZ commented on #386
Ok, so here's my architecture, maybe this will clear some things up.
I'm running a vApp on our development vCloud environment. In the vApp I only got one VM with Ubuntu and Helk installed. The internal network of the vApp is 192.168.111.0/24, the Ip address assigned to this perticular VM is 192.168.111.50
On the edge gateway (a virtual router for vCloud environment) I've made some NAT settings to

[2020-01-08 15:37] webhead404 opened #395 "HELK Quality of Life improvements"
This issue is solely related to conversations I have had with @neu5ron on improving HELK. He asked me to track them here.

Improvements:
1. Custom sigma rules
         * Possible solutions are a custom folder that references a host folder.

2. Custom ElastAlert rules
         * Possible solutions are a custom folder that references a host folder.

3. Changes to ElastAlert rule buffer from 45 secon

[2020-01-08 15:39] Fedora-Man commented on #389
here is the output of df -h:
[code]

[2020-01-08 15:41] webhead404 commented on #389
Another option that hasn't been discussed is creating index lifecycle management policies in Elastic. https://www.elastic.co/guide/en/elasticsearch/reference/current/index-lifecycle-management.html

[2020-01-08 15:51] Fedora-Man commented on #389
How to enable ILM in helk?

[2020-01-11 01:25] neu5ron commented on #395
additionally I have been thinking, an index just for logs for alerting. then have this index age out / delete after 1-2 days. timestamps across logs whether timezone, delays, laptop offline, etc can make any database alerting inconsistent. the timestamp would be used at write, and buffer time of an hour or so should be good... just think, if database is in UTC and logs are in EST your 4-5 hours

[2020-01-11 01:33] neu5ron commented on #395
#397

[2020-01-13 11:22] troplolBE opened #400 "Scala version not existing"
#### Describe the problem
In the newest version of the Dockerfile in the helk-kafka-base directory, a variable called SCALA_VERSION is set to 2.13.1 to download Kafka. The problem is that there is no version of Kafka corresponding to kafka-2.13.1-2.4.0. The version available is kafka-2.13-2.4.0.

This results in not downloading the latest version of Kafka and scala.

To resolve this you just need

[2020-01-13 13:13] linuxesabz opened #401 "docker kafka-broker and ksql restarting continues"
i install centos 7
and install helk
selinux is disabled
but when i execute docker ps -- status kafka-broker and ksql is restarting and container is not runing
log /var/log/helk-install.log not showing error

[2020-01-13 14:02] troplolBE commented on #401
hi @linuxesabz !

I have the same issue with my CentOS 7 machine. Can you just make sure to proviude everything that is asked by the issues template so that the authors can win time by directly investigating the logs ? If you want to take a look a my issue and compare with your problem it is this one #388.

[2020-01-13 15:32] #400 closed

[2020-01-13 15:34] neu5ron commented on #400
thanks for report @troplolBE !

[2020-01-13 15:36] Cyb3rWard0g commented on #336
Hey @nopsecurity , I will close this issue for now. Thank you for the initiative. Let me know if you end up working on this via scripted fields as you mentioned before. We will review the PR if it is something you would like to contribute to the project. Thank you in advance!

[2020-01-13 15:36] #336 closed

[2020-01-13 16:48] Cyb3rWard0g commented on #304
closing this due to inactivity.

[2020-01-13 16:48] #304 closed

[2020-01-13 16:49] #263 closed

[2020-01-13 16:51] Cyb3rWard0g commented on #385
Let us know if you have any other issues @hisanmehmood

[2020-01-13 16:51] #385 closed

[2020-01-13 16:53] Cyb3rWard0g commented on #379
Awesome thank you very much for providing all those details @ystrela

[2020-01-13 16:53] #379 closed

[2020-01-13 18:02] neu5ron commented on #254
fixed with January release

[2020-01-13 18:02] #254 closed

[2020-01-13 18:06] #267 closed

[2020-01-13 18:47] neu5ron commented on #327
the passwords will be closed in different update

[2020-01-13 18:47] #327 closed

[2020-01-14 03:53] chinguunhr opened #403 "ElastAlert is not working after fresh install"
Hi folks,
Elastalert is not working properly. Here is elast alert log.

`ERROR:root:Error writing alert info to Elasticsearch: RequestError(400, 'illegal_argument_exception', 'mapper [match_body.z_logstash_pipeline] of different ty
pe, current_type [keyword], merged_type [long]')
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/elastalert-0.2.1-py3.6.egg/elastalert

[2020-01-14 12:25] troplolBE opened #404 "Kafka container not up to date"
#### Describe the problem
The helk-kafka-base container is not being rebuilt but only downloaded from the docker hub. This prevents the download of the newest version of Kafka. I may be wrong and unable to use docker properly but I did a fresh installation twice (Centos 7 and Ubuntu 18.04) and on both installations, the Kafka version was still kafka-2.12-2.2.0.

I haven't managed to fix the issue

[2020-01-14 19:33] nopsecurity commented on #336
Hi Roberto

My apologies for not replying sooner. I'm not sure what is the best way to
contact you, but I ended up modifying all of the sigma rules within helk to
include mitre tactic, technique and description. I created a custom alerter
which worked better than scripted fields that pulls in all of the MITRE
information on alert. I have a MITRE dashboard I created that im using as
my primary dash

[2020-01-15 04:13] neu5ron commented on #403
had HELK every previously been installed on this machine?

[2020-01-15 04:15] neu5ron commented on #390
can you provide your winlogbeat config? please remove any of your IPs when sending

[2020-01-15 04:17] neu5ron commented on #389
let me know if this helps:
https://www.elastic.co/guide/en/kibana/current/creating-index-lifecycle-policies.html

we dont have a perfect way to know after what date or amount left for people in order to delete logs. but in future releases this is on are radar.

[2020-01-15 04:18] #384 closed

[2020-01-15 04:19] #380 closed

[2020-01-15 04:19] #364 closed

[2020-01-15 04:21] neu5ron commented on #319
@ssi0202 can you send the final config? i will add it in next pipeline release that way you dont have to do a PR

[2020-01-15 04:21] neu5ron commented on #136
fixed, please let me know if any questions

[2020-01-15 04:21] #136 closed

[2020-01-15 04:23] neu5ron commented on #404
thanks for posting this, will have an update tomorrow (EST timezone).

[2020-01-15 08:18] chinguunhr commented on #403
No. I had installed HELK on new system.

[2020-01-15 09:03] tgocoh opened #407 "ElastAlert rule"

[2020-01-15 09:05] #407 closed

[2020-01-15 09:14] tgocoh opened #408 "ElastAlert rule test passed but writing status error log"
Installed HELK with Elk stack 7.5 on Ubuntu 18.04. So, Many error logs written indexed by elastalert error status. I checked sample rule from it but this rule working fine when test with elastalert-test-rule tool.
![image](https://user-images.githubusercontent.com/45187522/72420852-64095780-37ba-11ea-9f8e-7bcd85c49f29.png)

![image](https://user-images.githubusercontent.com/45187522/72420797-50f68

[2020-01-15 14:40] neu5ron commented on #408
can you send the output of the following command, note it must be run with in the HELK directory.
`cd HELK && cat .git/refs/heads/master`

[2020-01-15 14:41] neu5ron commented on #403
can you send the output of the following command, note it must be run with in the HELK directory.
`cd HELK && cat .git/refs/heads/master`

[2020-01-15 21:36] francescouk commented on #390
[code]

[2020-01-16 01:18] chinguunhr commented on #403
cat .git/refs/heads/master
fa329ccdb168e6735791649ea848be577f34373c

Thank you in advance.

[2020-01-16 01:23] neu5ron commented on #403
can you reclone the repo and try? I pushed a few updates today. You will first need to run `sudo /bin/sh HELK/docker/helk_remove_containers.sh`

[2020-01-16 03:27] chinguunhr commented on #403
After did what you suggested, its still now working. Here is log
File "/usr/local/lib/python3.5/dist-packages/elasticsearch/client/__init__.py", line 370, in index
    "POST", _make_path(index, doc_type, id), params=params, body=body
  File "/usr/local/lib/python3.5/dist-packages/elasticsearch/transport.py", line 358, in perform_request
    timeout=timeout,
  File "/usr/local/lib/python3.5/dist-pa

[2020-01-16 03:32] neu5ron commented on #403
there has to be a elasticsearch instance laying around somewhere.
run the remove containers script again, then run
`docker volume prune`
then rebuild.. I really havent seen this error your having since mid 2019. I definitely believe you, im just scratching my head 🙃

[2020-01-16 03:35] neu5ron commented on #408
this should have been fixed, atleast a very similar issue, yesterday/today, so it may be worth updating.

[2020-01-16 03:35] neu5ron commented on #404
this should be fixed now, please confirm / let me know otherwise

[2020-01-16 06:30] chinguunhr commented on #403
:) . thank you for your effort.

[2020-01-16 06:57] chinguunhr commented on #403
it works now.

[2020-01-16 06:57] #403 closed

[2020-01-16 07:37] troplolBE opened #411 "Remove script not fully functionnal"
#### Describe the problem
I install and remove HELK a lot for testing purposes and remarked that the `helk_remove_containers` script only removes the containers but not all the rest that the installation script creates. I changed the script a little bit and want to propose it to everybody.

You can find new code here:
https://hastebin.com/obuxozekop.bash
or in the pull request #410

Please let me

[2020-01-16 08:08] troplolBE commented on #404
Hi @neu5ron ,

Thank you for your quick response and action time. The new container is now downloaded properly and the latest version of kafka is now downloaded.

[2020-01-16 08:08] #404 closed

[2020-01-16 19:05] neu5ron commented on #411
nice! we need to add a check to perform `docker volume prune` on the es_data module - is that something can be done?

[2020-01-16 19:10] troplolBE commented on #411
Hey @neu5ron

I will work on that tomorrow. (Belgium time) Can you explain me what that command does ?

[2020-01-17 02:24] tgocoh commented on #408
How I update without delete elasticsearch logs and configs and only reinstall elastalert? This patch is related other applications?

[2020-01-17 15:29] troplolBE commented on #411
Hey @neu5ron

I made a ne version with the prune command if chosen for.
here is the code on pastebin: https://pastebin.com/yQqwk7j8

I haven't changed it in the PR yet, please let me know if this is what you had in mind.

[2020-01-17 17:30] neu5ron commented on #411
yup thats it, awesome!

[2020-01-17 17:36] troplolBE commented on #411
Do you want me to adapt this in my pull request ?

[2020-01-20 16:21] neu5ron commented on #411
yeah that would be great, just add the command to be specific using `docker volume rm docker_esdata`

[2020-01-20 16:22] neu5ron commented on #408
you can run the `helk_update.sh` script

[2020-01-20 16:30] neu5ron commented on #388
there is either an error with the kafka build/install, which you can re-run docker build or the helk_update script. otherwise, I would double check any selinux errors within `/var/log/audit/audit.log`
additionally check that port 9092 is open

[2020-01-20 16:37] troplolBE commented on #388
Hey @neu5ron

I know the problem and proposed a script to fix it to @Cyb3rWard0g today. Please look at my pull request it is inside too.

[2020-01-21 07:54] troplolBE commented on #411
After some investigation, I think that there is no need to integrate that command. The `-v` option in the `docker-compose down -f $FILE down --rmi all -v` command already deletes the volume `docker_esdata`.

![image](https://user-images.githubusercontent.com/12971225/72785443-8de3d380-3c2b-11ea-8843-b57ea3da6010.png)

[2020-01-21 08:11] troplolBE commented on #411
![image](https://user-images.githubusercontent.com/12971225/72786499-051a6700-3c2e-11ea-89d6-17f7667d98a1.png)

[2020-01-23 00:49] neu5ron commented on #390
is it possible for you to rebuild? there have been a lot of updates to kafka recently that may alleviate this issue.

[2020-01-23 00:53] neu5ron commented on #386
for some reason it appears kafka did not get installed/built correctly.
The partition error you just posted, thats one of the most basic parts of the kafka install - which leads me to believe if that winlogbeat partition didnt get built then kafka errored out pretty early. Are you able to update to latest HELK config? Especially if you dont have data.
Sorry for the hassle.

[2020-01-24 22:56] #363 closed

[2020-01-24 22:56] #354 closed

[2020-01-25 03:20] neu5ron commented on #174
fixed in https://github.com/Cyb3rWard0g/HELK/pull/415

[2020-01-25 03:20] #174 closed

[2020-01-25 03:20] neu5ron commented on #411
merged.. in https://github.com/Cyb3rWard0g/HELK/pull/415

[2020-01-25 03:20] #411 closed

[2020-01-25 03:21] neu5ron commented on #401
closing, please add notes to #388
CentOS compatibility has been merged, please test new build and add notes there
https://github.com/Cyb3rWard0g/HELK/pull/415

[2020-01-25 03:21] #401 closed

[2020-01-25 05:50] neu5ron commented on #333
this should be a non-issue with the new updates. please re-open if there is still an issue

[2020-01-25 05:50] #333 closed

[2020-01-25 05:51] #328 closed

[2020-01-25 05:53] #337 closed

[2020-01-25 05:54] neu5ron commented on #374
can you try to update HELK?

[2020-01-27 04:29] SecOpsWarrior opened #420 "error: open /usr/share/logstash/config/logstash.yml: permission denied"
New install with latest code (verified). Noticed this issue with #156 last year at this same time...maybe a file needs to be updated somewhere.

2020-01-27T04:24:00.172670365Z [HELK-LOGSTASH-DOCKER-INSTALLATION-INFO] Setting Elasticsearch server name to helk-elasticsearch
2020-01-27T04:24:00.172731959Z [HELK-LOGSTASH-DOCKER-INSTALLATION-INFO] Setting Elasticsearch server port to 9200
2020-01-27T04

[2020-01-27 05:13] SecOpsWarrior commented on #420
Disregard. I was trying to install in "/" and remembered I needed to install using sudo in home directory of user performing the install to get this to work properly. Once I cloned the repository to /home/username everything worked.

[2020-01-27 05:13] #420 closed

[2020-01-29 19:50] ssi0202 opened #421 "kibana server not starting"
#### Describe the problem

kibana not starting

#### Provide the output of the following commands

just did a clean install on ubuntu 18.04 version

everything goes as planned but i get this from the kibana container

elasticsearch is up ok

HELK-KIBANA-DOCKER-ENTRYPOINT-INFO: Setting Elasticsearch URL to http://helk-elasticsearch:9200
HELK-KIBANA-DOCKER-ENTRYPOINT-INFO: Setting Kibana server to h

[2020-01-29 20:30] SecOpsWarrior opened #422 "Elastalert query filter not working - but query works fine in Kibana"
For the sigma_av_relevant_files.yml rule, I have added some regex to ignore certain powershell files generated whenever a script is kicked off by our RMM. The query works PERFECTLY in Kibana when I test it, but does not do the same filtering job in Elastalert, and I get flooded with the alerts that should be filtered out.

Any ideas why this works great in ES but not in Elastalert?

ES QUERY:
'''

[2020-01-29 23:49] neu5ron commented on #421
does it repeat this message forever? is this a fresh install? were you previously using trial and now using basic license?
can you run `cat .git/refs/heads/master`

[2020-01-30 18:43] ssi0202 commented on #421
~/HELK/HELK/.git/refs/heads$ cat master
9b09365eae5700428f1c595365a97fb6dec6b7c4

logged into the kibana container and found this

"type":"log","@timestamp":"2020-01-30T18:09:43Z","tags":["warning","migrations"],"pid":9,"message":"Unable to connect to Elasticsearch. Error: [resource_already_exists_exception] index [.kibana_2/SQu7mVj-SuetKv1KYy3oew] already exists, with { index_uuid=\"SQu7mVj-SuetK

[2020-01-30 18:46] ssi0202 commented on #421
ima a dumbass after this i just restarted the nginx container got dashboards close this ;)

[2020-01-31 11:26] EliWallic opened #423 "Stuck at Waiting for some services to be up"
#### Describe the problem

#### Provide the output of the following commands

Get operating system and version
for linux (except Mac) use:
`cat /etc/os-release`
NAME="Ubuntu"
VERSION="18.04.4 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.4 LTS"
VERSION_ID="18.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchp

[2020-01-31 11:44] troplolBE commented on #423
Can you please give the logs of the helk-logstash container? (`docker logs helk-logstash`)
Does log ingestion work properly ?

[2020-01-31 12:38] EliWallic commented on #423
Its repeating the following

[HELK-LOGSTASH-DOCKER-INSTALLATION-INFO] Setting Elasticsearch server name to helk-elasticsearch
[HELK-LOGSTASH-DOCKER-INSTALLATION-INFO] Setting Elasticsearch server port to 9200
[HELK-LOGSTASH-DOCKER-INSTALLATION-INFO] Connected successfully to elasticsearch URI..
[HELK-LOGSTASH-DOCKER-INSTALLATION-INFO] Uploading templates for field & value mappings and index settin

[2020-01-31 12:41] EliWallic commented on #423
Regarding the permissions denied

root@HELK:~# sudo docker exec -ti helk-logstash bash
bash-4.2$ cd config/
bash-4.2$ ls -ltr
total 32
-rw-r--r-- 1 root root  142 Jan 31 09:44 pipelines.yml
-rw-r--r-- 1 root root 8203 Jan 31 09:44 logstash.yml.reference
-rw-r--r-- 1 root root  316 Jan 31 09:44 logstash.yml
-rw-r--r-- 1 root root 5042 Jan 31 09:44 log4j2.properties
-rw-r--r-- 1 root root 2018 Jan 3

[2020-01-31 12:52] troplolBE commented on #423
How did you download HELK? Did you use git and cloned or did you make use of the zip archives in the release section? Because this seems like an old issue to me, my logstash logs don't look like that.

[2020-01-31 12:54] EliWallic commented on #423
I used this one: https://thehelk.com/installation.html
Just with:
git clone https://github.com/Cyb3rWard0g/HELK.git
cd HELK/docker
sudo ./helk_install.sh

nothing more

[2020-01-31 12:56] troplolBE commented on #423
Hmmmm, intresting one. Which installation option did you go for ?

[2020-01-31 12:57] EliWallic commented on #423
First try with option 2.
Second with Option 4

Both cases were the same result

[2020-01-31 21:20] SecOpsWarrior commented on #422
Figured it out. For some reason, using parens to enclose the query in elastalert wasnt properly sending the whole query, it was only grabbing he first condition.  Changing the elastalert query to the below resolved the issue. Does anyone have an idea why this is? Bug or expected behavior?

[code]

[2020-01-31 22:07] neu5ron commented on #423
ok I see that you may be using the trial version, let me double check that there has not been an issue commited with trial vs basic license - there is not much configuration difference between the two, but every once in a while I get tripped up on one of the very small differences and this may be it.

@troplolBE thanks for helping!

[2020-01-31 22:23] neu5ron commented on #422
I will get back to on this response, but your not crazy :)
its not a major issue of sorts, but with elasticsearch and analyzers and changes in elastic 7.x and a few other things this is not surprising.

I am going to keep this issue open

[2020-01-31 22:54] #421 closed

[2020-01-31 22:55] neu5ron commented on #388
reopen if still an issue, script merged 🙃 thanks for the help

[2020-01-31 22:55] #388 closed

[2020-01-31 23:23] neu5ron commented on #423
I just did a fresh install and use option 2 and trial and all was well, are you using basic or trial?

Did you modify `docker/helk-logstash/config/logstash.yml` at all? Its ok if so, just wanting to get all the info.

Was HELK ever previously installed on this machine?

[2020-02-01 08:26] EliWallic commented on #423
I used the default value basic... so i just hit enter. It was a fresh install also a complete new azure vm with ubuntu 18 as required for installation. Also no files were modified. Are the permissions correct? It tells access denied and some folders have Root:Root in logstash and some other have logstash:root

[2020-02-01 14:21] neu5ron commented on #423
the permissions should be `logstash:root`
are you able to change the permissions to that?

[2020-02-01 15:30] EliWallic commented on #423
I tried it but got operation not permitted. I used the docker command like in the installation doc with chown -R logstash:root

[2020-02-01 15:50] neu5ron commented on #423
ok, apologize for this. Will see if I can fix upstream in the repo over the weekend. I have tested basic a few times. But for now, if you add line 13 and 14 from [here](https://github.com/Cyb3rWard0g/HELK/blob/master/ ) to your local file `docker/helk-logstash/Dockerfile`

then change the docker compose file your using you can view which one to use in`/usr/share/helk/helk.conf` and replace the lin

[2020-02-01 23:08] EliWallic commented on #423
Thanks - i tired the steps but currently i am getting an error:

  current directory: /usr/share/logstash/vendor/bundle/jruby/2.5.0/gems/ffi-1.12.2/ext/ffi_c
/usr/share/logstash/vendor/jruby/bin/jruby -r ./siteconf20200201-1-1rqocoe.rb extconf.rb
OpenJDK 64-Bit Server VM warning: Option UseConcMarkSweepGC was deprecated in version 9.0 and will likely be removed in a future release.
WARNING: An ill

[2020-02-02 17:02] neu5ron commented on #423
wonder if thats an internet access issue?
Lets try one more thing if you have time,
1) run `sudo helk_remove_containers.sh`
2) run `sudo helk_install.sh` use option 2 with trial license. No need to modify the docker compose file now.

[2020-02-02 23:21] EliWallic commented on #423
Sorry its the same. No luck.

[2020-02-02 23:27] neu5ron commented on #423
weird. OK, let me do some research on azure ubuntu template and do some tests again and I will get back to you.
I can’t replicate this, but not to say I don’t believe you.

[2020-02-03 06:14] #408 closed

[2020-02-03 11:57] EliWallic commented on #423
Maybe your setup is a little different? Which OS you are using?
I tested also an CentOS 7 distro but its also the same. I tested always with Option 4:
- default installation doc
- with uncomment the 2 lines 13 & 14
- basic and trial

[2020-02-03 12:01] troplolBE commented on #423
Hi @EliWallic

Neither me or @neu5ron use a Azure VM and we always test the installation out on local VM's or other VPS. I was wondering if you have root access or if you only have sudo? If you have sudo can you give the output of `sudo -l` ?

[2020-02-03 12:11] EliWallic commented on #423
root@HELK:~# sudo -l
Matching Defaults entries for root on HELK:
    env_reset, mail_badpass, secure_path=/usr/local/sbin\:/usr/local/bin\:/usr/sbin\:/usr/bin\:/sbin\:/bin\:/snap/bin

User root may run the following commands on HELK:
    (ALL : ALL) ALL
root@HELK:~#

[2020-02-03 16:33] neu5ron commented on #423
@EliWallic can you send the output of the following running from with the HELK directory
`cat .git/refs/heads/master`

[2020-02-03 16:36] rev10d commented on #423
@EliWallic - we saw a similar issue when testing on Azure. We discovered Azure's cloud services VMs were running on the version 5 kernel (uname -arn should confirm). We manually installed a version 4 header on a clean Azure VM and the HELK installation completed and functioned normally.

[2020-02-03 17:26] neu5ron commented on #423
ok I pushed a test image, if this doesn't work then will have to try @rev10d recommendation..

in your file `helk-kibana-analysis-alert-basic.yml` change the line `image: otrf/helk-logstash:7.5.2` to `image: otrf/helk-logstash:7.5.2.1`
You will have to use option 2 with basic license to use this image.

Run the following commands to install but make sure to change the variable `ADVERTISED_LISTENER

[2020-02-03 19:40] EliWallic commented on #423
0f9472212eb3dbdd7e8bf3299aca47d8d133a8c6

[2020-02-03 20:43] EliWallic commented on #423
Again no luck with both versions...I installed the linux-headers-4.18.0-1025-azure.
Should I also use line 13 and 14 again?

[2020-02-03 21:01] neu5ron commented on #423
any remnants of `build: helk-logstash` need to be replaced with `image: otrf/helk-logstash:7.5.2.1`
that image I created a few hours ago that is an attempt to do permission changes.

can you send the output of `docker ps`?

[2020-02-04 01:53] SecOpsWarrior commented on #422
Ha, thanks for letting me know ;)

Any chance the elastalert-kibana-plugin is going to be added soon? would be nice for easy file editing and also would be really nice to use test queries in the console and then easily copy/paste updates over the the elastalert rules.

[2020-02-04 07:19] nguyenl95 commented on #423
@neu5ron  I met the same case. Here is the logstash log after trying `image: otrf/helk-logstash:7.5.2.1`

[log_logstash.txt](https://github.com/Cyb3rWard0g/HELK/files/4151853/log_logstash.txt)

[2020-02-04 07:24] troplolBE commented on #423
@nguyenl95 are you also using an Azure Ubuntu VM? If yes, can you provide the output of this `uname -arn` ?

[2020-02-04 08:25] nguyenl95 commented on #423
@troplolBE : it's Ubuntu 18.04 x86_64 on DigitalOcean

[code]
However I manage to quickly fix this by using bind-mount and right permission on Logstash config folder (logstash:root). I guess the problem is to use `root` user on logstash docker [variant issue](https://discuss.elastic.co/t/elasticsearch-on-docker-volume-mounted-as-root-user-leading-to-permission-issue/136872/4)

[2020-02-04 16:10] neu5ron commented on #423
@EliWallic by chance did you clone HELK with sudo privileges?

I think at this point there needs to be some research done on Azure VMs, I imagine they may do some extra OS / docker level security for their VM/OS templates...

[2020-02-04 16:54] Qazeer commented on #423
@neu5ron I encountered the exact same problem, hanging on "Waiting for some services to be up ....." / "Creating helk-ksql-cli ... done" and did clone HELK through sudo privileges (on a fresh non-Azure Ubuntu 18.04 VM).

[2020-02-04 19:03] EliWallic commented on #423
Yes I did everything with root.
I also tried to use sudo now and IT WORKED.

Thanks man! Never knew that sudo has a different behavior than execute a command as root user.

[2020-02-05 11:07] troplolBE commented on #423
The issue probably comes from the Cloud provider. I tried the install on multiple kernel versions this morning and it all worked perfectly fine.

[2020-02-05 20:13] EliWallic commented on #423
I tried it also again on the CentOS7 which has kernel 3 but its still failing there.
But in Azure I can use Ubuntu 18 now if I am doing all with sudo commands.

[2020-02-06 23:00] Bunk0r commented on #423
@EliWallic did you get this issue sorted out? I am getting the exact same issue with a local VM on my own machine at home.. logs from helk-logstash full of permission denied errors of opening /usr/share/logstash/config/logstash.yml

[2020-02-06 23:04] neu5ron commented on #423
ok we have a couple seperate issues in here, so just let me confirm:
1) not using "root" user and only using sudo commands
2) cloning the HELK repo NOT using sudo. then install using sudo.
as follows:
[code]

[2020-02-06 23:41] Bunk0r commented on #423
@neu5ron I actually just now did everything running with directly with root (i.e. without sudo, both the git clone and the installation commands).

Still getting the same problem.

Something else that I am noticing is that the permission denied errors appear in stdout and are not in the file itself. When I am running docker logs helk-logstash there are no errors (attached here for reference). But

[2020-02-06 23:57] neu5ron commented on #423
I don't see the `error: open /usr/share/logstash/config/logstash.yml` in the attached file.
What command were you running to see this error?

If you had cloned the repo using `sudo` or using the user `root` then the best bet is to start over by:
[code]

Just a note, I updated the wiki install documentation to help reduce the confusion (that may have been caused) by using the verbiage "root" when r

[2020-02-07 19:15] MarkusMab opened #428 "/usr/share/logstash/config/logstash.yml permission denied"
#### Describe the problem
Helk unable to start logstash, due to permission issues. This is with the basic license.  Docker container will keep restarting until resolved, installation never really finishes and freezes here:

Digest: sha256:ae1096829aacbadce42bd4024b36da3a9636f1901ef4e9e62a12b881cfc23cf5
Status: Downloaded newer image for otrf/helk-elastalert:0.2.6
Creating helk-elasticsearch ... do

[2020-02-07 20:02] #428 closed

[2020-02-07 20:02] MarkusMab commented on #428
Duplicate..

[2020-02-08 20:02] Bunk0r commented on #423
@neu5ron thanks, did that just now and still have the same problem. The error with "permission denied" appears in my console, not in the log itself, for example when I `docker logs helk-logstash | more` this is what I get:
`root@helk:~/HELK/docker# docker logs helk-logstash | more
2020/02/08 19:58:54 Setting 'xpack.monitoring.elasticsearch.hosts' from environment.
[HELK-LOGSTASH-DOCKER-INSTALLATIO

[2020-02-08 22:21] Bunk0r commented on #423
just installed a fresh new CentOS 7 and installed HELK with root. Getting the same error.

attached output of `docker logs helk-logstash
[putty.log](https://github.com/Cyb3rWard0g/HELK/files/4175410/putty.log)
`

[2020-02-08 22:27] troplolBE commented on #423
Hi @Bunk0r

If you install it with root it is going to fail no matter what version of Linux you install. You NEED to be on a non root user with sudo privileges. Also don’t git clone with root, it could possibly beak the install.

Can you try to reinstall on the fresh CentOS without root ? (create new temporary user if needed)

[2020-02-09 00:56] Bunk0r commented on #423
Thanks @troplolBE, just tried it again - fresh install on CentOS without root (created a new user and ran sudo commands with it).

Same problem persists. Is anyone else able to clone the current version and get it to work? (I can see my helk-logstash container continuously crashing).

[2020-02-09 01:15] neu5ron commented on #423
@Bunk0r can you send the output of:
`ls -alh HELK/docker/helk-logstash/config`

I have installed fresh builds with the latest
there has to be something simple we are missing. We will figure it out together.

[2020-02-09 14:45] Bunk0r commented on #423
thanks, here is the output

`[root@helk ofir]# ls -lha HELK/docker/helk-logstash/config/
total 32K
drwxr-xr-x. 2 root root  121 Feb  8 19:43 .
drwxr-xr-x. 9 root root  150 Feb  8 19:43 ..
-rw-r--r--. 1 root root 2.0K Feb  8 19:43 jvm.options
-rw-r--r--. 1 root root 5.0K Feb  8 19:43 log4j2.properties
-rw-r--r--. 1 root root  316 Feb  8 19:43 logstash.yml
-rw-r--r--. 1 root root 8.1K Feb  8 19:43 l

[2020-02-09 16:08] nguyenl95 commented on #423
@Bunk0r  It seems that you still use root permission to clone the project.
@neu5ron Here's inside the my logstash docker after cloning the project with the suitable permission (user in sudo group). The mount volume seems unable to map UID in the host and UID inside the docker.
It could be fixed by creating a folder with predefined correct permission, then map the volume later. [ref](https://stacko

[2020-02-10 11:43] EliWallic commented on #423
No still the same issue. It worked on a Azure VM bu no other VMs....its still the only one where i could get all working.

[2020-02-10 12:05] EliWallic commented on #423
@nguyenl95

Thats the trick for me - with that i worked on all vms 🥇

[2020-02-10 12:15] troplolBE commented on #423
When you say on host machine, do you mean you Ubuntu or the docker container ?

[2020-02-10 12:55] EliWallic commented on #423
The host machine. I did not touched the docker containers at all.

[2020-02-10 14:31] neu5ron commented on #423
can whoever is having an issue still send the output of `docker ps |grep logstash`

[2020-02-10 20:18] yatin309 commented on #423
`41d8c0abb3e2        otrf/helk-logstash:7.5.2.1                            "/usr/share/logstash…"   10 minutes ago      Up 10 minutes       0.0.0.0:3515->3515/tcp, 0.0.0.0:5044->5044/tcp, 0.0.0.0:8531->8531/tcp, 9600/tcp   helk-logstash`

[2020-02-10 20:20] yatin309 commented on #423
sudo docker ps | grep logstash
`41d8c0abb3e2     otrf/helk-logstash:7.5.2.1                            "/usr/share/logstash…"   10 minutes ago      Up 10 minutes       0.0.0.0:3515->3515/tcp, 0.0.0.0:5044->5044/tcp, 0.0.0.0:8531->8531/tcp, 9600/tcp   helk-logstash
`

[2020-02-10 20:23] yatin309 commented on #423
I tried on Digital Ocean Ubuntu 16.04.6 (LTS) x64 and 18.04.3 (LTS) x64.

[2020-02-10 20:34] EliWallic commented on #423
did you try it as the user which have UID 1000?
git clone without sudo
install with sudo

[2020-02-10 20:58] troplolBE commented on #423
Did it work ? We tried on digital ocean and made it work.

[2020-02-10 23:19] Bunk0r commented on #423
Happy to say everything has been solved. Fresh new VM, went back to Ubuntu 18.04 and performed everything with sudo. Successful install and getting events from my machines with Winlogbeat.
Thanks for the help everyone 👍

[2020-02-11 07:58] troplolBE commented on #423
Hey @Bunk0r

Happy to hear that everything is resolved but I have to admit I am a bit confused now. What steps did you take to resolve this problem exactly? Is there something that we can change on the project to prevent this issue from happening again?

@EliWallic @nguyenl95 @yatin309 do you have any troubles/issues left ? if yes, where are you stuck and how can we try to help you ?

[2020-02-11 11:21] nguyenl95 commented on #423
@troplolBE Yeah, one of the workaround here is to use the user with UID 1000. This is not very ideal in enterprise environment setup. It'd be nice if there is a small script to change the permission of the bind mount folder (Logstash docker to be specific) during the install.

I can think of 2 ways to set the permission:
1. Change the UID or GUID to match the Logstash user, something like this:
ch

[2020-02-11 11:54] nguyenl95 opened #429 "Looking for Jupyterhub support"
#### Describe the problem
As title, I was looking for Jupyterhub support on HELK. I can see that you guys already worked on Jupyterhub [ref](https://github.com/Cyb3rWard0g/HELK/blob/v0.1.7-alpha03042019/docker/helk-jupyter/jupyterhub/jupyterhub_config.py), but I couldn't find anything left on the master branch.

Goal: I prefer to use Jupyterhub rather than JupyterLab and it'd be nice if we could a

[2020-02-11 12:23] tee2015 opened #430 "Elastic Issue not starting properlly (last version installed including old versions) all the same issue however this never occured before any Ideas? thanks"
.e.b.ElasticsearchUncaughtExceptionHandler] [helk-1] uncaught exception in thread [main]

2020-02-11T12:20:09.289289385Z org.elasticsearch.bootstrap.StartupException: ElasticsearchException[java.io.IOException: failed to read [id:12, file:/usr/share/elasticsearch/data/nodes/0/_state/node-12.st]]; nested: IOException[failed to read [id:12, file:/usr/share/elasticsearch/data/nodes/0/_state/node-12.s

[2020-02-11 13:30] troplolBE commented on #430
Hi @tee2015

Could you provide us more information about system, install version/date, etc? Without this information we will not be able to help you properly.

[2020-02-11 13:44] EliWallic commented on #423
Thanks, for me all is working fine now on all systems.

[2020-02-11 13:46] troplolBE commented on #423
Do you mean it only works with the user that has UID 1000 or any other number over 1000? Are you sure it has nothing to do with the GID of the user you are using?

The thing is that most of linux based operating systems create new users with an UID of 1000 and higher.

[2020-02-11 13:48] troplolBE commented on #423
Happy to hear that it works fine now 😃 Have you taken any specific steps to fix this problem?

[2020-02-11 14:34] EliWallic commented on #423
Yes, explicit execute everything as documented with the user that has the UID 1000
(As any user) su User_with_UID_1000
(As User with UID 1000) git clone
(As User with UID 1000) sudo ./helk_install.sh

[2020-02-12 03:19] tee2015 commented on #430
Ubuntu 19.0 docker env

[2020-02-12 05:46] Cyb3rWard0g commented on #429
Hey @nguyenl95 ! Thank you for the recommendation. Yes I worked on a jupyterhub integration before, but I figured providing a basic Jupyter notebook/lab server was easier than providing the capability to add users and spawn several servers under one docker image or multiple docker images. If you have deployed Jupyter Hub before and would like to help us with that, it would be awesome!!

[2020-02-12 07:30] Cyb3rWard0g commented on #430
I believe the issue with Logstash permissions over its config files is not allowing HELK to finish since it waits for Logstash docker service to run properly. However, it restarts constantly. as shown in this latest issue from a different project leveraging HELK https://github.com/hunters-forge/Blacksmith/issues/4

[2020-02-12 07:41] Cyb3rWard0g commented on #423
I believe I figured out what the problem was.

This is what the Docker compose files have for the helk-logstash service:

[code]
as you can see under `volumes`, we have the `- ./helk-logstash/config:/usr/share/logstash/config` folder being mounted.

[code]

However, in the Dockerfile used to build the HELK helk-logstash image, we have the following:

[code]

The `Dockerfile` works fine and sets th

[2020-02-12 07:50] Cyb3rWard0g commented on #423
I am updating the helk-logstash image 7.5.2.1 at the moment.

[2020-02-12 07:55] troplolBE commented on #423
Thanks @Cyb3rWard0g for helping us with this. Can you update the helk-logstash entry point script on the git too?

[2020-02-12 07:57] Cyb3rWard0g commented on #423
Hey @troplolBE , what are the things that need to be fixed in the helk-logstash entrypoint script? Would you mind sharing the suggested changes and why? Please! Thank you @troplolBE for helping. I appreciate your support and collaboration for issues.

[2020-02-12 08:02] troplolBE commented on #423
Hey @Cyb3rWard0g

Sorry, I confused myself. I wanted to update the Dockerfile of helk-logstash on the git repo to be able to build it locally and not pull from internet. 😉

By the changes I mean what you explained 2 or 3 posts above 😄

It is a real pleasure for me to work on this project, I love it.

[2020-02-12 08:05] Cyb3rWard0g commented on #423
Ahh ok. What you can do is simply change this in the docker-compose file that you will use to build the HELK.

from

[code]
to

[code]

We now build the image and have the `Download` of the image by default to save time installing plugins and all that. I hope that makes sense.

[2020-02-12 08:53] Cyb3rWard0g commented on #423
@EliWallic @yatin309 @troplolBE @neu5ron would you guys try to re-build the latest version after the fix. Thank you and I appreciate it!

[2020-02-12 08:53] Cyb3rWard0g commented on #430
@tee2015 would you mind trying again after the latest update? Thank you in advance!

[2020-02-12 08:55] Cyb3rWard0g commented on #430
This I assume is the same issue as https://github.com/Cyb3rWard0g/HELK/issues/423 . You can read more about it in the comments. Read the latest ones to know how I found out about the issue. thank you in advance!

[2020-02-12 09:07] troplolBE commented on #423
It was not what I meant but you just fixed what I wanted you to fix in the last update 😉 I will try the latest version now

[2020-02-12 09:21] troplolBE commented on #423
Works fine on my side. Semmes like the issue is fixed 👍

[2020-02-12 22:15] jpark952 opened #431 "Ingest .csv file"
Apologies for the newbie question.

I want to be able take a .CSV from an external system and bring it over to my machine running HELK and ingest it so i can search through it in kibana.

What would be the best way of doing this?

[2020-02-12 22:32] tee2015 commented on #430
thanks @Cyb3rWard0g on a fresh setup all is good i am running the latest release

[2020-02-12 22:32] #430 closed

[2020-02-14 10:04] nguyenl95 commented on #429
@Cyb3rWard0g Can you share your Dockerfile cyb3rward0g/jupyter-hunter:0.0.8? That'd be very helpful for me to see the difference between Jupyter minimal build and yours. Appreciate!

[2020-02-14 19:17] francescouk commented on #390
Ill try today! Thanks

[2020-02-14 19:17] #390 closed

[2020-02-14 20:41] Cyb3rWard0g commented on #429
Hey @nguyenl95 ! Yes! I have all the docker images that build notebooks servers here: https://github.com/hunters-forge/notebooks-forge/tree/master/docker . The Jupyter-Hunter specifically is this one: https://github.com/hunters-forge/notebooks-forge/blob/master/docker/jupyter-hunt/Dockerfile . if you are looking for a minimal notebook server you can use this one: https://github.com/hunters-forge/n

[2020-02-14 20:42] Cyb3rWard0g commented on #423
Closing this issue then. Thank you @EliWallic @yatin309 @troplolBE @neu5ron . Feel free to open it back up if the issues persist.

[2020-02-14 20:42] #423 closed

[2020-02-14 20:46] Cyb3rWard0g commented on #431
Hey @jpark952 !

You will have to do the following:
- Move your CSV file to your HELK server (i.e. using SCP command)
- Create another logstash input config like this to have Logstash read the CSV file from a local directory: https://github.com/Cyb3rWard0g/HELK/blob/master/docker/helk-logstash/pipeline/0003-attack-input.conf
- Create another logstash filter config to set the column names https://g

[2020-02-14 20:48] Cyb3rWard0g commented on #429
I will close this issue since there is nothing to fix and the JupyterHub integration is not in the main to-do list at the moment. Thank you for the suggestions @nguyenl95 . I hope one day we can deploy that as well or make it easy to add on the fly or with a wiki document ;)

[2020-02-14 20:48] #429 closed

[2020-02-14 20:48] Cyb3rWard0g commented on #386
Can you try to build the latest version of HELK @Jon045 please! Thank you!

[2020-02-14 21:05] Cyb3rWard0g commented on #422
Hey @SecOpsWarrior , this is one of the issues that we have with third party tools not supported directly by Elastic. https://github.com/bitsensor/elastalert-kibana-plugin/issues

😞 What we can do is add a WIki section to explain how to enable it or maybe in the install script add the option to install it with the "Warning" that it might not work as expected. I do not want to be held back to updat

[2020-02-14 21:06] #366 closed

[2020-02-21 02:28] tee2015 opened #433 "Cannot Add a new Pipeline config to Helk getting data ingested from Filebeat"
#### Describe the problem
Creating a new Pipeline file
---------------------------------
![image](https://user-images.githubusercontent.com/14360476/74998363-a9513100-54ac-11ea-9bea-38bea98826de.png)

Edited the file 9998 catch all output:
---------------------------------------
![image](https://user-images.githubusercontent.com/14360476/74998399-bec65b00-54ac-11ea-863f-a2037980241a.png)

Created

[2020-02-21 16:54] bdorr1105 opened #434 "Missing Kafka.out for Winlogbeat.yaml file?"
I can not find the output for the kafka config. Thanks.

Note - Page 404 not found

https://github.com/Cyb3rWard0g/HELK/blob/master/winlogbeat/winlogbeat.yml

[2020-02-22 04:33] tee2015 commented on #433
Fixed the Suricata template issue npw I can see the template on Elastic uploaded however cannot get the index on Kibana yet
![image](https://user-images.githubusercontent.com/14360476/75086418-ffdf6d80-5587-11ea-931a-241ca4e1674c.png)

[2020-02-22 06:05] tee2015 commented on #433
should we define the new introduced input / output config files on logstash somewhere ?

[2020-02-24 15:55] troplolBE commented on #434
Th file was moved to this place:

https://github.com/Cyb3rWard0g/HELK/blob/master/configs/winlogbeat/winlogbeat.yml

[2020-03-03 15:53] Koploseus opened #435 "Auditbeat"
Is Auditbeat compatible with HELKS ?

The solution is perfect, i just need auditbeat to put on our network ! :)

[2020-03-03 21:30] troplolBE commented on #435
Hey,

Auditbeat is for the moment not fully supported. It will maybe be in one of the next updates :)

[2020-03-04 16:17] santi10 opened #436 "create a new config into Logstash"
Hi, I'm creating a new config pile type within pipeline. I haven't permission for change or create a new file. Do you known the "su -" password, please?

Thanks

[2020-03-04 20:13] mutedmouse opened #437 "Adding custom rules to Elastalert"
When trying to add custom rules to elastalert docker container via the ./helk-elastalert/rules folder, the rules reflect in the container.

Attempted steps were adding volumes point in docker-compose yaml files and creating docker named volumes.

Commands executed to reproduce
`touch ./helk-elastalert/rules/sample-rule.yml`
`docker-compose -f helk-kibana-notebook-analysis-alert-basic.yml start`
`d

[2020-03-05 12:50] Koploseus commented on #435
I hope so :D Thanks!

[2020-03-05 18:59] SecOpsWarrior opened #438 "Sigma rules being overwritten in Elastalert"
#### Describe the problem

Every time I restart Elastart, it overwrites any custom configuration I have in a rule with the default. Why is this happening all of a sudden?

#### Provide the output of the following commands

Get operating system and version
for linux (except Mac) use:
`cat /etc/os-release`
for Mac/OSX use:
`sw_vers`
Get disk space, memory, processor cores, and docker storage
`echo -

[2020-03-12 18:34] geekon75 opened #439 "HELK and filebeat on linux"
Hello,

Willl current version of HELK (v0.1.7-alpha03042019) be working properly
with Filebeat (linux) and Linux's logs?
I try to make a connection like that:

[linux->osquery->filebeat]->[kafka->logstash-> ... ]

To be honest I do not have in Kibana similar data like from Windows' Winlogbeat.
Does Kibana which comes with Helk display messages sent from Linux?

Regards

Greg

[2020-03-13 08:47] harjeet-sharma opened #440 "HELK Installation on AWS"
#### Describe the problem
Hi Team,

I have setup HELK on AWS using Ubuntu 16.04 with 16 GB RAM and 50 GB Hard Disk. It is working fine when I'm sending logs from the machine which is in the same VPC. However, when I try sending logs from the external network, it shows "Some partitions found to be leaderless". This error is produced on my machine which has winglogbeat installed and sending logs to

[2020-03-13 17:20] Cyb3rWard0g commented on #433
sorry for the late response. so when you go to Kibana and try to create the index pattern, it does not show up?

[2020-03-13 17:21] Cyb3rWard0g commented on #434
Thank you @troplolBE . feel free to open another issue if you have any further questions @bdorr1105 . Thank you!

[2020-03-13 17:21] #434 closed

[2020-03-13 17:23] Cyb3rWard0g commented on #435
Hey @Koploseus , I was working on a way to make it easier for anyone to just replace the pipeline, but I have not got it yet. I will work on this in the upcoming weeks. Thank you!. Thank you @troplolBE for the additional information. I appreciate it always!

[2020-03-13 17:25] Cyb3rWard0g commented on #436
Hey @santi10 , the pipeline is mounted from your host. Let's say you deployed HELK on an Ubuntu box. The folder helk-logstash/pipeline is mounted on /usr/share/logstash/pipeline. I assume that you are trying to update the pipeline inside of the docker container in the `/usr/share/logstash/pipeline/` folder right? You have to do it in the local pipeline folder outside of the docker container. Let m

[2020-03-13 17:27] Cyb3rWard0g commented on #438
Hey @neu5ron I believe you worked on the last scripts for SIGMA Elastalert entrypoint. Do you have some ideas for this issue? I will go over the script one more time. The idea was that if the rule has a `HELK-` prefix, it was not going to be touched.  @SecOpsWarrior let me take a look at it too. Thank you!

[2020-03-13 17:35] Cyb3rWard0g commented on #439
Hey @geekon75 , there is beats Input in the project https://github.com/Cyb3rWard0g/HELK/blob/master/docker/helk-logstash/pipeline/0004-beats-input.conf and if you send it there it will be caught by https://github.com/Cyb3rWard0g/HELK/blob/master/docker/helk-logstash/pipeline/9998-catch_all-output.conf  You will just have to create the index pattern in Kibana. You will see events in the `index-me`

[2020-03-13 17:41] Cyb3rWard0g commented on #440
Hey @harjeet-sharma , I believe the Public IP -> AWS Endpoints -> Container port might not be resolving properly or binding. I have never tested the additional 'Public IP' on the network connection with the broker. However. I believe this might help: https://medium.com/@iamsuraj/what-is-advertised-listeners-in-kafka-72e6fae7d68e .Let me know if that helps.

[2020-03-13 17:53] neu5ron commented on #438
the problem is I imagine a sigma rule is being edited - so each update it gets overwritten.
We dont have a solid way for this yet.
What we could do is have option to update if users wants. Using git merge, that is best way I see it.
So essentially, start script does following:
- if no sigma rules exist: then download them
- else just load whats there
- if user specifies an update parameter then it

[2020-03-13 18:36] SecOpsWarrior commented on #438
I like that idea! Would work for my scenario at least :)

I thought that might be the case, so I copied the rule, renamed it with a custom_ prefix, but it didn't load and threw errors. I'm totally ok copying the rule with a helk_ prefix too if you think it will load it properly.

Just out of curiosity, any idea why the rule threw a fit when it had the custom_ prefix?

[2020-03-13 19:42] neu5ron commented on #438
ok great, glad to hear this will work for you.
I have been MIA for some time, will be able to start working this in coming week(s). But this and some other things are high on my priority list.

Did you copy the rule and the old (copied) rule still exist? if so there would be a possible collision because the uniqueness of the elastalert rule is based on the the rule name within the sigma rule.
sigm

[2020-03-13 19:53] SecOpsWarrior commented on #438
No need to rush on my account, you guys are so helpful, I really appreciate it! I will do whatever to test or contribute on my end should you ever need me to!

As far as copying the rule, I do know that the name could be a conflict, so I changed the name as well in the rule config itself (also with a custom_ prefix). The issue still occurred, and I noticed this in the logs:
[code]
Then, if I resta

[2020-03-14 19:52] harjeet-sharma commented on #440
Hi @Cyb3rWard0g , Thanks for taking a look into the logs and my issue. Sorry I didn't get what you are trying to say.
Are you referring to Docker Public ports with switch -p ? ie. <some other port>:9092. So that external world can connect to <some other port> ?

Another pointer I need is for kafka-entrypoint.sh in folder "**/HELK/docker/helk-kafka-broker/scripts"**. When I make changes to this scr

[2020-03-17 09:02] harjeet-sharma commented on #440
Hi @Cyb3rWard0g , thanks a lot for your pointer. It solved my problem.  It was indeed docker container port issue. Setting 2 ports in yml file and then changing the server.properties like above solved it.

[2020-03-17 09:02] #440 closed

[2020-03-23 14:20] gettheguru commented on #438
Hi, I would be interested to hear the resolution to this also.

I recently updated the HELK stack I am using and I noticed that the rules got rewritten. But strangely for me - previously I would modify the rules and would see a reaction immediately in the elastalert alarms, but now I still see Elastalert triggering on something that should have been filtered out. What am I doing wrong? I can confi

[2020-03-23 14:38] gettheguru commented on #422
@neu5ron - would you be able to advise how I can reliably get around this issue? I am having trouble using some filters that worked previously.

[2020-03-23 18:02] francescouk opened #441 "Cannot send elastalert email"
This is not an issue but I would like to know if someone could help me to configure elastalert to send e-mails? I have no clue how to start.

Really appreciate for the attention.

Best regards.

[2020-03-24 18:12] francescouk opened #442 "Error Elastalert new installation"
#### Describe the problem
[code]
#### Provide the output of the following commands

Get operating system and version
[code]

Get disk space, memory, processor cores, and docker storage
[code]

Get output of the HELK docker containers:
[code]

#### What version of HELK are you using

run the command from within the HELK root directory `cat .git/refs/heads/master`
[code]

Place the date here
[code]

[2020-03-24 18:56] francescouk commented on #441
Found the solution! Just hope that won´t get override by new rules!

In case anyone find urself in same situation:
Just add the piece of code bellow to ur rules and also create another file called smtp_auth_file.yaml which will be used for the username and password.

**Replace this one:**

[code]

**For this one:**

[code]

Thanks

[2020-03-24 18:56] #441 closed

[2020-03-25 10:45] TomerG711 opened #443 "Feature Request: Add port forwarding to ElasticSearch container"
We want to connect the HELK's ES with other systems that we wrote, se we could use the data collected by HELK.
However, currently the ES container is accessible only within the docker.
It shouldn't be difficult to support this, only to add port forwarding parameter when running the container, with -p 9200:9200.
As for today, we need to add this manually by changing iptables on the server where the

[2020-03-25 20:29] Relkci commented on #442
Can confirm this is an issue.  First noticed this last weekend.  Can also provide logs if needed, ultimately same output as above however.

[2020-03-25 20:33] justintime commented on #442
In the script `pull-sigma.sh`, it grabs two yml files that contain the same rule name.  Here's the colliding files:
[code]

[2020-03-25 20:44] justintime commented on #442
I think I see what happened.  [In a commit made Feb 1](https://github.com/Neo23x0/sigma/commit/03ecb3b8dcbbb3f77c3445a11a04395d43926cc1), there was a refactor in sigma.  The result moved these 2 files into the same directory:
[Bear](https://github.com/Neo23x0/sigma/blob/aa8a0f5e1f8b20bc1970462f65140f1666ad8e20/rules/windows/process_creation/win_apt_bear_activity_gtr19.yml)
[Panda](https://github.c

[2020-03-30 12:38] securigeek opened #444 "General Question on Evolution"
Hello Roberto and Spectre,
Thanks for the wonderful work and effort behind HELK. I have 2 questions regarding the project:
1) I have been following HELK since few months now and the status has ever since stayed on ALPHA, when do you plan the next step to get to BETA or Production . 
2) Initially since there was no inbuilt SIEM capabilities on ELK so indeed HELK seemed like a perfect architecture.

[2020-03-31 17:47] justintime commented on #442
@Relkci looks like they merged the  pull request.  I don't have access to the lab any more, can you verify if this fixed the problem?

[2020-04-01 14:02] elcrazywolf opened #445 "Help starting elastic search and logstash"
#### **Describe the problem**

I am a total newbie in both linux and threat hunting. I want to use HELK as part of my bachelor thesis but I don't know how to start elasticsearch and logstash. Managed to interact only with kibana so far using firefox. So I succesfully installed HELK using the instructions provided. Can someone tell me how to open elasticsearch and logstash in order to start learnin

[2020-04-01 22:51] su-suvvy opened #447 "ERROR: Could not run HELK via docker-compose file helk-kibana-notebook-analysis-alert-basic.yml (Error Code: 1)"
Hi
I am new to the project. When trying to install it (sudo ./helk_install.sh) with option 4, I got the following error

[HELK-INSTALLATION-INFO] Building & running HELK from helk-kibana-notebook-analysis-alert-basic.yml file..
 * ERROR: Could not run HELK via docker-compose file helk-kibana-notebook-analysis-alert-basic.yml (Error Code: 1).
--------------------------------------------------------

[2020-04-02 08:46] su-suvvy commented on #447
I solved my problem by changing port in  helk-kibana-notebook-analysis-alert-basic.yml file.
Dans helk-ngnix
    ports:
      - "**8480**:80"
      - "443:443"

[2020-04-02 08:46] #447 closed

[2020-04-02 14:15] ethical20 opened #448 "ERROR: Failed to connect to remote HELK server"
#### Describe the problem
I'm trying to send logs from a windows machine via winlogbeat to the HELK (UBUNTU).

I've set everything as listed step by step:

For server:
https://cyberwardog.blogspot.com/2017/02/setting-up-pentesting-i-mean-threat_98.html

For windows Client machine:
https://cyberwardog.blogspot.com/2017/02/setting-up-pentesting-i-mean-threat_87.html

I'm not able to add the winlogbe

[2020-04-02 16:25] su-suvvy opened #449 "[SparkException] Cannot run program "/opt/conda/bin/python3.7": error=2, No such file or directory"
Hi
After installing HELK, I tried to run the notebook " Introduction to Spark SQL via PySpark "
I get the following error when running dog_df.show()

Py4JJavaError                             Traceback (most recent call last)
<ipython-input-52-08baaea8d60b> in <module>
----> 1 dog_df.show()

/opt/jupyter/spark/python/pyspark/sql/dataframe.py in show(self, n, truncate, vertical)
    378         """

[2020-04-04 03:38] rev10d commented on #442
This is fixed at the Sigma repos, but has not been pulled in to the sigma.git. Collisions still exist in HELK's opt / sigma / rules. Thus, during the docker install process, the title collision occurs and Elastalert fails.

Same title here:
https://github.com/Cyb3rWard0g/sigma/blob/master/rules/windows/process_creation/win_apt_judgement_panda_gtr19.yml

And here:
https://github.com/Cyb3rWard0g/sig

[2020-04-05 17:24] neu5ron commented on #444
Hello,

1) HELK may be in Beta this year - lots of work to do, but even tho its alpha we still try to make as stable as possible.
2) SIEM requires ECS which we dont use. We use OSSEM. Signals is not as verbose as SIGMA which HELK has.

btw, its not a Spectre OPs project :)

[2020-04-05 18:05] securigeek commented on #444
Hello,
Thank you for your response. Just 1 last question, can we not covert sigma to signals since SIGMA has sigma convertor to convert it to ECS.

[2020-04-05 18:38] neu5ron commented on #444
I assume you can still use signals without ECS - but i imagine the prebuilt stuff may not work. SOC Prime added signals in SIGMA, you can test it that way until we merge the latest sigma into HELK

[2020-04-05 18:41] securigeek commented on #444
Thanks a million. I appreciate your response.

[2020-04-05 18:41] #444 closed

[2020-04-06 21:02] elcrazywolf commented on #445
Problem was that although installation was successful (according to the message in the end of installation), elasticsearch was never really installed. I installed it manually

[2020-04-07 03:33] #436 closed

[2020-04-07 03:35] Cyb3rWard0g commented on #442
Thank you all! I appreciate all the information and the fix for it 🍻 PR merged https://github.com/Cyb3rWard0g/sigma/pull/11 . Let me know if that fixes the issue. Thank you all!

[2020-04-07 03:37] Cyb3rWard0g commented on #443
Hey @TomerG711 , sorry for the late response. I believe you can do that by simply modifying the Docker compose file right? Adding something similar to this: https://github.com/Cyb3rWard0g/HELK/blob/master/docker/helk-kibana-analysis-basic.yml#L56

[2020-04-07 03:39] Cyb3rWard0g commented on #445
Hey @elcrazywolf , thank you for the details and all the information. Would you mind sharing how you installed the HELK? what do you mean with Elasticsearch not being installed. It downloads the official Elasticsearch Docker container as a service and connects with the other docker services.

[2020-04-07 03:51] Cyb3rWard0g commented on #448
Hey @ethical20 ! HELK supports Docker Containers for the deployment of the project. I see you are using a manual install and using certificates with Logstash. It is hard to troubleshoot a custom environment. Would it be possible for you to run HELK using the official install script via Docker? https://github.com/Cyb3rWard0g/HELK/blob/master/docker/helk_install.sh . Also, use the official way to sh

[2020-04-07 03:52] Cyb3rWard0g commented on #449
Hey @su-suvvy ! Let me test that out and get back to you. Thank you!

[2020-04-07 04:00] Cyb3rWard0g commented on #437
Have you checked the other indices? Apparently you get the match body in the elastlalert index https://elastalert.readthedocs.io/en/latest/elastalert_status.html

[2020-04-07 04:01] Cyb3rWard0g commented on #433
Feel free to reopen this issue or create another one if you still have questions. Thank you @tee2015 !

[2020-04-07 04:01] #433 closed

[2020-04-07 04:01] #439 closed

[2020-04-07 08:57] TomerG711 commented on #443
PR: https://github.com/Cyb3rWard0g/HELK/pull/450

[2020-04-07 14:01] rev10d commented on #442
Fixed! Fixed! Yeah!

Thank you thank you!!!

[2020-04-07 18:29] francescouk commented on #442
Fixed for me ass well! :)

Thank you!

[2020-04-07 18:29] #442 closed

[2020-04-07 23:54] mutedmouse commented on #437
I am closing this issue as there has been no update, investigation or suggestion.  The problem still persists so please feel free to reopen at any time with a solution.

[2020-04-07 23:57] mutedmouse commented on #437
Sry about the last one comment, I had not seen the update.  I'll check the elastalert_status and send the results of the rule in this ticket tomorrow.

[2020-04-10 16:36] mutedmouse commented on #437
Blacklist rule now works with match_body extraction on latest helk build. I will post the rule I used here and for users to reference as an example.  There are a surprisingly few number of working examples so perhaps it can help others.

[2020-04-10 17:36] mutedmouse commented on #437
Steps taken to build rule and resolve question are below:

Entering the docker container
`sudo docker exec -it -u0 helk-elastalert /bin/bash`

Change user to elastalertuser:
`su elastalert`

Creating and testing rule before applying
`vim /etc/elastalert/blacklist_hash.yml`

add the following lines to the blacklist_hash.yml
[code]
save the blacklist_hash.yml

Create your blacklist.csv lookup file
`

[2020-04-11 06:35] Cyb3rWard0g commented on #437
Thank you very much @mutedmouse ! I will tag this to be added to the Wiki. Thank you!

[2020-04-11 10:00] elcrazywolf commented on #445
I tried installing HELK in an ubuntu virtual machine and allocated RAM enough to install HELK but also too much for my host pc to handle. So host PC crashed stopping the installation again and again until I could find RAM percentage I could allocate to VM so that both my pc didn't crash and the installation could proceed. So the result was an installation stopping 3-4 times (beggining each time at

[2020-04-13 05:44] Cyb3rWard0g commented on #445
Would you mind sharing what option you tried? We have some steps here in the Wiki and when you run the install script it asks you to specify the install option : https://github.com/Cyb3rWard0g/HELK/wiki/Installation . I can see you had 6GB of memory and 5GB used. Do you have anything else installed in your Ubuntu box?

[2020-04-16 01:24] neu5ron commented on #438
hey we havent forgot, been very busy and a lot going on. but this is definitely one of too priorities.
i dont have timeline unfortunately, but will update this issue accoridngly

[2020-04-16 01:35] SecOpsWarrior commented on #438
No worries! I have been absolutely buried myself so wouldn't have even had time to test it either :)

[2020-04-16 10:15] TomerG711 commented on #443
@Cyb3rWard0g Can you please review the PR?

[2020-04-17 13:21] neu5ron commented on #253
fixed in upcoming release

[2020-04-17 13:21] #253 closed

[2020-04-17 13:21] neu5ron commented on #348
fixed in upcoming release

[2020-04-17 13:21] #348 closed

[2020-04-17 13:21] neu5ron commented on #389
fixed in upcoming release

[2020-04-17 13:21] #389 closed

[2020-04-20 02:12] neu5ron commented on #350
this is fine for now - will add it in todo notes in conf file that can use this if their becomes CRAZY BIG DIFFERENCES between minor versions though

[2020-04-20 02:12] #350 closed

[2020-04-22 09:18] ssi0202 opened #454 "SSL cert on nginx / kibana"
#### Describe the problem

i found this guide to solve it but is it still relevant / correct

https://github.com/Cyb3rWard0g/HELK/issues/131

are these the lines to change and do they point to something within the container still ?

do i not need to change things on the kibana container too ?

[code]

like this (c/p) from the kibana.yml

both with ' / " and nothing at the beginning and end of the

[2020-04-22 21:55] aalvaradoc opened #455 "Problems with the alerts module - does not work 24 hours a day"
Hello team, I have a problem in my environment and it is the following:

The index "elastalert_status" only generates events from 19:30 to 7:30 approximately 12 hours. However, previously it generated events 24 hours a day
What could be happening that the events are not generated 24 hours?

[2020-04-24 07:16] ssi0202 commented on #454
figured it out

1 you no not need to change anything in the kibana.yml file ;)

just copy the cert and key file into the nginx container, if you cert has a passpharse

add that to the nginx config file too after you copied a file with the passphase to the containaer via docker cp command

go a head and close it

[2020-04-24 07:16] #454 closed

[2020-04-24 07:17] ssi0202 commented on #454
done

[2020-04-24 08:15] troplolBE commented on #443
Hey @TomerG711

Thanks you for submitting your issue and for your PR #450 . We are planning on adding this feature in one of the future releases of the project but at the moment we don't want to force everyone to have port forwarding by default.

[2020-04-27 06:35] Cyb3rWard0g commented on #455
Hey @aalvaradoc , we will have to test that. I do not know why it would do that.

[2020-04-27 06:40] Cyb3rWard0g commented on #449
Hey @su-suvvy , I have not forgotten about this one. Sorry I have been a little busy with a few other projects. Testing that this week. Thank you for your patience.

[2020-04-27 07:13] su-suvvy commented on #449
Hi @Cyb3rWard0g , glad to see your comment. I have tried myself last week and couldn't figure out where the problem lies ( environment var related to pyspark or something else in dockerfile? I am new to docker ). Looking forward to your reply !

[2020-04-27 08:53] Koploseus commented on #435
Hey!

Any news ? :)

[2020-04-28 05:12] Cyb3rWard0g commented on #449
Ok I was able to create a newer Pyspark Image which is the base for the HELK jupyter-Hunt image and everything seems to be working fine:

<img width="992" alt="image" src="https://user-images.githubusercontent.com/9653181/80449483-42f1f000-88ed-11ea-941f-dc3560e164f0.png">

What I will do next is create the HELK jupyter hunt one. Thank you for your patience.

[2020-04-28 06:58] Cyb3rWard0g commented on #449
I updated the image. Let me know if that works now. https://github.com/Cyb3rWard0g/HELK/commit/9a74d4426b734f2f3cd292345c37f3315af6628a

[2020-04-28 22:47] Mangolinux opened #456 "General Question Update to 7.6"
How do I update HELK to Elastic version 7.6?

[2020-04-29 07:01] su-suvvy commented on #449
Hi @Cyb3rWard0g
I downloaded the new project Helk-master and installed it. Now I get the following error on running first_df.show()
---------------------------------------------------------------------------
Py4JJavaError                             Traceback (most recent call last)
<ipython-input-13-15bb8b5a1ae6> in <module>
----> 1 first_df.show()

/opt/jupyter/spark/python/pyspark/sql/dataframe

[2020-04-29 08:13] su-suvvy commented on #449
By the way, when I  installed Helk with option 4 I had to first modify the port for nginx from 80:80 to 8084:80 like in the image below otherwise the installation could not come to an end
![yml_modified](https://user-images.githubusercontent.com/58884599/80574141-92c1db80-8a01-11ea-9ee3-c27766c71aba.png)
otherwise the installation could not come to an end
![install_log](https://user-images.githubu

[2020-04-29 08:28] su-suvvy commented on #449
so shall I make this modification elsewhere ?

[2020-04-29 10:05] su-suvvy commented on #449
I have also errors in other notebooks. For example in demos/security_sysmon_sql_join.ipynb
when running the cell processcreate_df.show(10), I get the following:
---------------------------------------------------------------------------
Py4JJavaError                             Traceback (most recent call last)
<ipython-input-9-2d1481ae2ddb> in <module>
----> 1 processcreate_df.show(10)

/opt/jupy

[2020-04-29 12:26] troplolBE commented on #456
Hey @Mangolinux ! Thanks for this question. You have 2 ways to upgrade to elastic 7.6.

1. You can wait the next update of HELK which supports Elastics latest version.
2. You can change the version in docker downloads in the Dockerfile files.

https://github.com/Cyb3rWard0g/HELK/blob/9a74d4426b734f2f3cd292345c37f3315af6628a/docker/helk-kibana/Dockerfile#L9

https://github.com/Cyb3rWard0g/HELK/blob

[2020-04-29 23:19] Mangolinux commented on #456
Thanks @troplolBE, any ETA on option one?

[2020-04-30 08:32] troplolBE commented on #456
Hey @Mangolinux ! I don't have any date for the moment but it should not be too long anymore.

[2020-04-30 10:15] troplolBE opened #457 "Errors missing in docker logs command"
### Describe the problem
I ran tried installing the version 2 of HELK and wanted to check the output of `docker logs helk-elastalert` so I had it open in a shell. After the installation of the HELK I saw that when I executed `docker logs helk-elastalert` some errors are missing.
### Provide the output of the following commands
[code]

### What version of HELK are you using

Fork of @devdua , branc

[2020-04-30 10:31] troplolBE commented on #457
There are a total of 233 error lines missing in the second version. All of them are python errors except for the last one on the 2 screens above.

[2020-05-02 00:53] Mangolinux opened #458 "Kafka Zeek logs to SIEM"
#### Describe the problem
SIEM is not seeing my Zeek logs
#### Provide the output of the following commands

Get operating system and version
for linux (except Mac) use:
`cat /etc/os-release`
for Mac/OSX use:
`sw_vers`
Get disk space, memory, processor cores, and docker storage
`echo -e "\nDocker Space:" && df -h /var/lib/docker; echo -e "\nMemory:" && free -g; echo -e "\nCores:" && getconf _NPROC

[2020-05-02 01:16] Mangolinux commented on #458
I did a basic install option 4

[2020-05-02 20:55] troplolBE commented on #458
Hey @Mangolinux ! Are you tring to use the SIEM of the ELK Stack ? Can ou please provide us the output.elasticsearch you are trying to use ?

[2020-05-05 05:00] Feedy81 opened #460 "HELK multi-node cluster"
Is HELK only meant to be installed on one host?  If that is not true... After reading wiki it appears that running the helk_install.sh script on each node would create separate individual clusters. Or am I just reading the install configs wrong?

[2020-05-05 13:41] guirkgumbo commented on #454
Can you tell me where you put the certs exactly in the helk/docker/helk-nginx/ folder?

[2020-05-08 18:14] norandom opened #463 "Install of Option 3 and 4 failing"
#### Describe the problem

#### OS Version

Ubuntu 20 LTS

#### Error during installation

[code]

#### What version of HELK are you using

run the command from within the HELK root directory `cat .git/refs/heads/master`
and include what date you cloned the HELK repo
[code]

#### Installation procedure for Option 3

[code]

##### What steps did you take trying to fix the issue

Cleaned out all Doc

[2020-05-08 18:17] eatyourpeas747 opened #464 "set_elasticsearch_password command not found"
#### Describe the problem
when running ./help_install.sh I get the following:

./helk_install.sh: line 580: set_elasticsearch_password: command not found

I do not see the command to actually run it.  It seems to be missing from the sh file.

[2020-05-08 18:35] norandom commented on #463
Self-correcting Layer 8 functions kicked in. Issue closed. Sorry.

[2020-05-08 18:35] #463 closed

[2020-05-08 23:41] neu5ron commented on #464
which install option are you using?

[2020-05-09 00:25] neu5ron commented on #457
that mapping error is a non issue - its an ordering thing in elasticsearch templates - i cant supress the error.
reopen if you need.

[2020-05-09 00:25] #457 closed

[2020-05-09 00:26] neu5ron commented on #456
its updated to 7.6.2

[2020-05-09 00:26] #456 closed

[2020-05-09 00:27] neu5ron commented on #455
can you see now? there is some updates.

[2020-05-09 01:22] neu5ron commented on #458
zeek parsing is coming soon and will be under `logs-network-zeek`. However, if you desire to use the SIEM portion, I suggest using an Elastic Common Schema supported stack. The siem does not function without ECS, HELK uses a different schema (OSSEM) that has broader support  and allows HELK to move at its own pace.

[2020-05-09 01:22] #458 closed

[2020-05-09 01:23] neu5ron commented on #445
no response from issue opener. closing

[2020-05-09 01:23] #445 closed

[2020-05-09 01:24] neu5ron commented on #386
3months no response... closing

[2020-05-09 01:24] #386 closed

[2020-05-09 01:24] #374 closed

[2020-05-09 13:41] #357 closed

[2020-05-12 18:11] neu5ron opened #465 "wiki tracking"
list of items to include/add/update for Wiki

- [ ] additional log info for Kibana (apart from docker logs follow)
`docker exec -it helk-kibana tail -f config/kibana_logs.log`

[2020-05-14 07:20] xiaodupi-zyq commented on #464
I used option 2 to install, and also encountered this problem

[2020-05-14 07:22] xiaodupi-zyq commented on #464
I used option 2 to install, and also encountered this problem

[2020-05-14 11:43] neu5ron commented on #464
@xiaodupi-zyq can you run this command from within the HELK directory `cat .git/refs/heads/master`

[2020-05-14 12:12] neu5ron commented on #464
can you try latest repo now?

[2020-05-14 12:26] xiaodupi-zyq commented on #464
no I can not. No such file and directory

[2020-05-15 18:50] neu5ron commented on #464
can you try the latest repo, remove HELK directory and rerun git clone and then `helk_install.sh`

[2020-05-16 08:56] xiaodupi-zyq commented on #464
I fix it

[2020-05-16 10:43] neu5ron commented on #464
glad to hear! reach out if you have any comments, suggestions, etc.

going to close the issue

[2020-05-16 10:43] #464 closed

[2020-05-19 16:33] neu5ron opened #467 "ubuntu 18 docker via snap"
certain Ubuntu 18+ builds come with docker install via `snap` and thus systemctl won't work.
to remove the snap version the commands are along the lines of:
[code]

[2020-05-21 05:28] devdua commented on #467
If snap is not preferable, then it has to be removed as an installation alternative in the `helk_install.sh` script - https://github.com/Cyb3rWard0g/HELK/blob/master/docker/helk_install.sh#L265 (lines 265 - 274)

This was originally contributed by me as PR #51

[2020-05-26 02:53] rivetgeek commented on #449
Any word on this issue? Latest HELK build still gives the following error when running the code at:

https://posts.specterops.io/threat-hunting-with-jupyter-notebooks-part-3-querying-elasticsearch-via-apache-spark-670054cd9d47

`---------------------------------------------------------------------------
Py4JJavaError                             Traceback (most recent call last)
<ipython-input-61-2

[2020-05-26 03:19] rivetgeek opened #468 "Bug: Spark version mismatch between client and spark workers. Spark -> ES is broken"
#### Describe the problem
**Getting the follow error when trying to run read_elasticsearch_via_spark.ipynb (or tutorials involving spark.  Looks to be a dependency mismatch between pyspark 2.4.4 on the workers and 2.4.5 on the client**

---------------------------------------------------------------------------
Py4JJavaError                             Traceback (most recent call last)
<ipython-in

[2020-05-27 21:35] rivetgeek commented on #468
I managed to patch this issue by modifying the docker compose file to load a generic spark 2.4.5 docker image locally downloaded, instead of pulling the otrf spark 2.4.4 image for the spark work and master images.

[2020-05-28 04:29] Cyb3rWard0g commented on #449
@su-suvvy @rivetgeek I am taking a look at it this weekend. A little busy with other updates. sorry for the inconvenience.

[2020-05-28 04:32] Cyb3rWard0g commented on #468
Hey @rivetgeek ! thank you very much for all the details and also for sharing what worked for you. That makes sense. I thought I had already pushed the 2.4.5 to the repo I will build those tomorrow afternoon. That should not take long. Thank you!

[2020-05-29 16:44] rfoster55 commented on #467
Thanks for pointing this out as I was having trouble managing containers with apt-installed docker-compose while snap docker was still present!

[2020-05-29 16:47] rfoster55 commented on #468
Any idea when you might merge the 2.4.5 spark setting into the repo?  I'm trying to weigh implementing rivetgeek's work-around vs waiting for the repo update.  Thanks.

[2020-05-29 16:53] Cyb3rWard0g commented on #468
working on it at the moment. Give me  a few minutes. Building 2.4.5 👍

[2020-05-29 18:41] Cyb3rWard0g commented on #468
Hey @rfoster55 @rivetgeek I updated Spark otrf containers to 2.4.5 (Spark) https://github.com/Cyb3rWard0g/HELK/commit/201ebf9a6a605e61c6f98db776f6d83fdabc7234 . Would you mind giving it a try? Thank you in advance! 👍

[2020-05-29 19:14] rfoster55 commented on #468
Yes I will try in a little while and let you know.   Thanks!

[2020-05-29 19:46] rfoster55 commented on #468
Looks good.  All the sparks are version 2.4.5 and I can run the read_elasticsearch_via_spark demo notebook.  Thanks much!

[2020-05-29 19:47] Cyb3rWard0g commented on #468
thats awesome! Thank you for validating the fix. I also took a screenshot of it ;)  just in case
<img width="889" alt="image" src="https://user-images.githubusercontent.com/9653181/83299192-b5434200-a1c3-11ea-979f-6b582ebae7da.png">

[2020-05-29 20:03] Cyb3rWard0g commented on #468
I have to install python via conda on spark workers. working on that..

[2020-05-29 20:50] Cyb3rWard0g commented on #468
Ok now it all should work as expected:

HELK SPARK MASTER

<img width="1437" alt="image" src="https://user-images.githubusercontent.com/9653181/83304145-559d6480-a1cc-11ea-95f0-2361d306e7cd.png">

HELK SPARK WORKER

<img width="1422" alt="image" src="https://user-images.githubusercontent.com/9653181/83304169-60f09000-a1cc-11ea-8e92-3102ebd3709b.png">

HELK JUPYTER HUNTER

<img width="1175" alt="im

[2020-05-29 21:07] Cyb3rWard0g commented on #468
Size of docker image for the spark worker doubled. It was deff conda. mm. 🤔 welp that would be something that we could work on next run of updates. Thank you for your patience @rivetgeek @rfoster55

[2020-05-29 21:08] Cyb3rWard0g commented on #468
https://github.com/Cyb3rWard0g/HELK/commit/201ebf9a6a605e61c6f98db776f6d83fdabc7234
https://github.com/Cyb3rWard0g/HELK/commit/de623c29226df043ee545b05c7217a1b87649083

[2020-05-29 21:08] #468 closed

[2020-05-29 21:09] Cyb3rWard0g commented on #449
I got it to work @su-suvvy . I updated the docker images for spark worker and master and installed conda & python3 on the workers.

https://github.com/Cyb3rWard0g/HELK/issues/468

[2020-05-29 21:09] #449 closed

[2020-05-31 12:08] Alex-0293 opened #470 "Add ability to make silent installation for helk_install.sh"
#### Describe the problem
Good day!
I`m deploying virtual environment with HELK via powershell.
I have no ability to interact with script.
Would you be so kind, to add helk_install.sh parameters for silent installation.
Thank you!

[2020-06-03 21:18] troplolBE commented on #470
Hi @Alex-0293 ! Why do you want silent installation ? It is useful to see where the install script fails to help us fix potential issues or just for you to know what minimum requirements you don't have.

Please explain a bit more why you think this should be added in the install script 😉

[2020-06-10 04:27] spexboy opened #471 "ERROR: Could not run HELK via docker-compose file helk-kibana-analysis-alert-basic.yml (Errror code:1)"
#### Describe the problem

Unable to complete the installation on Ubuntu 18.04, please find the error details below,

![image](https://user-images.githubusercontent.com/13061021/84226667-0de9d780-ab00-11ea-890a-9453299dd5d5.png)

tail -f /var/log/helk-install.log
![image](https://user-images.githubusercontent.com/13061021/84226779-599c8100-ab00-11ea-8902-1cce7ba8adf8.png)

[2020-06-12 20:05] martclau opened #472 "winlogbeat.yml link is broken"
The link on https://thehelk.com/installation.html to https://github.com/Cyb3rWard0g/HELK/blob/master/winlogbeat/winlogbeat.yml is broken.

[2020-06-13 05:52] Cyb3rWard0g commented on #472
Thank you @martclau! I will fix the in a commit in a few mins.

[2020-06-13 05:54] Cyb3rWard0g commented on #472
This link works just in case: https://github.com/Cyb3rWard0g/HELK/blob/master/configs/winlogbeat/winlogbeat.yml

[2020-06-13 06:01] Cyb3rWard0g commented on #471
Hey @spexboy , are you running the update script? https://github.com/Cyb3rWard0g/HELK/blob/master/docker/helk_update.sh

because there is the only place where I see those commands https://github.com/Cyb3rWard0g/HELK/blob/master/docker/helk_update.sh#L145

`mv helk-nxing/htpasswd.users`

[2020-06-13 06:15] Cyb3rWard0g commented on #471
Hey @spexboy , would you mind trying to install it one more time? Sorry for the inconvenience.

[2020-06-14 19:55] neu5ron commented on #431
no response, closing

[2020-06-14 19:55] #431 closed

[2020-06-15 00:50] spexboy commented on #471
Hi,

Thanks for Responding.

Tried to reinstall again, but still facing the issue.

Please find the screenshot below,
mv helk-nginx/htpasswd.users helk-nginx/htpasswd.users_backup >>$LOGFILE 2>&1

![image](https://user-images.githubusercontent.com/13061021/84608319-84efe900-aecf-11ea-8877-871fa0eaeba4.png)

tail -f /var/log/helk-install.log

![image](https://user-images.githubusercontent.com/13061

[2020-06-15 02:35] Cyb3rWard0g commented on #471
The first image has nothing to do with the file not being available. that is because $LOGFILE needs to be defined and it is defined in the script. If you run it outside of the script, it would fail. Can you do a clean install please?

[2020-06-15 03:10] #472 closed

[2020-06-15 06:44] spexboy commented on #471
after clean install, i am getting below error.

![image](https://user-images.githubusercontent.com/13061021/84625766-8a662700-af01-11ea-97ff-87914467468a.png)

My wget result show below,
![image](https://user-images.githubusercontent.com/13061021/84625905-ca2d0e80-af01-11ea-8564-436e18d49606.png)

Thanks,
Sathish

[2020-06-15 14:44] Alex-0293 commented on #470
Good day, troplolBE!
I`m build project with HELK in virtual machines. I want to deploy them with powershell script.
It`s done, but i have one interactive thing.

[2020-06-19 01:56] tee2015 opened #473 "Feature Request -Support Community ID"
Support community ID in our pipeline :

Already implemented

https://github.com/Cyb3rWard0g/HELK/blob/master/docker/helk-logstash/pipeline/8911-fingerprints-network_community_id-filter.conf

[2020-06-19 02:03] tee2015 commented on #473
https://github.com/Cyb3rWard0g/HELK/blob/master/docker/helk-logstash/pipeline/8911-fingerprints-network_community_id-filter.conf

Already implemented closed

[2020-06-19 02:04] #473 closed

[2020-06-23 08:21] nugnugrawk commented on #316
how to connection log windows (client) to HELK in ubuntu ?

[2020-06-23 08:23] nugnugrawk opened #474 "ERROR: how to connection log from windows (client) to HELK in ubuntu ?"
how to connection log windows (client) to HELK in ubuntu ?

[2020-06-23 10:56] nugnugrawk opened #475 "ERROR: helk-logstash"
![error-helk-logstash](https://user-images.githubusercontent.com/19874624/85395749-d1e05900-b57a-11ea-8f78-751e97932c45.png)

how to solve this problem ? thank you.

[2020-06-24 07:47] myrsecurity opened #476 "VM available for this project?"
cheers

[2020-06-26 04:17] Cyb3rWard0g commented on #474
Hey @nugnugrawk ! Would you mind providing more details about this?

Do you mean a client/ log shipper on a Windows box to send logs to HELK installed in an Ubuntu box?

[2020-06-26 04:18] Cyb3rWard0g commented on #475
do you have anything else running in that box? any other applications?

[2020-06-26 04:19] Cyb3rWard0g commented on #476
Hey @myrsecurity , we do not have a VM available for it. We only have docker images for all the components of the project. I believe we could also work on that, but it is not something we are working on at the moment.

[2020-06-26 08:11] nugnugrawk commented on #474
yes, i want
 client/ log shipper on a Windows box to send logs to HELK installed in an Ubuntu box

[2020-06-26 08:16] nugnugrawk commented on #475
![image](https://user-images.githubusercontent.com/19874624/85835557-73f08300-b7bf-11ea-8fc7-8808dad6eb2f.png)
now problem like this,

what should i do?

Previously, i run Kibana but there was a problem "Kibana server is not ready yet"

![image](https://user-images.githubusercontent.com/19874624/85835838-efeacb00-b7bf-11ea-90db-ac098149c41a.png)

why this problem ?

[2020-06-26 08:40] htoochonaung opened #477 "Error : Elasticsearch port isn't open ."
After i finished installation, all containers are running .Kibana dashboard is running.but when i check local port
netstat -aon

elasticsearch's port isn't open .

![image](https://user-images.githubusercontent.com/46007529/85838010-ead94c00-b7be-11ea-914e-1b721e5c6f72.png)

So, I can't add the elasticsearch port in client's filebeat .like
host [" ip : port"]

[2020-06-30 04:08] Cyb3rWard0g commented on #477
Hey @htoochonaung , HELK is built to not expose ES port since that is not best practices. We encourage to use the `Kafka-Logstash-ES` or `Logstash-ES` data pipelines. However, you can expose ES port yourself if you wanted to. You would just have to modify the `docker-compose` file that you used to build HELK. I would do something similar to what we do for Logstash. This is an example of the basic

[2020-06-30 04:09] #476 closed

[2020-06-30 04:10] Cyb3rWard0g commented on #475
Can you restart Kibana? `docker restart helk-kibana`?

[2020-06-30 04:14] Cyb3rWard0g commented on #474
You can simply install Winlogbeat by following these official instructions:https://www.elastic.co/guide/en/beats/winlogbeat/current/winlogbeat-getting-started.html

You can use the following winlogbeat config to send logs to kafka (front pipe)

https://github.com/Cyb3rWard0g/HELK/blob/master/configs/winlogbeat/winlogbeat.yml

Just update your HELK Ubuntu IP address and only use the `9092` port ("<

[2020-06-30 04:17] Cyb3rWard0g commented on #471
That looks like a local certificates issue? Maybe?

can you try running:
[code]

And try it again? please. thank you!

[2020-06-30 04:35] nugnugrawk commented on #475
![Screenshot_20200630-113223_1](https://user-images.githubusercontent.com/19874624/86083926-b8349980-bac5-11ea-9ebf-27724336eb88.jpg)
how to solve this problem after try restart kibana ?

[2020-06-30 07:18] nugnugrawk commented on #475
![Screenshot_20200630-141211_1](https://user-images.githubusercontent.com/19874624/86095652-7400c380-badc-11ea-8275-8670153e5208.jpg)
after restart kibana, i have a this problem, how to fix ?

[2020-06-30 09:57] spexboy commented on #471
Issue resolved.

Thank you so much for your support.

[2020-06-30 09:57] #471 closed

[2020-06-30 10:01] spexboy opened #478 "helk_install.sh: line 373: docker-compose: command not found"
Unable to install HELK in Centos 7.7.x

Please find the screenshot below,

![image](https://user-images.githubusercontent.com/13061021/86113186-8da70880-bae6-11ea-9284-d8c7431fa781.png)

Centos Linux release 7.7.1908

Kindly help. Thank you.

pictures, comments, etc.

[2020-07-03 06:26] 7manks commented on #248
Hi , i would like to add linux logs to helk , what i have done is use filebeat to transfer all logs to elasticsearch. is that OK?but not seem working . i am new to elk .  any suggestions?

[2020-07-07 12:10] spexboy opened #479 "Unable to push the logs in HELK Ubuntu"
Unable to push the logs Winlogbeat from HELK-Ubuntu 18.04

Ubuntu is running on VMware, so i can able to send winlogbeat logs from Host(Windows - Vmware Installed)  to Guest(HELK).

But apart from this i unable to send logs from any other machine winlogbeat to HELK.

Windows Screenshot - which logs are not reaching HELK, i dont know where it getting blocked.

![image](https://user-images.githubuse

[2020-07-08 04:09] #474 closed

[2020-07-08 04:10] Cyb3rWard0g commented on #478
Can you provide the version of your docker and docker-compose? I have seen this before and it is because of an old version installed. Let me know please thank you!

[2020-07-08 04:11] Cyb3rWard0g commented on #479
can you share your winlogbeat config please? Also can you ping your Ub untu box from your WIndows box?

[2020-07-08 04:12] Cyb3rWard0g commented on #478
I see you got it to work since you opened another issue with another question related to logs ingestion which means that your HELK should be up and running. Feel free to re-open it if it is necessary. Thank you!

[2020-07-08 04:12] Cyb3rWard0g commented on #478
https://github.com/Cyb3rWard0g/HELK/issues/479

[2020-07-08 04:12] #478 closed

[2020-07-08 04:13] #477 closed

[2020-07-08 04:14] Cyb3rWard0g commented on #475
mmmm I cannot replicate that issue. can you send logs from kibana and Elasticsearch?

Reference: https://thehelk.com/installation.html#monitor-helk-installation-logs-always

[2020-07-08 04:16] Cyb3rWard0g commented on #470
You can do it via the CLI. Does that help? https://github.com/Cyb3rWard0g/HELK/blob/master/docker/helk_install.sh#L605-L616

[2020-07-09 06:55] htoochonaung opened #480 "SSL certificate error"
I got issues while setup filebeat in client machine.
when i run sudo metricbeat setup -e
i got this .

![1056889](https://user-images.githubusercontent.com/46007529/87006961-80290700-c1e7-11ea-8019-8e4fa81e53c4.jpg)

[2020-07-09 08:23] nugnugrawk opened #481 "problem connection client windows winlogbeat to server ubuntu HELK"
![winlogissue](https://user-images.githubusercontent.com/19874624/87015590-d140f700-c1f7-11ea-97b8-22c93c5e201a.png)

how to fix this problem ?

I have configuration kibana server and winlogbeat with https://github.com/Cyb3rWard0g/HELK/blob/master/configs/winlogbeat/winlogbeat.yml configuration

[2020-07-09 11:38] nugnugrawk commented on #481
![logs1](https://user-images.githubusercontent.com/19874624/87035281-4c63d680-c213-11ea-9b37-5b8cef8ea439.png)
![logs2](https://user-images.githubusercontent.com/19874624/87035292-51c12100-c213-11ea-8e0c-ed07be725018.png)
this is file winlogbeat.yml in client (windows)

[2020-07-10 03:54] #470 closed

[2020-07-10 03:55] Cyb3rWard0g commented on #480
Hey @htoochonaung , isnt that an EC2 instance issue? I dont think that has to do with HELK itself right>

[2020-07-10 03:58] Cyb3rWard0g commented on #481
Do you have HELK installed on your WIndows System? It is pointing to 127.0.0.1. You have to give it the IP of your HELK server. The recommended setup for HELK is a simple Ubuntu Server in the network. Also, Elasticsearch is not exposed directly. All traffic goes to either Kafka or Logstash. You will need a config like this one:

[code]

That should be on your client/Windows box with WInlogbeat run

[2020-07-10 03:59] Cyb3rWard0g commented on #479
You will need something like this connect a Windows box with Winlogbeat installed:
[code]

[2020-07-10 04:37] htoochonaung commented on #480
hmm. I can't get ssl certificate from HELK  even i add HELK.crt from nginx server to client's instance .
what should i do?

[2020-07-10 05:32] nugnugrawk commented on #481
![gitlogpowershell](https://user-images.githubusercontent.com/19874624/87119833-4d474780-c2a9-11ea-8402-683c8ea8b8f1.png)
![gitlogpowershell2](https://user-images.githubusercontent.com/19874624/87119841-50dace80-c2a9-11ea-9142-298ed449c815.png)

i have configuration this on client windows, cant fix problem, why ?

[2020-07-12 05:58] Cyb3rWard0g commented on #481
You are setting up dashboards and that tries to connect directly with Kibana. kibana is not exposed directly. Are you getting any logs if you just start Winlogbeat?

[2020-07-12 06:04] nugnugrawk commented on #481
how to setting up dasboards ?

[2020-07-12 06:06] Cyb3rWard0g commented on #481
In the image below you are trying to set up dashboards. you would have to open the Kibana ports in the docker-compose file that you use. We do not have that feature enabled. That's something that we do not support at the moment.

[2020-07-12 06:23] nugnugrawk commented on #481
which part do I need to set up dashboards in the docker-compose file ?

[2020-07-12 06:25] Cyb3rWard0g commented on #481
Depending on what deployment you use, you will have to do something similar to what we have in every docker-compose file for Logstash https://github.com/Cyb3rWard0g/HELK/blob/master/docker/helk-kibana-analysis-alert-basic.yml#L58-L67 . You will have to add a similar section in the Kibana section https://github.com/Cyb3rWard0g/HELK/blob/master/docker/helk-kibana-analysis-alert-basic.yml#L73-L93

[2020-07-12 16:32] srinivas946 opened #482 "Predefined Algorithms in HELK"
Using Apache Spark and Graphframes we can achieve best results in Hunting, but when i download helk and open jupyter notebook, i haven't found any predefined algorithms related to apache spark. There is no path "training/jupyter_notebooks/getting_started/ folder" as per the documentation "https://github.com/Cyb3rWard0g/HELK/wiki/Spark"

[2020-07-13 05:19] nugnugrawk commented on #481
why can i browse 192.168.72.10:9200 (elasticsearch) unable to connect in my browser ? i have configuration elasticsearch host in 192.168.72.10, why ?

[2020-07-13 05:30] nugnugrawk commented on #481
![image](https://user-images.githubusercontent.com/19874624/87273839-5da72e80-c504-11ea-99cf-bc2b2c7c5cea.png)
why this problem ? i have configuration elasticsearch 192.168.72.10 but in that screenshoot which is read localhost ?

[2020-07-13 09:02] P01s0nV opened #484 "Large CSV shipping"
Hello !

I'm working on a project aimed to automate forensic artefacts harvest during incident response for different clients.

My goal here is to write a Python script that will be executed on a Windows DC via GPO, gather a KAPE-like archive for each computer in the domain, and launch for each archive in parallel a shipper that will send the csv files to a remote HELK server, specifically to Logs

[2020-07-13 10:50] devdua commented on #484
Try Vector - https://github.com/timberio/vector

[2020-07-13 16:18] hakavod opened #485 "Error Installation"
Hello dear, could someone please support me, I am installing Helk in a clean installation and the following error is displayed.
![Error_Installation](https://user-images.githubusercontent.com/45045004/87328071-917d5680-c4fa-11ea-96fd-1dfcd02644e1.jpg)

[2020-07-13 19:53] Cyb3rWard0g commented on #481
Ok a few things first:

* Are you using your own Elasticsearch server? If not, and I assume you are using HELK, Elasticsearch is a docker container and it does not expose port 9200 by default. That is to follow best practices. Therefore, you wont be able to connect to it directly. You are pointing directly to HELK's port 9200 and it is not open. It needs to be open on the docker-compose side. I sh

[2020-07-13 20:00] Cyb3rWard0g commented on #482
Hey @srinivas946 ! Thank you for the feedback. I believe you can see them in the notebook folder? https://github.com/Cyb3rWard0g/HELK/blob/master/docker/helk-jupyter/Dockerfile#L28-L29 Let me know if you see that folder when you open the Jupyter Notebook server. I will update the documentation. I have not ported Apache Spark and Jupyter docs to the new docs site: https://thehelk.com/intro.html

[2020-07-13 20:02] Cyb3rWard0g commented on #484
Niceeeee!!! I had not heard of Vector @devdua ! That looks promising. Would that answer your question @P01s0nV ? I believe you can also replace the HELK's pipeline and use your own for that specific project. We can then add it as an integration for a specific use case in the project if you do not mind. it would be great to have a use cases section.

[2020-07-13 20:03] Cyb3rWard0g commented on #485
Hey @hakavod ! Would you mind providing some logs? https://thehelk.com/installation.html#monitor-helk-installation-logs-always . First it would be good to check the helk-install logs as shown in the link that I just shared. Let me know! Thank you!

[2020-07-14 09:34] nugnugrawk commented on #481
if i want to enter the log from the HELK server, how do you do it? maybe this can be tried first

[2020-07-15 12:45] P01s0nV commented on #484
Yes, Vector looks quite nice! I tried parsing and shipping a csv file, but I had issues connecting to elasticsearch which actively refused it on either ports 9200 and 9300 and both http and https. I wonder if I have to activate something on elastic or if it just does not for any reason accept a connection from a pipeline outside of the machine it is on?

@Cyb3rWard0g yes a use cases section would

[2020-07-16 15:49] P01s0nV commented on #484
Hey, so I found how to make it work.
So the issue was that port 9200 is not exposed, so just adding the ports under elasticsearch in the yaml file used by docker-compose for installation was enough.

I tried to send a file that took about 50 minutes to send (for merely 100Mb) using filebeat into logstash with a filter for parsing before sending the result into elasticsearch. Using Vector it only t

[2020-07-17 04:41] devdua commented on #484
Glad to know Vector worked out for you @P01s0nV !

[2020-07-21 12:50] satspex opened #486 "Unable to Install the Helk in Centos"
Hi,

I unable to complete the install the HELK in centos 7.7

![image](https://user-images.githubusercontent.com/68596361/88056583-6dff7f00-cb7e-11ea-9bab-8c9ad84963ff.png)

Thank you in advance.

[2020-07-26 01:26] Cyb3rWard0g commented on #484
Than you @P01s0nV !

[2020-07-26 01:26] #484 closed

[2020-07-26 01:29] Cyb3rWard0g commented on #486
Hey @satspex ! mmmm can you try to remove docker if it is already installed before running the helk_install script? Maybe there is a docker-compose version or docker already installed.

[2020-07-26 01:30] Cyb3rWard0g commented on #481
Can you provide more information about your question??

[2020-07-26 01:31] Cyb3rWard0g commented on #485
That looks like a docker-compose version or already installed via a different way. Can you remove docker or docker-compose before installing HELK. it installs all that for you. Let me know. Thank you!

[2020-07-27 18:11] rocket-ops opened #487 "helk-elasticsearch connection"
#### Describe the problem

I am trying to follow this blog post,

https://medium.com/threat-hunters-forge/jupyter-notebooks-from-sigma-rules-%EF%B8%8F-to-query-elasticsearch-31a74cc59b991

I believe everything is up and running as it should be.  I can connect to the the Jupyter Notebooks using my <ip address> and the additional items specified.

However, when trying to initialize the Elasticsearch

[2020-07-29 09:08] ankhazam opened #488 "Elastic license"
Could you please describe why does HELK need Elastic basic (Elasitc) tier and the OSS (Apache 2.0) licensed core is not sufficient?

I have only found that you use monitoring:
https://github.com/Cyb3rWard0g/HELK/blob/220baae6b17617300f6f87b4c21f193d66ad52b6/docker/helk-elasticsearch/config/elasticsearch.yml#L101

[2020-07-30 01:08] Cyb3rWard0g commented on #487
Hey @rocket-ops ! Let me take a look at it.

[2020-08-04 00:08] BarryStokes opened #489 "Elastalert rules for sysmon event id 3 which filter on Image won't work"
#### Describe the problem
The logstash pipeline for sysmon (pipeline/1531-winevent-sysmon-filter.conf) changes the name of the "Image" field to "process_path". As the sigma rules are looking for a field called "Image", any rules which filter by "Image" won't work as expected.

#### Provide the output of the following commands

Get operating system and version
NAME="Ubuntu"
VERSION="18.04.4 LTS (Bi

[2020-08-04 00:16] BarryStokes opened #490 "Default install process asks for a IP address which it then ignores"
#### Describe the problem
During the install process (sudo ./helk_install.sh) the installer asks for an IP address, defaulting to the one it detects.

It doesn't look like the code actually uses the answer it receives and the detected address is used subsequently, resulting in comms failures between the containers.

    set_network() {
      if [[ -z "$HOST_IP" ]]; then
        # *********** Getti

[2020-08-04 04:57] nugnugrawk opened #491 "Can't connect winlogbeat to ELK"
i have try this tutorial : https://cyberwardog.blogspot.com/2017/02/setting-up-pentesting-i-mean-threat_87.html

but after finisihed try tutorial, i can't connect winlogbeat to server ELK,  even though the configuration is running smoothly, why ?

Thank you!

[2020-08-06 10:17] barvhaim commented on #359
@Cyb3rWard0g I am currently encounter this issue as well for consuming Elasticsearch data using its API, I would have to be able to access by "curl -u elastic:password <ip>:9200", first thing I did is to expose the 9200/9300 ports, but the issue now is how do I find the elastic user password? I use `KAFKA + KSQL + ELK + NGNIX` option

[2020-08-11 06:10] Cyb3rWard0g commented on #359
There is no password for ES as far as I know. We do not use the license or mode that requires it.

[2020-08-11 06:13] Cyb3rWard0g commented on #491
Hey @nugnugrawk !

That blog post makes Winlogbeat to point to Logstash. We recommend to use Win -> Kafka.  The WInlogbeat script should be something like this: https://github.com/Cyb3rWard0g/HELK/blob/master/configs/winlogbeat/winlogbeat.yml

[2020-08-11 06:17] Cyb3rWard0g commented on #489
Hey @BarryStokes

Out Sigma Config for sigmac actually translates that field to the right one: https://github.com/Cyb3rWard0g/HELK/blob/master/docker/helk-elastalert/sigmac/sigmac-config.yml#L122

Am I missing something? Can you share a screenshot of the rule that is looking for `Image`? Thank you in advance!

[2020-08-11 06:57] Cyb3rWard0g commented on #490
Than you @BarryStokes ! I am fixing it in a few seconds. The validation was removed by accident a few months ago. Sorry for the inconvenience.

[2020-08-11 06:57] #490 closed

[2020-08-11 07:11] #485 closed

[2020-08-11 07:11] nugnugrawk commented on #491
So I have to install Kafka first on ELK? and then use config win -> kafka on client windows ?

[2020-08-11 07:12] Cyb3rWard0g commented on #491
HELK comes with Kafka set up already. Are you building ELK manually? or deploying HELK via docker?

[2020-08-11 07:20] nugnugrawk commented on #491
ELK manually, I followed the instructions https://cyberwardog.blogspot.com/2017/02/setting-up-pentesting-i-mean-threat_98.html

[2020-08-11 07:22] Cyb3rWard0g commented on #489
ahh I see what you mean
[code]

[2020-08-11 07:39] Cyb3rWard0g commented on #491
Got it. Unfortunately we only support HELK deployments. Manual installs are out of the scope. thats why we provide docker containers. is it possible to deploy it with HELK?

[2020-08-11 07:55] nugnugrawk commented on #491
is there a tutorial that explains the steps start to finish pushing log windows (client) to helk (server) ?

[2020-08-11 08:51] Cyb3rWard0g commented on #489
We need to update the sigmac tool to latest. Thank you for letting us know.

[2020-08-11 08:53] Cyb3rWard0g commented on #491
This is the HELK installation instructions: https://thehelk.com/installation.html

For WIndows with WInlogbeat is the same steps you follow to install Winlogbeat but you need to use the config I shared above: https://github.com/Cyb3rWard0g/HELK/blob/master/configs/winlogbeat/winlogbeat.yml . You just need to update the HELK IP in the config.

[2020-08-11 09:25] nugnugrawk commented on #491
for install winlogbeat use this  https://www.elastic.co/guide/en/beats/winlogbeat/current/winlogbeat-installation.html ?

[2020-08-11 14:55] Cyb3rWard0g commented on #491
Yeah that works. Make sure you have the right version aligned with HELK's ELK stack.

[2020-08-11 14:56] Cyb3rWard0g commented on #491
Currently as 2020/08/11 we are at Elastic stack version 7.6.2.

[2020-08-17 09:06] hartescout opened #492 "Not pushing zeek logs to dashboard"
#### Describe the problem
I am unable to read data from Zeek 3.2.0 running on Ubuntu 18.04. Zeek filebeat from repo looks to be connecting and pushing data. It's not visualizing. I probably am missing a setting in Kibana, but can't figure it out. Zeek filebeat module enabled and configured to correct log directory. Most likely code in filebeat.yml?

Winlogbeat.yml is pushing Sysmon logs just fine

[2020-08-18 05:29] Cyb3rWard0g commented on #491
Feel free to re-open the issue or create another one if you have any further questions. Thank you!

[2020-08-18 05:29] #491 closed

[2020-08-18 05:34] Cyb3rWard0g commented on #492
Hey @hartescout ! Quick question. I can see the Filebeat establishing a connection to Kafka. however, I do not see any log saying that it was able to send any logs right?

If it is actually sending logs, did you check all the indices from this output config? https://github.com/Cyb3rWard0g/HELK/blob/ebf25b5d2d04603af49258c789f4d72ab23c5e98/docker/helk-logstash/pipeline/9998-catch_all-output.conf

I

[2020-08-18 05:35] Cyb3rWard0g commented on #481
feel free to re-open this issue or create a new one for additional questions.

[2020-08-18 05:35] #481 closed

[2020-08-18 05:36] Cyb3rWard0g commented on #480
Hey @htoochonaung , let me know if you were able to figure it out. I believe it had to do with your EC2 instance connection rather than HELK itself. Feel free to re-open this issue if you still have additional questions.

[2020-08-18 05:36] #480 closed

[2020-08-18 05:37] Cyb3rWard0g commented on #475
Hey @nugnugrawk ! Feel free to re-open this issue if you still need assistance deploying HELK. I could not replicate your issue. Try the latest version of it too. Thank you!

[2020-08-18 05:37] #475 closed

[2020-08-18 06:15] hartescout commented on #492
I think that might be the issue. I haven't looked at the conf or indexme-* indices. I'll take a look and update. Thanks for the help!

[2020-08-18 17:23] Cyb3rWard0g opened #493 "ERROR: Could not install htpasswd for ubuntu bionic (Error Code: 100)"
#### Describe the problem

I was trying to install HELK from master on an Ubuntu 18 TLS Server

#### Provide the output of the following commands

Get operating system and version

[code]
Get disk space, memory, processor cores, and docker storage
[code]

Get output of the HELK docker containers:
[code]

#### Provide the HELK installation logs located at /var/log/helk-install.log if you are having

[2020-08-18 17:46] Cyb3rWard0g commented on #482
let me know if you were able to find the notebooks.

You will see the following folder tree:

<img width="696" alt="image" src="https://user-images.githubusercontent.com/9653181/90547217-2528ef00-e159-11ea-8a64-561e8e1e09c7.png">

Enter tutorials and you will find this notebook

<img width="962" alt="image" src="https://user-images.githubusercontent.com/9653181/90547177-16423c80-e159-11ea-9cf5-1bf

[2020-08-18 17:46] Cyb3rWard0g commented on #482
I just tested with current master.

[2020-08-18 17:46] #482 closed

[2020-08-18 17:56] Cyb3rWard0g commented on #487
I just tested the current master with option 4 and it works with (for example) tutorials/07-pyspark-sparkSQL_tables, but it uses PySPark

<img width="1166" alt="image" src="https://user-images.githubusercontent.com/9653181/90547917-2dcdf500-e15a-11ea-81f4-48e1555eaea0.png">

I also tested the following steps from the blog post and it worked too. HELK automatically for testing the pipeline provides

[2020-08-18 17:56] #487 closed

[2020-08-18 18:01] #493 closed

[2020-08-18 18:03] Cyb3rWard0g commented on #479
Let me know if you still have additional questions about this issue. Feel free to re-open or create a new issue. I could not replicate this.

[2020-08-18 18:03] #479 closed

[2020-08-18 18:05] Cyb3rWard0g commented on #448
let me know if you still have questions about this custom deployment. Fell free to re-open this issue or create a new for additional questions.

[2020-08-18 18:05] #448 closed

[2020-08-18 18:06] Cyb3rWard0g commented on #443
Closing this issue following this response https://github.com/Cyb3rWard0g/HELK/pull/450

[2020-08-18 18:06] #443 closed

[2020-08-19 07:15] nugnugrawk opened #494 "nginx kibana dashboard"
i have the problem "502 bad gateway" after shutdown PC, why ? thanks.
![image](https://user-images.githubusercontent.com/19874624/90604052-7521b780-e226-11ea-87da-f169a040ea5a.png)

[2020-08-19 14:46] PaulTheHelk opened #495 "Fresh New Install on blank System, no ElastAlerts"
#### Describe the problem
I've installed the HELK with the provided Documentation from here:
https://thehelk.com/installation.html with no know or seen error during that.
I've created a test-machine (Windows box) with sysmon and winlogbeat 7.8.1 which seems to work fine and delivers some data.

#### Provide the output of the following commands

Get operating system and version
cat /etc/os-release

[2020-08-20 02:17] webhead404 commented on #488
@ankhazam it is so if users want to, they can upgrade directly to platinum trial. Elastic greenlit this project to use the Basic license a long time ago.

[2020-08-24 05:50] PaulTheHelk commented on #495
yes it should allert for mimikatz usage. i used mimikatz on a test-client, i can see all the events about that, but no alerts coming up.

[2020-08-24 14:57] hartescout commented on #492
@Cyb3rWard0g Hey thanks for the help so far. Here is the readout from the first "indexme-*" search I did on the machine running HELK. I have not altered anything in any other files besides filebeat.yml

I'll keep tooling around. Hope this helps, let me know if you need any more output/data!

` # Not in schema yet
    else if [@metadata][helk_parsed] != "yes" and [source] != "/var/log/osquery/osque

[2020-08-25 07:09] PaulTheHelk opened #496 "HELK: Question to attach a Packet-Beat"
Hello there,
i am very new to docker and elk, just learning, so sory for the questions.
i try to attach PacketBeat on a windows-box to the Helk (LinuxBox)
Normally i use elastic as output for PacketBeat which is configured in the packetbeat.yml

When i do a packetbeat setup -e the error is The Remotehosts denies connection.
I definded the ip for elastic and the port --> no success
i defined userna

[2020-08-25 16:56] Cyb3rWard0g commented on #492
the password line is a comment and does not apply to it. You mentioned that you were sharing the output of filebeat saying it connected properly witth the kafka broker from HELK. do you have that screenshot? I want to make sure the problem is not from Client -> HELK(Kafka broker) and not the pipeline itself.

[2020-08-28 04:59] hartescout commented on #492
I still owe you an answer. I'll get that too you soon. Away from desk for a couple days.

[2020-09-03 10:53] neu5ron commented on #496
HELK supports all beat's input via logstash port 5044.
see design here: https://github.com/Cyb3rWard0g/HELK/blob/master/docs/images/LOGSTASH-Design.png

so all you should need to do is set logstash output in packbeat to the HELK IP via port 5044.

let me know if that helps

[2020-09-04 03:22] Cyb3rWard0g commented on #494
I would also restart Kibana or Nginx.

[code]

[2020-09-07 22:00] h4sh5 opened #497 "question: docker data retention?"
where does the data go outside of docker? If they are all in a docker volume somewhere, does the volume get destroyed when:

- `docker ps -qa | xargs docker kill` (kill all docker instances)
- `docker ps -qa | xargs docker rm` (remove all docker instance)
- `docker-compose -f someconfig.yml stop` (the usual stop sequence)

And how can I export / move the data out in that case?

[2020-09-08 17:35] vamtrok opened #498 "add elasticsearch to docker-proxy"
I am trying to add another product to use the docker instance of elasticsearch that I have with your product already, I tried to publish the port but that did me no good, as I researched how it is done on the kibana dashboard I see that you are using /usr/bin/docker-proxy so I would like to add another entry to the docker-proxy 9200 to elasticsearchdker:9200  I have tried following the original fo

[2020-09-08 17:49] doludizgin opened #499 "Trying to build HELK stack for Production Cluster ES"
Hi,

i am trying to build HELK with an elastic cluster with TLS enabled  to use basic license in prodcution mode.

I rebuilded the compose file and i can get the cluster online in production mode only kibana isnt finding the cluster can you pinpoint me further ?

https://pastebin.com/SWiec39w

[2020-09-08 17:50] doludizgin opened #500 "Elasticsearch cluster in Production mode with TLS enabled"
Hi,

i am trying to build HELK with an elastic cluster with TLS enabled  to use basic license in prodcution mode.

I rebuilded the compose file and i can get the cluster online in production mode only kibana isnt finding the cluster can you pinpoint me further ?

https://pastebin.com/SWiec39w

[2020-09-09 11:26] nugnugrawk opened #501 "how to setting ELK rules detection in HELK ?"
I have problem to add log to SIEM for ELK rules detection, thank you

[2020-09-09 15:02] neu5ron commented on #497
the only persistent docker data is the elasticsearch database.

are you referring to something else perhaps?

[2020-09-09 15:03] neu5ron commented on #501
SIEM as in the Elastic SIEM Kibana app?

[2020-09-09 15:10] nugnugrawk commented on #501
SIEM Kibana app

[2020-09-09 15:10] nugnugrawk commented on #501
Yes

[2020-09-09 16:28] vamtrok commented on #498
Nevermind, I have discovered you had to edit the yml of the install file which allowed this to happen.  Thank you for the great product.

[2020-09-09 16:28] #498 closed

[2020-09-11 03:45] gluteusmax opened #502 "WEF Forwarded Sysmon Logs don't populate some dashboard widgets"
#### Describe the problem
I am using WEF to get logs to HELK ... the dashboards don't populate some of the charts, specifically those that reference a ".keyword field". (e.g. Could not locate that index-pattern-field (id: process_parent_name.keyword)

Is HELK supposed to accommodate forwarded event logs in the various pipelines and have the Dahsboards populate ?

Thanks,

[2020-09-11 07:27] erezhazan1 opened #503 "Dates and timestamps are not correct"
#### Describe the problem

For some reason, since I'm the only one that's opening an issue on this, the logs that I'm getting from Winlogbeat are with a wrong timestamp, which is in some cases a day ahead, so I need to search for logs that are 1 day ahead of me.
Also the event_original_time, and the event_recorded_time are with wrong dates (about almost 1 day ahead).
The only right date stamp is t

[2020-09-11 12:21] gluteusmax commented on #502
Apologies .. it seems I had enabled the processor for Forwarded events that Winlogbeat ships with and this was munging up the output. No issue here ...

[2020-09-11 12:21] #502 closed

[2020-09-20 13:40] erezhazan1 commented on #503
Hey!
I just read this medium article
https://medium.com/@7a616368/replaying-windows-event-logs-against-elastalert-and-sigma-rules-using-helk-6db6edde6760

### **That exactly describes the issue that I have.**

"Elasticsearch will naturally use the original event time as the data for the @timestamp field"

"To get around this, we can actually use the timestamp_field in the rule definition itself to

[2020-09-21 12:44] h4sh5 commented on #497
I got it - it's in the volumes.

[2020-09-21 12:44] #497 closed

[2020-09-24 17:12] skysbsb opened #505 "helk-elastalert errors"
#### Describe the problem
Errors encountered during initial helk-elastalert (docker) execution

#### Provide the output of the following commands

Get operating system and version
for linux (except Mac) use:
`cat /etc/os-release`
for Mac/OSX use:
`sw_vers`
Get disk space, memory, processor cores, and docker storage
`echo -e "\nDocker Space:" && df -h /var/lib/docker; echo -e "\nMemory:" && free -g

[2020-09-25 21:03] BradDFIR opened #506 "Install failing on Debian Stretch"
Hello,

I'm trying to install HELK on Debian Stretch and am receiving this error:

 * ERROR: Could not run HELK via docker-compose file helk-kibana-analysis-alert-basic.yml (Error Code: 255).

I apologize if this has been addressed before. I tried searching through and couldn't find any similar issues.

#### Provide the HELK installation logs located at /var/log/helk-install.log if you are having

[2020-09-27 14:48] neu5ron commented on #506
that seems to be an unrelated package on the system- it says suricata is erroring.
Are you able to fix that? The command apt-get update is pretty straight forward that should not error out w/ internet.

[2020-09-28 14:33] BradDFIR commented on #506
That was it. Thank you.

[2020-09-28 14:33] #506 closed

[2020-09-29 06:12] nugnugrawk commented on #501
how to implementation sigma rules after installation HELK on ubuntu ? thank you

[2020-10-01 16:55] colinrubbert opened #507 "Creating custom patterns"
#### Describe the problem
I'm working on building out a configuration to handle Pi-Hole dns queries via the /var/log/pihole.log file. I got my filebeat to work just fine. I've got logstash viewing (without custom conf file) but the minute I start building a custom configuration file that has pattern definitions things blow up. I need a place to store custom patterns.

My question:
How or where can

[2020-10-07 23:11] colinrubbert commented on #507
I managed to solve this issue by adding a _patterns_ folder to the _pipeline_ folder so that you can add custom configuration and custom patterns variables to a HELK instance. Until documentation and or the repo is update I will leave the link to my guide here in case anyone needs to use it until there's official documentation.

Here is the reference link to my guide [Pi-hole Logs in the HELK Stac

[2020-10-07 23:11] #507 closed

[2020-10-08 03:56] Cyb3rWard0g commented on #194
This was a proof of concept and will not be updated in the future.

[2020-10-08 03:56] #194 closed

[2020-10-08 04:07] Cyb3rWard0g commented on #319
This was already closed. here https://github.com/Cyb3rWard0g/HELK/pull/412

[2020-10-08 04:07] #319 closed

[2020-10-08 04:11] Cyb3rWard0g commented on #335
Updated 5 months ago. https://github.com/Cyb3rWard0g/HELK/blob/master/docker/helk_update.sh . Can be re-opened for further modifications or updates to it.

[2020-10-08 04:11] #335 closed

[2020-10-08 04:12] Cyb3rWard0g commented on #360
Not in the roadmap at the moment.

[2020-10-08 04:12] #360 closed

[2020-10-08 04:14] Cyb3rWard0g commented on #375
Hey @neu5ron , whenever you have some time would you helping with some numbers for `some general guideline on X amount of devices and or X amount of EPS and or X amount of storage - scenarios`? Thank you in advance brother. The rest I believe should be easier to address. Oh also the ECS conversations too would be great to address or have a conversation whenever there is time :)

[2020-10-08 06:12] Cyb3rWard0g commented on #486
I tried it tonight and I got the same issue. I looked at the logs

[code]

I restarted the docker service as shown below and it worked. I have seen that in a few places after Googling.

[code]

[code]
I am adding the docker service restart just in case after the firewall setup.

[2020-10-08 06:15] Cyb3rWard0g commented on #460
Yeah it is currently meant to one node only. Thank you for the question @Feedy81 .

[2020-10-08 06:15] #460 closed

[2020-10-08 06:22] #160 closed

[2020-10-08 06:22] #265 closed

[2020-10-08 06:22] #467 closed

[2020-10-08 07:35] neu5ron commented on #375
@Cyb3rWard0g I think the ECS thing may best be described in a Video/recording.. I dont think I can articulate on keyboard the proper explanation required without spending 2 weeks...
What do you think?

[2020-10-12 08:12] nugnugrawk opened #511 "sigma rules on HELK"
how to implementation and activation sigma rules on HELK ? can you give me tutorials about implementation sigma rules on HELK ? thank you

[2020-10-13 09:43] slackfoo opened #512 "Kibana stopped showing recent log"
#### Describe the problem

Just installed HELK almost a week ago, I noticed yesterday it only shows previous log. Is there limitation to the log ingested

#### Provide the output of the following commands

NAME="Ubuntu"
VERSION="18.04.5 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.5 LTS"
VERSION_ID="18.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubun

[2020-10-13 13:27] slackfoo commented on #512
Just to add kibana log shows this:

 { statusCode: 403,\n     payload:\n      { message:\n         'index [.kibana_1] blocked by: [FORBIDDEN/12/index read-only / allow delete (api)];: [cluster_block_exception] index [.kibana_1] blocked by: [FORBIDDEN/12/index read-only / allow delete (api)];',\n        statusCode: 403,\n        error: 'Forbidden' },\n     headers: {} },\n  reformat: [Function],\n

[2020-10-15 13:18] zorteran commented on #500
I assume that you didn't provide `elasticsearch.username` and `elasticsearch.password` and/or `elasticsearch.ssl.certificateAuthorities` in `kibana.yml`
https://www.elastic.co/guide/en/kibana/current/settings.html

[2020-10-22 06:12] txapel91 opened #513 "Error installing HELK on Ubuntu 18.04.5"
#### Describe the problem
An error appears during installation that prevents it from finishing

#### Provide the output of the following commands

Get operating system and version
for linux (except Mac) use:
`cat /etc/os-release`
for Mac/OSX use:
`sw_vers`
Get disk space, memory, processor cores, and docker storage
`echo -e "\nDocker Space:" && df -h /var/lib/docker; echo -e "\nMemory:" && free -g

[2020-10-23 05:52] #513 closed

[2020-10-23 05:52] txapel91 commented on #513
taking a different route

[2020-10-28 07:45] Nicole1122 commented on #477
Hey, this didn't work out for me. I added the 9200 port to this section and ran the docker installation. The port was still closed. what did I do wrong?

[2020-10-30 14:50] shelladdection opened #514 "No logs in Kibana"
I have installed HELK on Ubuntu 18.0.4 bionic then installed sysmon64 on Windows server 2019 using "sysmon moduler" config also installed winlogbeat on the same windows server and used HELK yml file not the default one

when I test the connection using netstat on windows i can see the connection established using the port 9092 but still no logs on kibana ! im using the latest sysmon and latest win

[2020-10-30 14:59] shelladdection commented on #514
the only thing I can see in winlogbeat logs:

2020-10-30T17:54:08.195+0300	INFO	[publisher]	pipeline/retry.go:213	retryer: send wait signal to consumer
2020-10-30T17:54:08.199+0300	INFO	[publisher]	pipeline/retry.go:217	  done
2020-10-30T17:54:08.200+0300	INFO	[publisher]	pipeline/retry.go:213	retryer: send wait signal to consumer
2020-10-30T17:54:08.200+0300	INFO	[publisher]	pipeline/retry.go:217

[2020-10-30 21:01] badroum opened #515 "use helk with an external elk ?"
hello I would have liked to know if HELK could be easily plugged to an external ELK.

[2020-11-12 08:15] nugnugrawk opened #516 "problem helk-elastalert"
![Screenshot from 2020-11-12 15-14-06](https://user-images.githubusercontent.com/19874624/98913295-c1b12200-24f9-11eb-9165-fdcc76221ce8.png)
no show logs in elastalert, why ? after installation i go to kibana and show this problem. thank you

[2020-11-16 15:14] FPinfosec opened #517 "elastalert_status too big and connection timeouts"
HI, i have installed HELK with dockers and elastalert_status_status significantly increased to almost 4GB size.
Elastalert_status_error shows me connection errors, but manually from docker container host is accesible and port 9200 is open.

message:Error running query: ConnectionTimeout caused by - ReadTimeout(HTTPConnectionPool(host='helk-elasticsearch', port=9200): Read timed out. (read timeout=

[2020-11-16 15:15] FPinfosec commented on #516
How much logs you have sent to your HELK?

[2020-11-16 17:43] acj014 opened #518 "Need help with combining Helk + filebeat + zeek"
Hey, i installed everything (option 4) and i want to connect my zeek logs to Helk now, which i tried to do with the manual from kibana/tutorial/zeekLogs, the problem is that i cannot find my elasticsearch url. Also i had to disable ssl.verification_mode in filebeat to talk to my "self created certificate". Which port should elasticsearch run on ? I see that under docker ps the elasticsearch machin

[2020-11-18 04:59] #494 closed

[2020-11-18 05:05] Cyb3rWard0g commented on #496
Feel free to re-open this issue @PaulTheHelk . Port 5044 should do it.

[2020-11-18 05:05] #496 closed

[2020-11-18 05:10] Cyb3rWard0g commented on #499
I have not tested HELK with that type of setup. I assume it has to do with the Kibana needed to be configured also to handle the client certificate and private key: https://www.elastic.co/guide/en/kibana/current/elasticsearch-mutual-tls.html

[2020-11-18 05:11] Cyb3rWard0g commented on #499
Duplicate of https://github.com/Cyb3rWard0g/HELK/issues/500

[2020-11-18 05:11] #500 closed

[2020-11-18 05:12] Cyb3rWard0g commented on #501
We do not support that app at the moment.

[2020-11-18 05:12] #501 closed

[2020-11-18 05:13] Cyb3rWard0g commented on #505
hey @skysbsb ! Sorry for the inconvenience. We are still working on the helk-elastalert container. it is not up to date with the latest sigmac stuff.

[2020-11-18 05:14] Cyb3rWard0g commented on #511
Hey @nugnugrawk ! We are currently working on updating helk-elastalert to handle sigma rules for HELK.

[2020-11-18 05:16] Cyb3rWard0g commented on #512
Hey @slackfoo ! Limitations to logs ingested depends on how much storage you have available. Can you confirm if you have 94% available? based on the logs you shared.

[2020-11-18 05:18] Cyb3rWard0g commented on #514
Hey @shelladdection ! Can you share your WInlogbeat config please? Also can you share your Kafka logs

`sudo docker logs helk-kafka-broker` . Thank you!

[2020-11-18 05:19] Cyb3rWard0g commented on #515
Hey @badroum ! Can you provide more information to your question? Do you mean push events to an external ELK? Like HELK-KAFKA -> HELK-LOGSTASH -> EXTERNAL-LOGSTASH?

[2020-11-18 05:20] Cyb3rWard0g commented on #516
We are working on helk-elastalert still. There are some pending commits to improve that docker container. Failing at the moment. Thank you for your patience.

[2020-11-18 05:21] Cyb3rWard0g commented on #517
Hey @FPinfosec ! thank you for sharing all that information. We are fixing a few things in the helk-elastalert container to get it to work again. Thank you for your patience.

[2020-11-18 05:23] Cyb3rWard0g commented on #518
Hey @acj014 ! Yeah Elasticsearch is not exposed via Docker. We do not enable it by default. however, you can do it by modifying the helk-ekasticsearch service in the docker compose file you use. For example: https://github.com/Cyb3rWard0g/HELK/blob/master/docker/helk-kibana-analysis-basic.yml#L4 . You can add something similar to what we have in the helk-logstash service in the docker compose file

[2020-11-18 05:24] #488 closed

[2020-11-18 05:28] nugnugrawk commented on #511
Does this mean that currently the Sigma rule can't be used on the helk?

[2020-11-18 06:17] Cyb3rWard0g commented on #511
Hey @nugnugrawk ! Sigma can be used directly in the Kibana interface if you translate the sigma rule to the right syntax. We use helk-elastalert to automate the execution of the query.

[2020-11-18 06:18] Cyb3rWard0g commented on #511
You can use https://uncoder.io/ to do the translation

<img width="1327" alt="image" src="https://user-images.githubusercontent.com/9653181/99492667-faa72780-293b-11eb-9930-0d1d4a147c75.png">

[2020-11-18 06:19] Cyb3rWard0g commented on #511
One issue with that of course is that the translation uses ECS standardization. Make sure you use the right field names with HELK

[2020-11-18 08:30] nugnugrawk commented on #511
after translating the sigma rules to ECS like this, then how do you use them in HELK to appear on the elastalert_status?

[2020-11-18 09:30] erezhazan1 commented on #515
Hey!
I'm not sure what exactly is the meaning of his question, but I got a similar one.
Is it possible to push events from logstash to a different ELK setup?
Meaning Winlogbeat --> kafka --> logstash --> add another output to a different ELK setup.

To be more specific:

output {
  lumberjack {
    hosts => xxxx
    port => 5006
    ssl_certificate => "/usr/share/logstash/keys/TrustExternalCARoot.

[2020-11-18 10:08] acj014 commented on #518
I did the exposal by myself yesterday and tried to send the zeek logs directly with filebeat to elasticsearch on port 9200. Filebeat Service is running, and i dont get any errors, but there wont appear any data on my kibana zeek dashboard.  Is this the way its supposed to be ? Or should i send any logs to kafka or logstash ?
See attached my zeek.yml and filebeat.yml
[filebeat.yml.txt](https://gith

[2020-11-19 18:57] hakavod opened #519 "Could not run HELK via docker-compose file helk-kibana-analysis-alert-basic.yml (Error Code:127)"
SO:
![image](https://user-images.githubusercontent.com/45045004/99710099-232f3e80-2a6e-11eb-8269-fbdc1a6a184e.png)
Problem:
Good afternoon, I am having trouble installing ELK on a clean install, error appears

"* ERROR: Could not run HELK via docker-compose file helk-kibana-analysis-alert-basic.yml (Error Code:                                                                   127)."
![image](https

[2020-11-23 04:40] nugnugrawk commented on #516
can helk-elastalert be used now? thank you

[2020-11-23 13:48] ssi0202 opened #521 "logstash error while fetching metadata with id xxxx"
fresh install on ubuntu the logstash log is full of this, and no data is getting ingested. I have just set up a winlogbeat to ship data from a client machine

[2020-11-23T13:43:03,197][WARN ][org.apache.kafka.clients.NetworkClient][main] [Consumer clientId=logstash-1, groupId=helk_logstash_zeek] Error while fetching metadata with correlation id 19535 : {zeek=UNKNOWN_TOPIC_OR_PARTITION}
[2020-11-23

[2020-11-24 04:44] Cyb3rWard0g commented on #477
what dockerfile did you update and what HELK install option did you use? 1-4?

[2020-11-24 04:46] Cyb3rWard0g commented on #515
Oh yeah for sure. That's possible. . Following this syntax https://www.elastic.co/guide/en/logstash/current/plugins-outputs-lumberjack.html

[2020-11-24 04:46] #515 closed

[2020-11-24 07:28] badroum commented on #515
Hello,
Sorry for the late response.
The purpose of my question is twofold, as I already have an ELK cluster on other VMs, I would like to use them already present on it with HELK.
Then, to know if HELK is compatible with open distro.

[2020-11-24 18:35] badroum opened #522 "Use an ELK or opendistro cluster"
#### Describe the problem

Hello,
Sorry to open a second exit, but I didn't get an answer when the first one closed.
The purpose of my question is twofold, as I already have an ELK cluster on other VMs, I would like to use them already present on it with HELK.
Then, to know if HELK is compatible with open distro.

Several solutions can be envisaged but the one that interests me would be the follow

[2020-11-28 02:52] slackfoo commented on #512
Hi thanks for the response, Ive solved the problem by resizing the container its back to normal now tq again :)

[2020-11-29 20:29] Cyb3rWard0g commented on #512
Thank you @slackfoo

[2020-11-29 20:29] #512 closed

[2020-12-07 09:55] priamai opened #523 "Kafka enrichment via Event List"
Hi there,
I believe your colleague Miriam has an interesting project called EventList from Microsoft Security Baselines that can be used to enrich directly in Kafka the windows event logs.
What you could do is to take the posgtresql schema from her repository:
https://github.com/miriamxyra/EventList
register it as a Kafka table and then join the incoming events based on the Event id.

Happy to pro

[2020-12-07 22:45] priamai opened #524 "Could not run HELK via docker-compose file helk-kibana-analysis-alert-basic.yml (Error Code: 1)."
#### Describe the problem

I am running helk_install.sh for the firs time.

#### Provide the output of the following commands

[code]

#### Provide the HELK installation logs located at /var/log/helk-install.log if you are having install errors

[code]

#### What version of HELK are you using

[code]

#### Any additional context or input you have

Hmmm the logs seems to suggest is an invalid certi

[2020-12-08 07:02] priamai commented on #524
Closing this as is related I discovered to my SSL inspection firewall.

[2020-12-08 07:02] #524 closed

[2020-12-08 07:05] priamai commented on #522
On a related question could we add an option to run OpenElasticSearch instead of the current ElasticSearch?

[2020-12-08 09:43] priamai opened #525 "Suggestion to add Praeco as elastalert visualizer"
Hi there,
is anybody working on adding Praeco to manage and visualize the Alert rules?
There is a full docker configuration here: https://github.com/johnsusek/praeco
My understanding is that you can simply add the web app into the docker composer file and point it to the ElasticSearch server.

[2020-12-08 22:07] mother2110 opened #526 "Sonicwall to HELK"
HELK is up and running fine. I have winlogbeat sending syslogs to the server, How would I go about sending logs from a Sonicwall to HELK? Any instructions out there? I cannot seem to find any,

[2020-12-09 07:03] priamai commented on #523
I can see there is a Logstash pipeline here:
https://github.com/Cyb3rWard0g/HELK/blob/master/docker/helk-logstash/pipeline/0003-attack-input.conf
where it does a join on the MITRE databse.
Would love to have some documentation on that to see if it has been done already.

[2020-12-09 07:06] priamai commented on #526
Filebeat has a Sonicwall module:
https://www.elastic.co/guide/en/beats/filebeat/master/filebeat-module-sonicwall.html
What you could do is to simply install Filebeat, configure the module and point into the ES of the HELK deployment.
I am not familiar with Sonicwall systems but if you then have to do some correlation or filtering you will have to use the Kafka stream and/or the Logstash for that.

[2020-12-09 07:07] priamai commented on #522
By the way I am attempting to replace the vanilla ES with the Open Distro ES, will see if that works and keep an update log here.

[2020-12-09 07:12] priamai commented on #517
Just purely looking at those screenshots, one quick win would be to also create the status_index and error with timestamps which will enable to select the index by day partition and minimize read IO during queries.
Out of curiosity how many machines have you been monitoring and for how long to reach that 21 million alerts?

[2020-12-09 07:19] priamai commented on #495
Yes this should work, I will try to replicate your setup since I have just started testing HELK.
Now off the bat if you look at the elastalert rules:
https://github.com/Cyb3rWard0g/HELK/tree/master/docker/helk-elastalert/rules
I don't see one that specifically target Powershell Mimikaz detection.
But there is here a script that pulls sigma rules to be converted:
https://github.com/Cyb3rWard0g/HELK

[2020-12-09 09:34] FPinfosec commented on #517
Hi, it’s an abnormal situation or/and elastalert issue.
Because there was a test deploy on 2-3 machines. Later I have installed the same helk without elastalert and I’m happy with results.
25+ AD DC servers , 150+gb logs in a week(incl. sysmon and ps) ,20+ additional usecases-but HELK deals with that like a boss 😎.

Thanks guys for your work.

Thanks,
Yevhen.
________________________________
От: p

[2020-12-09 09:40] neu5ron commented on #495
@priamai I am open to praeco at this  point, but I see this in the docs: https://github.com/johnsusek/praeco#can-i-import-my-current-elastalert-rules-into-praeco
have you used it before with sigma converted elastalert rules?

Either way, the elastalert/sigma management is definitely on the table for a rewrite/re-engineering. So I am open for ideas that work or people have used.

[2020-12-09 11:48] priamai commented on #526
I believe you will also need to modify this: https://github.com/Cyb3rWard0g/HELK/blob/master/docker/helk-logstash/scripts/logstash-entrypoint.sh
Andd your SonicWall into a pipeline folder and reference that into this config file:
https://github.com/Cyb3rWard0g/HELK/blob/master/docker/helk-logstash/config/pipelines.yml
You will also need to write a script to add the Filebeat SonicWall templates int

[2020-12-09 11:51] priamai commented on #523
More pointers:
Miriam talk about [EventList](https://www.youtube.com/watch?v=l5PpbOmopyA)
Windows Logging [Cheat Sheet](https://www.malwarearchaeology.com/cheat-sheets)
Github repo but outdated [malwarearcheology](https://github.com/MalwareArchaeology/ATTACK)

[2020-12-09 11:56] priamai commented on #495
@neu5ron I am going to use your converter script into their docker setup and see what happens. I will let you know here.

[2020-12-09 17:10] mother2110 commented on #526
Thanks for the responses. I am completely new to ES and HELK. This may take me awhile.

[2020-12-09 21:21] #526 closed

[2020-12-09 21:21] mother2110 commented on #526
Thanks

[2020-12-09 22:26] mother2110 opened #527 "Getting netflow into HELK"
Sorry for the noob question but where would I configure filebeats to accept netflow traffic on port UDP 2055 in HELK? Any instructions out there?

[2020-12-10 01:11] SRJanel commented on #521
Just stumbled upon this issue as well.
I managed to quickfix the problem by forcing into logstash’s pipeline configs a different client_id for the two kafka inputs (in 0002-kafka-input.conf and 0006-kafka-zeek-input.conf).

[2020-12-10 06:54] priamai commented on #527
I don't see any preconfigured filebeat pipeline into HELK, however all you have to do is to add a new pipeline into Logstash configuration (read the other thread about SonicWalls) but instead use the Filebeat module for Netflow processing.
It will look like this:
FileBeat (NetflowModule)-> Logstash -> ElasticSearch -> Kibana Dashboards
The Dashboards needs to be generated with the Filebeat templat

[2020-12-10 13:29] priamai opened #528 "what about unit test process?"
Hi there,
I haven't seen anything in the project which involves replaying winlogbeat events to make sure the events are correctly enriched and processed in ES. This will also help measuring if the alerts are triggered as other users have found issues on that.
I have seen the other project Mordor but I am not sure whether that can be used to replay event logs into HELK for the purpose of testing a

[2020-12-10 16:25] mother2110 commented on #527
Thanks @priamai
Are there any written instructions on how to do this? This is the very first time working with ELK and I am a complete dumbass right now. I just need a free system that I can collect logs from a few sonicwalls out there to watch out for bad stuff.

[2020-12-11 06:13] priamai commented on #527
We can do step by step, first we would need the SonicWalls file logs on a repository. Then we try first Logstash with input file and output console to see if they have been parsed. Then we add FileBeat as input and make sure still works. Then we add ES as output. Once the chan is working we will attempt to modify the HELK files with the configuration required.

[2020-12-11 06:44] priamai commented on #527
This is a good diagram description @mother2110  to understand what a pipeline is:
https://www.elastic.co/guide/en/logstash/current/first-event.html

[2020-12-11 13:21] priamai commented on #495
@PaulTheHelk looking at the Sigma rules there are two possible candidate matching your execution.
Your index is: logs-endpoint-winevent-sysmon-

The first one based on logs-endpoint-winevent-sysmon-* should trigger:

[code]

And the second one based on winevt  logs-endpoint-winevent-* (should not trigger):

[code]

Now correct if I am wrong but I do not see in your event the process_command_line f