[2017-11-02 19:19] raveydaveygravy opened #5 "Unable to configure new index pattern in kibana"
Firstly, thank you so much for your contributions including your awesome blog posts about setting up a  threat hunting lab.

Do you know why my pull-down menu, "Time Filter field name" is empty in kibana when I go to add a new winlogbeat* index pattern? Thanks for your help

<img width="1068" alt="screen shot 2017-11-02 at 2 17 47 pm" src="https://user-images.githubusercontent.com/22260050/3234563

[2017-11-03 16:36] raveydaveygravy commented on #5
I think there was an issue where my winlogbeat data from my client wasn't reaching the server. Restarted winlogbeat service on client, refreshed Kibana, then I could see the @timestamp value available in the pull-down menu. Working now

[2017-11-03 16:36] #5 closed

[2017-11-29 09:25] ssi0202 opened #6 "build in functionality from deepblueCLIv2 srcipts into the logstash conf"
hi thanks for the great work you have shared here!

do you think its feasable to incorporate the "behavior" checks into logstash that deepblue cli does via powershell parsing of the evt files

you are grabbing the data correctly (same eventid's) and its beings split op correctly also (your payload field) can you from here take the data and run the checks that eric conrad has in this code below

ht

[2017-12-04 02:40] Cyb3rWard0g commented on #6
Hey @ssi0202 ! Sounds like a good idea. An enrichment to check for suspicious behaviors. I will have to look into how I would apply it via log stash. Let me know if you get it to work in your build first.
thank you for sharing!

[2018-01-04 15:51] xtremebeing opened #8 "Error during install"
from the log file:
Package openjdk-8-jre-headless is a virtual package provided by:
  oracle-java9-installer 9.0.1-1~webupd8~0
  oracle-java8-installer 8u151-1~webupd8~0

E: Package 'openjdk-8-jre-headless' has no installation candidate

[2018-01-09 00:16] Cyb3rWard0g commented on #8
Hello @xtremebeing, Do you still have this issue? What OS are using to host the HELK, and can you try the new version??. Option 3 when you run the main helk_install.sh script. Let me know.

[2018-01-11 02:06] 8ballin opened #10 "No ipython-notebook package for Stretch"
The latest package for ipython-notebook in Debian appears to be in Jessie.  Do you want to pull it from that old repo or somewhere else?

[2018-01-11 04:56] Cyb3rWard0g commented on #10
Hey @8ballin . I removed the IPython-notebook and ipython packages part since it is already done by "pip install jupyter". ipython-notebook is also deprecated. Let me know if the bash script works for you by using pip to install jupyter. I updated the bash script and Dockerfile.

[2018-01-11 12:25] wasilewski opened #11 "Error during installation of HELK"
Hi,

I've created a new Ubuntu based VM Machine and I am trying to Install HELK however, I am experiencing a few errors. Do I need to install anything else prior to the installation process? README file doesn't specify that. Please take a look:

sudo ./helk_install.sh

**********************************************
**           HELK - M E N U                 **
**

[2018-01-11 12:37] wasilewski commented on #11
nvm, option number 3 seems to be working so far, thanks!

[2018-01-11 12:52] Cyb3rWard0g commented on #11
Hello @wasilewski . it seems that the main issue is the docker package not being pulled properly. Can you provide the version of your Ubuntu system? So far it works with Xenial 16.04 (LTS). I have to adjust the script to take other versions of Ubuntu. Also, could you copy and paste the logs from /var/log/helk-docker-install.log?? That should give you more details of what exactly happened wile inst

[2018-01-11 17:17] Cyb3rWard0g commented on #11
@wasilewski I integrated the official docker install script (edge version) from Docker. Known as the convenience script, it is capable to detect your specific distribution and version and install Docker the right way. Let me know if that works. I just added that with this last commit. https://github.com/Cyb3rWard0g/HELK/commit/4f2bbfbc2186840954e110257b9350742263cd29

[2018-01-11 17:18] Cyb3rWard0g commented on #10
@8ballin are you still having the same issue? let me know. Thank you for sharing your findings. This makes this beta version a better one. 👍

[2018-01-11 17:20] Cyb3rWard0g commented on #8
@xtremebeing let me know if you still have this issue?

[2018-01-11 17:31] xtremebeing commented on #8
sorry, I just noticed my VM is Ubuntu 14.04.5 LTS

[2018-01-11 17:40] Cyb3rWard0g commented on #8
@xtremebeing np. This actually helps to be more specific in what versions of Ubuntu too (Xenial). Run the script again and let me know if that works.

[2018-01-11 20:42] #8 closed

[2018-01-11 21:13] wasilewski commented on #11
@Cyb3rWard0g Option 1 still doesn't work. I went back to my fresh installation Ubuntu snapshot and tried again. Looks like an error with CURL installation:

[HELK-INSTALLATION-INFO] Enter choice [ 1 - 4] 1
[HELK-DOCKER-INSTALLATION-INFO] HELK identified Linux as the system kernel
[HELK-DOCKER-INSTALLATION-INFO] Checking distribution list and version
[HELK-DOCKER-INSTALLATION-INFO] You're using ubu

[2018-01-11 21:17] Cyb3rWard0g commented on #11
oops. sorry. I didnt set the curl installation properly. try it again. I fixed the install syntax with this commit https://github.com/Cyb3rWard0g/HELK/commit/13995a4d66494ad066045e9aab65f260ffedbd2f

[2018-01-11 21:55] Cyb3rWard0g commented on #11
@wasilewski let me know if that fixed the issue. The option 1 and 2 are affected by the docker installation so I hope the new docker install script fixes all the that. 👍

[2018-01-11 22:06] wasilewski commented on #11
@Cyb3rWard0g All good this time!

[HELK-INSTALLATION-INFO] Enter choice [ 1 - 4] 1
[HELK-DOCKER-INSTALLATION-INFO] HELK identified Linux as the system kernel
[HELK-DOCKER-INSTALLATION-INFO] Checking distribution list and version
[HELK-DOCKER-INSTALLATION-INFO] You're using ubuntu version xenial
[HELK-DOCKER-INSTALLATION-INFO] Docker is not installed
[HELK-DOCKER-INSTALLATION-INFO] Checking if curl

[2018-01-11 22:13] Cyb3rWard0g commented on #11
Awesome!!!! Yaayy! Thank you very much for your feedback and for sharing the issues you were having with it. That helps the project to get better. 👍  I will be sharing a blog post soon and a wiki to provide more details about how everything is built and how it can be customized to make it scale even more. 👍  . I will close this issue, but if you have any other issues, feel free to open another one

[2018-01-11 22:13] #11 closed

[2018-01-12 01:18] 8ballin commented on #10
I'm about to test shortly, just got home from work.  I promise to follow up.

On Thu, Jan 11, 2018 at 12:18 PM, Roberto Rodriguez <
notifications@github.com> wrote:

[2018-01-12 01:54] 8ballin commented on #10
Install successful using option 3 on Debian Stretch.  Thank you.

[2018-01-12 01:55] #10 closed

[2018-01-12 03:50] Cyb3rWard0g commented on #10
Thank you @8ballin ! 👍

[2018-01-12 11:30] Gourav1990 opened #12 "issue for installing helk on ubuntu 16.04"
Hello,
my name is Gourav  and i have a problem facing for installing helk  so please give me the solution for the issues
1. i am trying to install helk on an ubuntu machine 16.04 version i am get stuck at running the jupyter server. can you help me to resolve this issue
![helk11](https://user-images.githubusercontent.com/35369246/34873137-f37f074a-f7b9-11e7-9c74-61012d5bdcb9.PNG)

[2018-01-12 12:29] WasKa001 commented on #12
@Gourav1990 try selecting option 3 (installation from local bash script) and let us know if you'll encounter the same error during installation

[2018-01-12 12:57] CrazyLlama commented on #12
Very strange but I had the same issue on both 1 and 2, tried it with 3 and it still got stuck at the same point. On cancelling and retrying it everything went through fine? 😕

I'll have a look and see if everything is running properly and see if I can find where the issue is, may just be a minor incompatibility.

[2018-01-12 13:00] CrazyLlama commented on #12
Yep, appears to have given me a false success message:

[code]
Both of these return nothing also:

[code]

I'll have a nosy through the install file manually also!

[2018-01-12 13:41] WasKa001 opened #13 "No indices match pattern "powershell-*" and wmiprvse.exe"
Hi,

I have a two questions:

1. All of the below are working fine and are discoverable apart from **powershell-***

powershell-*
sysmon-*
winevent-application*
winevent-security-*
winevent-system-*

No matching indices found: No indices match pattern "powershell-*"
Screnshoot with error message: https://imgur.com/Ox7ePL1

2. I've noticed **wmiprvse.exe** is generating lots of data. I just install

[2018-01-12 14:22] CrazyLlama commented on #12
Removing and re-downloading the packages/HELK appears to a fixed this issue - I can't really say much beyond that. Apologies!

[2018-01-12 14:33] Cyb3rWard0g commented on #12
@Gourav1990 thank you for sharing the details of your install. can you provide the output of /var/log/helk-install.log ?? Usually the Jupyter server parts takes a little bit to finish. However, I would like to see what you got in the HELK installation logs. Thank you

[2018-01-12 14:35] Cyb3rWard0g commented on #12
@CrazyLlama thank you for sharing what worked for you. However, I have a question. The bash script is limited to only work with debian systems. I see you got the [HELK-BASH-INSTALLATION-INFO] This is not a debian-based system.. message. When you ran the script again, did you use the same system? what OS, distribution and version are you running the HELK on? The details help the HELK to be better a

[2018-01-12 14:40] CrazyLlama commented on #12
Haha - I accidentally built a centos 7 system which would have been my issue, I rebuilt into Ubuntu 16.04 and all works fine. (I say accidentally as I was spinning this up into VMs to play with it.)

[2018-01-12 14:42] Cyb3rWard0g commented on #13
@WasKa001 thank you for the details. Regarding the powershell-* index. Did you set your endpoint to send PowerShell logs over to the HELK?? For example, this is the Winlogbeat config that I use in my lab: https://github.com/Cyb3rWard0g/HELK/blob/master/winlogbeat/winlogbeat.yml . Let me know if you are doing that already. if you are already doing that, can you just refresh your Kibana interface in

[2018-01-12 14:50] Cyb3rWard0g commented on #12
@CrazyLlama Awesome! thank you for letting me know. from the image that you shared, you used the bash script option and failed which would make sense if you were using a Centos 7. If you rebuilt it and then tried option 1 and 2, and it worked fine it is because you are installing Docker and then on the top running a container from an Ubuntu image. In other words, if you would have kept your Centos

[2018-01-15 14:10] Cyb3rWard0g commented on #13
Hey @WasKa001 I hope you had a good weekend. Let me know if you were able to take a look at the suggestions I shared. let me know if this could be closed or if you still need help. Thank you!

[2018-01-15 14:11] Cyb3rWard0g commented on #12
Good morning @Gourav1990 . Let me know if you were able to finish the HELK installation. Were you able to get all the options running?

[2018-01-15 15:47] Gourav1990 commented on #12
Hello,

Installation work is going on when the installation is finish then i let
you know

On Jan 15, 2018 7:41 PM, "Roberto Rodriguez" <notifications@github.com>
wrote:

[2018-01-15 15:56] Cyb3rWard0g commented on #12
Thank you @Gourav1990 . Let me know 👍

[2018-01-16 10:55] WasKa001 commented on #13
@Cyb3rWard0g hi, sorry I didn't have a chance to check it yet. I am using .yml config file from your blog. I guess it's the same as the one you've posted above. I'll check once again later on today in the evening and will get back to you soon, thanks!

[2018-01-16 14:20] Cyb3rWard0g commented on #13
@WasKa001 sounds good. no rush. The YML file is a good start but needs to be customized for your own need and use cases. Let me know if you were able to install the HELK without any issues 👍  Whenever you have a chance. Thank you

[2018-01-16 14:27] WasKa001 commented on #13
@Cyb3rWard0g HELK installation is not the issue, I've installed it and everything is working properly apart from powershell-* section - "No indices match pattern "powershell-*"

Do I need to modify your YML to get this working? I used YML from your blog post about threat hunting lab. Thanks!

[2018-01-16 14:30] Cyb3rWard0g commented on #13
ok so HELK installation is not the issue. Can you provide the link to the YML file? The one that I used for the threat hunting lab is not set up to pull PowerShell logs. The YML that you should use is this one: https://github.com/Cyb3rWard0g/HELK/blob/master/winlogbeat/winlogbeat.yml. Also, make sure you have enhanced PowerShell logging enabled: https://cyberwardog.blogspot.com/2017/06/enabling-en

[2018-01-16 20:40] jermdw opened #16 "Create Wiki"
Create FAQ for wiki. Some users may not know how to restart the HELK server if it stops, modify variables etc... A FAQ page in the wiki would help answer some of these questions.

[2018-01-16 21:41] Cyb3rWard0g commented on #16
Hey @jermdw Thank you for the suggestion. Yes I am slowly creating one. I have a few things that I have to create some images to explain a little better. I am planning on getting that done by next week.

[2018-01-17 10:52] wesleyraptor opened #17 "SparkContext doesn't appear to be present after install on ESXi"
I installed this in AWS the other day with no issues. Trying to install on ESXi in a virtual lab and I've hit a snag twice in a row now where the Spark UI doesn't come up. I don't think it's an environmental issue - DNS, HTTP, and HTTPS all work. Did not see any errors whatsoever in the helk-install log.

Installed on Ubuntu Server 16.04.2 amd64 xenial VM. Pulled the image from dockerhub and ran i

[2018-01-17 11:52] WasKa001 commented on #13
@Cyb3rWard0g ok thank you, I will have a chance to test it out over the weekend. I will replace my config file with the above YML and will let you now. I also don't have currently Enhanced PowerShell logging enabled so I guess this is why I am getting the error related to powershell-* indices pattern match

[2018-01-17 12:47] Cyb3rWard0g commented on #13
Sounds good @WasKa001. I will close this issue since it is a configuration happening at the client side and not in HELK. Feel free to reopen it or create a new one if the HELK fails at install or if any index does not work at all after you have all the data you need being sent to it. Thank you

[2018-01-17 12:47] #13 closed

[2018-01-17 12:48] Cyb3rWard0g commented on #12
@Gourav1990 were you able to successfully install the HELK ?? Thank you

[2018-01-17 13:43] jermdw commented on #16
Awesome sounds good let me know if I can be of help! 😄 @Cyb3rWard0g

[2018-01-17 13:44] #16 closed

[2018-01-17 14:00] Cyb3rWard0g commented on #17
Good morning @wesleyraptor , when you installed the image in AWS, did you test the Jupyter Notebook first (opening the one I created) before accessing the UI on port 4040??. If so, I think the issue is that when there are no kernels initiated (spark and Jupyter working together), Spark context does not get initiated. When you installed it in ESXI, did you go straight to the Spark UI?? Did you open

[2018-01-17 22:40] wesleyraptor commented on #17
Loading the sparkcontext object in the notebook solved the problem. Sorry for my ignorance!

[2018-01-17 22:40] #17 closed

[2018-01-17 22:55] Cyb3rWard0g commented on #17
@wesleyraptor not at all man. It is all good. It is actually my fault for not adding that detail to it. I am also learning Spark as I go and I didnt pay attention to that extra step that needs to happen to enable the Spark Context. I will add that in the section where I provide information about the Spark UI. I will add "before accessing the Spark UI, make sure you start a new jupyter notebook or

[2018-01-22 13:18] frankangiolelli opened #18 "Installing on Ubuntu pip==1.5.4 distribution was not found..."
@Cyb3rWard0g
Error message shows up in /var/log/helk-install.log
**Error: The 'pip==1.5.4' distribution was not found and is required by...**

Distributor ID: Ubuntu
Description:    Ubuntu 16.04.3 LTS
Release:        16.04
Codename:       xenial

**Fix:**
sudo easy_install pip==1.5.4

After that, the installation went through fine and I got happy message:
**IT IS HUNTING SEASON!!!!!**

May want to

[2018-01-22 14:18] Cyb3rWard0g commented on #18
Thank you @frankangiolelli ! Yes I was actually doing some testing earlier and ran into the same issue. I replaced it with Python-Pip and it install PIP 9.01. I will have an update for it today. Thank you for sharing and letting me know. I will close this when I update the script. 👍

[2018-01-27 14:29] Cyb3rWard0g commented on #12
@Gourav1990 let me know if you still have any issues.

[2018-01-27 14:29] #12 closed

[2018-01-31 22:55] Cyb3rWard0g commented on #18
Fixed with https://github.com/Cyb3rWard0g/HELK/commit/25d4aa59963880762cf7dd2c0bdd8f64a32fb01c Thank you for pointing that out @frankangiolelli  👍

[2018-01-31 22:55] #18 closed

[2018-02-01 15:00] bsisco opened #19 "no matching indices found"
Getting this error for all indices on a fresh pull. I have a feeling it may be due to the Sysmon version on the monitored systems...I'm using the newest version (7.01) with the SwiftOnSecurity config with the mimikatz addition from ion...any thoughts would be apprecieated

[2018-02-01 16:30] Cyb3rWard0g commented on #19
Hey @bsisco !! Are you using beats (Winlogbeat)?? if so, make sure that your config is pointing to Kafka output and the 3 Kafka brokers. the config should look like the one I have in the repo also as a template: https://github.com/Cyb3rWard0g/HELK/blob/master/winlogbeat/winlogbeat.yml . If you are already doing that. Go to your computer sending logs and run: winlogbeat.exe -e . That should show yo

[2018-02-01 16:58] bsisco commented on #19
this is what i get with winlogbeat.exe -e
`2018/02/01 16:53:24.734037 beat.go:276: INFO winlogbeat start running.
2018/02/01 16:53:26.336034 log.go:36: INFO kafka message: [Initializing new client]
2018/02/01 16:53:26.338034 log.go:36: INFO client/metadata fetching metadata for all topics from broker [[10.0.0.5:9094]]
2018/02/01 16:53:27.397045 log.go:36: INFO Failed to connect to broker [[10.0.0.

[2018-02-01 17:07] Cyb3rWard0g commented on #19
Ok so you have the config pointing to your HELK and your HELK IP is 10.0.0.5.

A few things:
- Can you ping 10.0.0.5 from your box?
- What options did you use for your HELK? docker or straight bash script?
- Go to your HELK and check you have brokers connected to Zookeeper:
--- sudo /opt/helk/kafka/kafka_2.11-1.0.0/bin/zookeeper-shell.sh
------ ls /brokers/ids
------ CTR-C to exit
- Check your bro

[2018-02-01 17:45] bsisco commented on #19
- Yes, i can ping from all boxes
- Docker install
- ` ls /brokers/ids [0, 1, 2]`

`cat config/server.properties  | grep advertised.listeners`
`#advertised.listeners=OUTSIDE://HELKIP:9093,INSIDE://:9092`
`advertised.listeners=PLAINTEXT://10.0.0.5:9092`
`cat config/server-1.properties  | grep advertised.listeners`
`#advertised.listeners=OUTSIDE://HELKIP:9095,INSIDE://:9094`
`advertised.listeners=PLA

[2018-02-01 17:50] Cyb3rWard0g commented on #19
Ok all looks good to me so far. Can you share your Winlogbeat configuration?

[2018-02-01 17:52] bsisco commented on #19
[winlogbeat.txt](https://github.com/Cyb3rWard0g/HELK/files/1686608/winlogbeat.txt)

[2018-02-01 18:01] Cyb3rWard0g commented on #19
Can you share your /var/log/helk-install.log from your docker install. Also can you run:
- sudo docker helk logs

Thank you

[2018-02-01 18:05] Cyb3rWard0g commented on #19
I am also testing the dockerfile and Image pull on my end with fresh Ubuntu image.

[2018-02-01 18:21] Cyb3rWard0g commented on #19
@bsisco I found the issue. I didnt expose the ports for option one when running the image. The imag e is built correctly but I forgot to expose those ports. Thank you for sharing this! I will adjust the main shell script and add the ports there. Give me 5 minutes. 👍

[2018-02-01 18:23] bsisco commented on #19
Rock on! Thanks for the responses and updates...cheers!

[2018-02-01 18:31] Cyb3rWard0g commented on #19
Thank you very much @bsisco !! I updated the main config and tested it. It works now. let me know if you have any other issues. Fixed this issue with the following commit https://github.com/Cyb3rWard0g/HELK/commit/3b17da481a1cc65c374da02a2550c8b91d7de48f

[2018-02-01 18:32] Cyb3rWard0g commented on #19
I will close it when you have yours up and running well 👍

[2018-02-01 19:06] bsisco commented on #19
We're up and running...thanks for the fix!

[2018-02-01 19:08] Cyb3rWard0g commented on #19
Awesome thank you @bsisco ! 👍

[2018-02-01 19:08] #19 closed

[2018-02-05 12:04] ssi0202 opened #20 "use WEF (windows event forwarding)"
hi more of a suggestion not really a issue, we have deployed sysmon on endpoint/servers and use windows event forwarding. on the windows event collector server I installed one winlogbeat this handles everything and it scales very well.

[2018-02-05 12:45] Cyb3rWard0g commented on #20
Good morning @ssi0202 . Yes thats actually a very good idea. I had a conversation with Nate @neu5ron (one of our contributors) and he also recommended that set up when we were talking about scalability. Thank you for sharing. I will make sure I add that to one of the sections in the wiki that I am planning on creating ("Production"). I will close this issue once I create that section.

[2018-02-05 12:50] ssi0202 commented on #20
I Can add we run On aporox 350 clients an 750 servers with wef i case of
issues / patching with ELK the event collector server retains data and once
the winlog beat reconnects with ELK it starts where it left off

On Mon, 5 Feb 2018 at 13.46, Roberto Rodriguez <notifications@github.com>
wrote:

--
Simon Simonsen | Nordvestpassagen 79 |
8200 Århus N | Tlf. 20810408

[2018-02-05 13:02] ssi0202 commented on #20
one more thing i like to test it in our environment, is there a way to run the docker script so i can make multiple elasticsearch nodes and or install directly on a windows/linux machine(s) I'd be happy to provide you with any load data etc form the deployment

[2018-02-05 13:02] Cyb3rWard0g commented on #20
Niceee!!! I love that. One of the main goals for the HELK is to be able to scale. I was wondering if you had any recommendations or feedback about the configurations assigned to the ELK portion of the build. That would be very helpful and I would appreciate it. The more use cases and suggestions the better. 👍

[2018-02-05 13:04] Cyb3rWard0g commented on #20
That would be great actually. Regarding the multiple elasticsearch set ups, I was thinking on doing something similar but for Kafka Brokers via Docker-Compose, but I have not tested that with multiple nodes.

[2018-02-05 13:19] ssi0202 commented on #20
here are the events that i collect from the winlogs there are based on the SANS 508 course that i took in dec 2017 so the recommendations are new, sorry for the fluf but its a quick c/p.

i have a sysmon config also but i'll have to clean that up a bit before i can share this as it, right not that sysmon config puts approx 1% extra on the cpu on client machines and it collects what i need to hunt

[2018-02-05 19:23] Cyb3rWard0g commented on #20
Nice thank you for sharing @ssi0202 ! 👍

[2018-02-05 19:36] ssi0202 commented on #20
On Mon, 5 Feb 2018 at 20.23, Roberto Rodriguez <notifications@github.com>
wrote:

--
Simon Simonsen | Nordvestpassagen 79 |
8200 Århus N | Tlf. 20810408

[2018-02-06 13:19] Cyb3rWard0g commented on #17
Added Spark UI details in the Installation section of the Wiki: https://github.com/Cyb3rWard0g/HELK/wiki/Installation Thank you @wesleyraptor ! 👍

[2018-02-07 16:29] jermdw opened #21 "Must be root to run install script"
Hey @Cyb3rWard0g! Currently, you must be the root user to use the `HELK_INSTALL.sh`.

I believe with a few modifications, this is avoidable. Specifically when it comes to operations on docker containers. If docker is installed and configured properly, the current user will be a member of the `docker` group and thus be able to perform container operations without invoking `sudo`.

There are a few p

[2018-02-08 05:42] Cyb3rWard0g commented on #21
Hey @jermdw !!! Yes that would be great! If you can help to explore the option of running them without being root, it would be great. I have considered that change, so it will help a lot. Let me know 👍  Thank you man!

[2018-02-10 09:55] ssi0202 opened #23 "access security and alerting"
hi one more thing..

in order for us to use this setup with live data there has to be access security on the kibana prefebaly on index level. search guard has a free product if you dont need windows AD integration.

for alerting elastalert does not currently work with version6 of ELK sentinl does however. might want to check that out too.

[2018-02-10 21:13] Cyb3rWard0g commented on #23
Hey @ssi0202 !!! Thank you very much for all the suggestions. Search-guard is a very cool integration that I will add to the roadmap to be one of the next things to work on. I am updating the ELK stack piece to 6.2.0 this following week so I will check search-guard out after next week. Keep them coming!! I really love to hear what needs to be improved to make the build a better one. I hope all tho

[2018-02-11 10:07] davehardy20 opened #24 "Using Watchtower to update running HELK Docker build"
Hi Cyberward0g,

I've been using HELK for a while now and am really enjoying using it and building my threat hunting skills.
I've mainly been using the docker build and was wondering if you know if its possible to use - https://github.com/v2tec/watchtower to keep the build upto date?

Thanks
Dave

[2018-02-11 22:54] Cyb3rWard0g commented on #24
Hey @davehardy20  ! So happy to hear that it is helping ! 👍 Thats a great question. I didnt think about using watchtower. I have to explore that option and see if it fits the way how I update the HELK in docker hub. Im wondering how it would work and if it would affect the current configurations and how it would work when services get shutdown and brought back up. Also, it seems that it pulls the

[2018-02-13 22:18] Cyb3rWard0g commented on #20
I added the recommendation of using WEF in the wiki. This is going to be explored soon. https://github.com/Cyb3rWard0g/HELK/wiki/Kafka .

[2018-02-17 17:47] jarvisjarb opened #25 "Help | Problem having winlogbeat send logs to kafka"
Hi,
I have been struggling with getting winlogbeat send to kafaka.
- I have installed HELK on Ubuntu Server, and working with winlogbeat on Windows7SP1.
- I can reach HELK server from the Windows machine.
- The HELK seems to run perfectly.
- I have applied to suggested winlogbeat.yml file by running-
  `.\winlogbeat.exe -c winlogbeat.yml -e`

I am getting the following erros:

[code]
It goes like

[2018-02-17 18:34] Cyb3rWard0g commented on #25
That looks to me like the kafka topic was not created properly. Can you share the /var/log/helk-install.log please? Thank you

[2018-02-17 19:25] jarvisjarb commented on #25
Sure! There it is: [helk-install.log](https://github.com/Cyb3rWard0g/HELK/files/1734022/helk-install.log)

[2018-02-17 19:33] Cyb3rWard0g commented on #25
Did you run option 2 and 1 on the same box??? If your HELK is already runnin at the moment can you run sudo docker logs helk too? Thank you

[2018-02-17 19:39] jarvisjarb commented on #25
is it is running:
[docker_logs_helk.txt](https://github.com/Cyb3rWard0g/HELK/files/1734032/docker_logs_helk.txt)

[2018-02-17 20:53] jarvisjarb commented on #25
I indeed started option 2, but stopped it immediately since it was not the one I wanted.
It appears it did have some kind of affect, since reinstalling on a clean OS solved this issue.

Apologies for bothering you. Thanks for the response!

[2018-02-17 21:18] Cyb3rWard0g commented on #25
Thank you for the updates. Yeah something must have happened that the latest image didnt like. I saw elasticsearch failing, Kafka not initiating and other things. Thank you for letting me know that a fresh reinstall did the trick. You didnt bother me at all 👍  Im here to help anyway I can. Happy to hear you are testing the HELK 👍

[2018-02-17 21:18] #25 closed

[2018-02-27 15:40] alijnclarke opened #28 "Install without docker?"
Any chance the bash native install option will come back? Looks like you removed it in the latest version?

I can't use the docker version (without some modding) as I've got a load of ip overlaps, plus i'd really prefer it running native👍

[2018-02-27 17:46] Cyb3rWard0g commented on #28
Hey @alijnclarke ! That was a hard decision, but it was getting a little bit harder to make sure it was compatible with every OS. Also, the HELK is becoming a little bit more modular and I felt the bash script was not helping for that purpose. However, I also want to make sure that the project can be used by everyone . Let me work on some updates to the bash script and get it back as an option but

[2018-02-27 21:17] alijnclarke commented on #28
@Cyb3rWard0g thanks for the reply!

Totally understand, means everyone has the same platform to go with regardless of underlying os, makes sense to me!

Debian only is perfect for my use case, only reason I can't go with the docker version is that in my network i'm using a lot of the 172.*.*.* ranges for NSX networks.

Ps, i'm loving the project and can't wait to see more writeups / tutorials on h

[2018-02-28 15:37] denied39 opened #29 "Could not locate that index-pattern-field (Various Patterns)"
I just installed HELK yesterday and I am having some issues with index patterns. I have one host reporting to HELK. I am getting results, but there are some fields that don't show, that I'm pretty sure should have data. I'll attach a screenshot of the Sysmon Dashboard. The only issue I can see on the server, is the following:
`root@6c029fbc34fe:/opt/helk/scripts# sudo /opt/helk/kafka/kafka_2.11-1.

[2018-03-01 03:48] Cyb3rWard0g commented on #29
Hey @denied39 ! Can you try something for me? Can you go to the management section of Kibana, select your sysmon index and then click on the refresh button between the start and the trash icons??. Also, can you go to discover and confirm that you are getting logs to the sysmon index?? . Thank you

[2018-03-01 18:19] denied39 commented on #29
Refreshing the patterns fixed most of the issues. I am still seeing a few errors, but I'm thinking that might be because no matching events have been sent to HELK. I added another host, and I can see both in the sysmon index under discover.

[2018-03-02 02:07] Cyb3rWard0g commented on #29
Yeah thats is normal at the beginning. if you dont have the logs that HELK expects then it will show you those error messages. If refreshing the index fixed most of them then it is just an refreshing index step.     I will close this issue but please let me know if you have other issues with it :) Thank you!

[2018-03-02 02:07] #29 closed

[2018-03-06 14:03] tdesrochers opened #30 "Date parsing for year in 11-winevent-sysmon-filter.conf is incorrect"
In 11-winevent-sysmon-filter.conf the year parcing is `YYYY` when elasticsearch docs state year is `yyyy`.  Not sure if this will throw a date parse failure error for you or now.

https://www.elastic.co/guide/en/logstash/current/plugins-filters-date.html

[code]

[2018-03-06 14:29] Cyb3rWard0g commented on #30
Hey @tdesrochers ! Thank you for pointing that up. It does not throw a date parse failure error message.

![image](https://user-images.githubusercontent.com/9653181/37037377-2572ed18-2120-11e8-97f3-3e050755aee5.png)

However, I will keep that in mind for the next update and test it with lowercase "y" too. I want to make sure the configs are following the right syntax. I expect nothing to change si

[2018-03-06 14:34] Cyb3rWard0g commented on #20
Installation of WEF with Winlogbeat installed on the WEF Server explained in a talk @neu5ron and I gave in BSColumbus 2018. [Slides](https://t.co/7nh7wUCUbv)

[2018-03-06 14:34] #20 closed

[2018-03-06 14:48] Cyb3rWard0g commented on #28
Hey @alijnclarke ! Thank you very much for the feedback! 👍 Have you tried to set the specific IP to your HELK? The latest version allows you to set your HELK to any static IP.  Let me know if that works and if you can provide more details about your use case. Thank you :)

[2018-03-07 08:35] ssi0202 opened #31 "use sentinl instead of elastalert"
hi just an idea

the sentinl guys support the latest elk versions

https://github.com/sirensolutions/sentinl

i've started to amend the logstash filters on my repositiory, but work is slow as i have a do my "normal" tasks at work also. but im trying to give it priority when i can

im working on adding firewall and network logs and updating sysmon etc with the event id's i shared earlier.

reguardi

[2018-03-07 15:04] Cyb3rWard0g commented on #31
Hey @ssi0202 !! Awesome!! last time I checked, it was not compatible with the latest version. Thank you for sharing. Regarding SecurityOnion, it is a great NSM project and I have heard good things about it. I am working with @neu5ron (Nate) to have all the bro stuff in HELK too. There a few things we will be doing differently but it is a great reference. Also ROCK NSM is a great reference for all

[2018-03-11 16:37] BasicInfoSec opened #33 "If docker is installed but docker-compose is not then the install will fail"
If docker is installed but docker compose is not then the install will fail. I have submitted pull request #32 with a possible fix for you to consider, if it finds docker it will check foir docker compose and if it is not found it will be installed.

[2018-03-12 05:18] Cyb3rWard0g commented on #30
Hey @tdesrochers ! I did some reading about the [Date filter](https://www.elastic.co/guide/en/logstash/current/plugins-filters-date.html) and [Joda-Time Documentation](http://www.joda.org/joda-time/key_format.html) and the YYYY is also allowed and parsed properly by Elasticsearch. The only difference between symbol "Y" (Year of era) and "y" (year) is that values of **Y** (**YearOfEra**) are always

[2018-03-12 05:18] #30 closed

[2018-03-15 14:56] ssi0202 commented on #28
hi i got the ELK part running on windows and have made changes to all the logstash related files, templates, conf files etc. only one thats giving be a hard time is the security winevent, everything else is going in so ill do some error checking must have forgotten something somewhere. I have also created parsing of cisco asa firewall logs and cisco network (syslog for switches etc) into the forma

[2018-03-15 20:09] Cyb3rWard0g commented on #28
Thats awesome @ssi0202 ! You have it running on Windows?? WSL?? you can show a PR when you have all that done unless you have a different repo with different commits. Let me know. That sounds very interesting!!

[2018-03-16 18:25] gnomefish commented on #24
Hi Cyb3rWard0g,
Great stuff here! Simple question (I'm new to docker) - how do I upgrade HELK, say next week there's a new version?
Many Thanks,
Luk

[2018-03-22 07:33] Cyb3rWard0g commented on #33
@BasicInfoSec sorry for the delay. I fixed the docker & docker-compose installation steps with the latest commit https://github.com/Cyb3rWard0g/HELK/commit/c43eaa08e30f01a886023e8b772562d72f1bb81c

Thank you for pointing that out!! 👍

[2018-03-22 07:33] #33 closed

[2018-03-22 15:19] ssi0202 opened #38 "use firehol repo for keeping threat intel uptodate"
hi

firehol got a lot of sources and the updating is scriptable

https://github.com/firehol/blocklist-ipsets

[2018-03-28 01:47] jgarrettvml opened #39 "Getting an error running "Create a Spark RDD on top of Elasticsearch (logs-endpoint-winevent-sysmon-* as source)""
I've been all over everywhere else, trying to figure this out but so much is associated with standard ELK -  so wondering if I need to do something specific with HELK to fix this, please help...thanks in advance

`es_rdd = sc.newAPIHadoopRDD(
    inputFormatClass="org.elasticsearch.hadoop.mr.EsInputFormat",
    keyClass="org.apache.hadoop.io.NullWritable",
    valueClass="org.elasticsearch.hadoop.

[2018-03-28 04:26] Cyb3rWard0g commented on #39
Hey @jgarrettvml ! The error message is pointing to your Elasticsearch server. The HELK has an Internal network
[code]
and the IP of the ELK stack is 172.18.0.2. That IP is static and is not related to your network. This is hardcoded in your ELK as the docker internal IP. This is why in the Jupyter Notebooks available in the build, they use 172.18.0.2 . For example, in the Notebook inside of the G

[2018-03-28 15:26] jgarrettvml commented on #39
Wow, thank you for the reply - this fixed it the error. Yeah, I was using the local static - I should have know there was a bridged network, assuming that's what the docker proxy is doing in part.

I'm now getting a "Index [logs-endpoint-winevent-sysmon-*/doc] missing and settings [es.index.read.missing.as.empty] is set to false"

Which I guess is in relation to kibana stating no indices match pat

[2018-03-28 17:02] Cyb3rWard0g commented on #39
Nicee!!! Yeah if you dont have anything sent to the HELK-Kafka container, then you wont have any data in your sysmon index. At the moment you can send data with Winlogbeat from Windows Computer to the winlogbeat topic. If you are going to send data from filebeat or packetbeat, you will have to create an extra topic and index in the logstash configs. I am slowly trying to cover more data sources an

[2018-03-28 17:05] Cyb3rWard0g commented on #39
The HELK:8082 is for Cerebro to use and access your ES server. Thats different. Besides, initial ingestion of data does not happen directly at the elasticsearch level. It happens at the Kafka level. Kafka brokers receive data from producers (winlogbeat), Logstash transforms the data and then it is pushed to elasticsearch.

[2018-03-28 17:07] Cyb3rWard0g commented on #39
Closing this issue since there is nothing to fix in relation to the title. If you have any other questions feel free to reach out by opening another issue. Happy to help! 👍  Thank you!

[2018-03-28 17:07] #39 closed

[2018-04-03 22:51] mathurin68 opened #40 "ELK to Helk? Straight from your blog..."
Awww I used your blog awhile ago to build ELK, complete with reverse proxy.  How bout some steps to go from ELK to HELK?  Awesome work dude, your one of the few I have set to receive twitter notifications!!

Signed.

Lazy

[2018-04-04 01:34] Cyb3rWard0g commented on #40
Thank you very much for the feedback @mathurin68 👍 It means a lot. I am actually almost done with a blog post introducing the HELK and what I wish I had with my first ELK :) It will talk about a few of the features that make the HELK an upgrade from a regular ELK. I will be hopefully posting that this week. I  was busy with several projects that I could not release a few blog posts that I have the

[2018-04-05 04:25] Cyb3rWard0g commented on #40
Closing this issue since there is nothing to fix or update. Thank you for the feedback 👍

[2018-04-05 04:25] #40 closed

[2018-04-06 14:25] geekscrapy commented on #38
On the same vein, you may want to take a look at  TheHives Hippocampe or MineMeld by Palo Alto Networks

[2018-04-06 18:12] gatorcc opened #42 "Error Code 127"
When attempting install on a fresh Ubuntu 16.04 LTS build I am seeing this error

![image](https://user-images.githubusercontent.com/38140959/38437128-832738dc-39a4-11e8-8005-88da68859652.png)

Any help would be appreciated

[2018-04-06 22:29] Cyb3rWard0g commented on #42
Hey @gatorcc !! Can you provide your Installation logs. They are locally in the /var/log folder. Please submit the helk-install.log file. Thank you! Happy to help troubleshoot this error!
/var/log/helk-install.log

[2018-04-10 06:58] Cyb3rWard0g commented on #42
Hey @gatorcc , I tested it again and I believe the way how the script from docker changed. I updated it in this latest commit https://github.com/Cyb3rWard0g/HELK/commit/6054e2be9abf4f1b1826a44b03583199d80e1bbb . I tested the build and it is working fine now. Let me know if you still have issues with it. Thank you

[2018-04-10 12:34] gatorcc commented on #42
Looks like a certificate issue more than a docker issue
Reading package lists...
Building dependency tree...
Reading state information...
The following additional packages will be installed:
  libcurl3-gnutls
The following NEW packages will be installed:
  curl
The following packages will be upgraded:
  libcurl3-gnutls
1 upgraded, 1 newly installed, 0 to remove and 86 not upgraded.
Need to get 323

[2018-04-10 13:27] Cyb3rWard0g commented on #42
Are those logs from before the last commit??

[2018-04-10 13:44] gatorcc commented on #42
After.  I deleted the old install and re-downloaded then tried the install again.

Sent from my iPad

[2018-04-10 13:44] Cyb3rWard0g commented on #42
mmm did you try to add the --insecure flag to the curl command that starts the install_docker function?

[2018-04-10 15:55] gatorcc commented on #42
I got a different error
**                                          **
** Author: Roberto Rodriguez (@Cyb3rWard0g) **
** HELK build version: 0.9 (Alpha)          **
** HELK ELK version: 6.2.3                  **
** License: BSD 3-Clause                    **
**********************************************

[HELK-INSTALLATION-INFO] Obtaining current host IP..
[HELK-INSTALLATION-INFO] Set HELK IP. De

[2018-04-10 16:09] Cyb3rWard0g commented on #42
I dont know why it would be doing all those certificate issues in your box. Can you curl another application to try and see it is your box and not the script itself. Let me know

[2018-04-11 15:11] alijnclarke commented on #28
Hey @Cyb3rWard0g, sorry for the late reply. I tried the newer version and unfortunately that doesn't help the trouble is that your internal docker network overlaps with my actual network (172.x.x.x.). I'm currently using the last version of HELK to not use docker, but would love to update.

[2018-04-11 15:15] Cyb3rWard0g commented on #28
Hey @alijnclarke !! Ohhh I didnt think of that. Thats interesting. I will have to think about how that can be dynamic enough for the user to define its own internal docker network. Sorry.

[2018-04-12 19:57] TDominiqueWilliams opened #43 "Overlapping Networks"
When trying to install HELK with `sudo ./helk_install.sh` the script errors when attempting to deploy docker-compose.yml. The error came back with `* ERROR: Could not run HELK via docker-compose (Error Code: 1).` After investigating the logs, `Creating network "helk_helk" with driver "bridge"
cannot create network 8320bb7d24b22f724839bb65351a3ee058a06a8dc5bb549e14e060cbf5aa5746 (br-8320bb7d24b2):

[2018-04-12 23:04] gatorcc commented on #42
Going to spin up a new vm on my home network to give it a try.

Sent from my iPad

[2018-04-13 03:33] Cyb3rWard0g commented on #43
hey @TDominiqueWilliams ! Interesting. I dont know why there would be another network overlapping with the static configuration. I will try to remove the IPv4 portion of the config and run it without it. I will push an update soon. I will test it without the IPv4 features. I am using the containers names to connect to each other so it should work without the IP addresses. I just have to test the J

[2018-04-13 03:34] Cyb3rWard0g commented on #42
thank you @gatorcc ! Let me know. Thank you

[2018-04-13 14:30] TDominiqueWilliams commented on #43
When I attempt to change the environment back, I get an all-new error. I have attached the screenshot. This was after I did a fresh install
![image](https://user-images.githubusercontent.com/24858059/38740467-aa0a2c78-3f05-11e8-952b-59b46a012abb.png)

[2018-04-13 14:45] Cyb3rWard0g commented on #43
ok thank you. Did you install HELK in a fresh host install? Also, did you have docker installed already in the box?? or the instal script installed docker?

[2018-04-13 15:55] TDominiqueWilliams commented on #43
It is a fresh install on a VM image with docker already installed.

[2018-04-13 16:14] Cyb3rWard0g commented on #43
Ok. i had a similar issue with a friend that had docker already installed. I wonder if already created another bridge network or a similar config such as the one from HELK. Would you mind uninstalling that docker version and just let the script install docker for you. I want to see if it is the same issue that my friend experienced. Thank you

[2018-04-17 17:31] Cyb3rWard0g commented on #43
@alijnclarke issues with the subnet interfering with your local subnet or the docker already defined network???

[2018-04-18 09:27] alijnclarke commented on #43
docker subnet interfering with the local, i managed to delete the docker network and recreate using a different subnet, but had more issues with things like kibana not working :(

hopefully manage to fix soon :D

[2018-04-18 13:03] Cyb3rWard0g commented on #43
Ok . I am pushing an update this weekend and that should not rely on static hardcoded IP addresses. containers will talk to each other via its own service name.

[2018-04-19 15:50] bfuzzy opened #44 "Minimum Disk Space Requirement"
Hey @Cyb3rWard0g ,

During our testing / me breaking HELK last week. We kept getting that weird ElasticSearch error, which I don't recall off the top of my head but it was related to disk size.

Having  the minimum requirement documented for disk space to 50gb for testing purposes and 100gb+ for production should meet minimum requirements on the disk space issue.

Secondly, you could look at furth

[2018-04-19 16:29] Cyb3rWard0g commented on #44
Thats awesome @bfuzzy !!! Yes thank you very much for providing the details and sharing the link 👍  I will add that to the wiki. Thank you

[2018-04-19 16:42] Cyb3rWard0g commented on #44
I use the https://www.elastic.co/guide/en/elasticsearch/reference/6.2/multi-fields.html option in my templates to allow full text search (text) and filtering (Keyword). The other ones are very interesting.
* I set the text norms to false too on all my dynamic templates.
* I will take a look at the best_compression & max_num_segments=1

Thank you. I will close this issue since the wiki has been upd

[2018-04-19 16:42] #44 closed

[2018-04-22 21:15] dimpol opened #46 "Not able to create index related to winlogbeat [just making sure that's needed]"
Hi @Cyb3rWard0g
Thanks a lot for the time used to implement such a great project.

I am using the latest HELK image.
What i see on the index patterns is the below:
![screenshot from 2018-04-22 14 11 35](https://user-images.githubusercontent.com/4255178/39099946-386e697a-468b-11e8-942d-1ea1c7f11570.png)

Do i still have to do what your winlogbeat manual describes as: "You will be able to substitute

[2018-04-23 05:12] Cyb3rWard0g commented on #46
Hey @dimpol !! The HELK already defined the indices for you. You do not need to create a winlogbeat one anymore. Let me know if you can click on the Discover option on the left and see your event logs

[2018-04-23 09:47] dimpol commented on #46
Yeap everything is working as expected !
Thanks a lot for the clarification and this little beast you created !
Closing the noobish post...

[2018-04-23 09:47] #46 closed

[2018-04-26 10:14] alijnclarke commented on #43
awesome news! when do you think you'll be able to push that update @Cyb3rWard0g ?

[2018-04-30 15:20] dtpryce opened #47 "heapspace calc sets to zero"
When trying to start up Elasticsearch using the entrypoint script noticed an error around incorrect heapspace and double checked. It was in fact setting -Xmx to 0g so was not able to start the service. Had to change to 1g and restart image to get URI etc.
<img width="636" alt="screen shot 2018-04-30 at 16 19 43" src="https://user-images.githubusercontent.com/2737000/39435098-67dc453a-4c92-11e8-803

[2018-05-01 13:37] bfuzzy commented on #24
@gnomefish you should be able to run ```docker update <HELK CONTAINER(S)>```

[https://docs.docker.com/engine/reference/commandline/update/](url)

[2018-05-01 16:26] Cyb3rWard0g commented on #47
Hey @dtpryce if the HEAP SIZE was set to zero, that means that you dont have enough memory. The current elasticsearch entrypoint script grabs your available memory and then gets half of it.

![image](https://user-images.githubusercontent.com/9653181/39481742-6fee6eda-4d3a-11e8-940c-eebe9a7318e5.png)

expr does not round up the number so if the result is 3.7 it brings it down to 3. If you got zero

[2018-05-01 16:27] Cyb3rWard0g commented on #24
Hey @bfuzzy  ! have you tried that before. I have not, but I am interested on learning how that works 👍 Thank you for the suggestion

[2018-05-02 16:58] Cyb3rWard0g commented on #24
oh niceeee!!!! thats awesome @bfuzzy thank you very much!! Please let me know how that goes 👍

[2018-05-03 14:28] dtpryce commented on #47
Totally makes sense and a good idea to check the system resources.

I was using it locally which probably didn't have enough resource tbf. Now running in cloud and all fine. Just trying to switch out some services now for my own ;)

Thanks for the quick and clear response. Will be following with interest!

[2018-05-03 19:31] Cyb3rWard0g commented on #47
Thank you for the update @dtpryce !! Yeah it happens. Im pushing an update in the next few minutes that I worked on last night. That now asks you for at least 12GB and 50GB of disk as minimum requirements. 👍 I will close this issue when I push the updated

[2018-05-03 19:57] Cyb3rWard0g commented on #43
@alijnclarke check the update and see if that helps. The Build does not set any static IP configurations anymore. However, this does not mean that it will not conflict with with other subnets since the containers still get an IP assigned to them. Now, the container IPs of course do cannot be reached outside of the containers so I dont think it will be a problem. Check it out and let me know.

[2018-05-03 20:51] Cyb3rWard0g commented on #47
@dtpryce I just pushed this update https://github.com/Cyb3rWard0g/HELK/commit/10de1b6b0ae9437c0d5e3b888ac819b08a73eee7 . That should address the verification of memory and disk before installation. Thank you! 👍

[2018-05-03 20:51] #47 closed

[2018-05-03 20:56] Cyb3rWard0g commented on #42
Hey @gatorcc ! let me know if you still have issues with curl. I have tested the deployment of the HELK in several boxes and I am not getting those errors. I can reopen this issue if you think it is still the HELK and not a network issue in your environment (proxy?)

[2018-05-04 02:34] Cyb3rWard0g commented on #28
This is related to #43

[2018-05-04 12:53] aiacopini opened #48 "Logstash issue - where located conf file"
Hi guys,
HELK installation was perfect. Later I would like to set up events ingestion with Logstash and Winlogbeat.
Following your tutorial ( https://cyberwardog.blogspot.it/2017/02/setting-up-pentesting-i-mean-threat_98.html ) I don't understand where configuration file for logstash need to be located (I suppose in the appropriate docker container) and if the file needs to be created (tutorial re

[2018-05-04 17:14] ncoppersmith-r7 commented on #48
Can you verify this?  I'm trying to setup a custom input to allow ingestion of already collected log files and there is no pipeline folder under /usr/share/logstash on the logstash container.  Doing a filesystem search mine are located under /etc/logstash/pipeline.

[2018-05-04 19:30] Cyb3rWard0g commented on #48
@ncoppersmith-r7 what version are you using??? The latest version uses Elastic logstash base image. The default location of the pipeline is different from how I was building the old images. It is now under /usr/share/logstash/pipeline.

Let me know if you are using the latest HELK build which now uses elastic base images for the ELK piece of the project.

[2018-05-04 19:32] aiacopini commented on #48
uhm...I just reco that i have no logstash daemon listening, and
elasticsearch too.
connections on host:9200 and host:5044 fail, despite kibana and spark are
ok.

Any ideas?

Andrea

Il giorno ven 4 mag 2018 alle ore 19:14 Nathan Coppersmith <
notifications@github.com> ha scritto:

--
Andrea Iacopini

[2018-05-04 21:39] Cyb3rWard0g commented on #48
@aiacopini the HELK uses Kafka brokers on port 9092 and 9093. Logstash then subscribes to Kafka Topics. In your endpoints, you will need winlogbeat pointing to the kafka brokers.

Check the Installation WIki. There I have a few links to help you understand how it works and the what minimal requirements are.

https://github.com/Cyb3rWard0g/HELK/wiki/Architecture-Overview

Elasticsearch is not expos

[2018-05-07 10:47] ncoppersmith-r7 commented on #48
@Cyb3rWard0g Good call. Even though I though I'd refreshed everything it was still running the older docker containers.

[2018-05-07 22:29] Cyb3rWard0g commented on #48
ohhh okay. Thank you for the update @ncoppersmith-r7 . @aiacopini do you have any other question? I wasnt sure if my answers were helpful or not. Let me know @aiacopini  👍

[2018-05-08 08:00] aiacopini commented on #48
Sorry guys, I'll be able to join my lovely workstation this evening  :)
I'll keep you updated,

all the best,

Andrea

Il giorno mar 8 mag 2018 alle ore 00:29 Roberto Rodriguez <
notifications@github.com> ha scritto:

--
Andrea Iacopini

[2018-05-09 14:11] 1332530 opened #49 "New release install over previous install : java.lang.IllegalStateException: failed to obtain node locks"
Following a succesful build, an attempt was made to upgrade to HELK 6.2.4-050318. The following steps were taken:

1. Bring down the environment with docker-compose down.
2. Delete the HELK directory.
3. Clone the repo for the new release.
4. Run install script.

The build is successful.
Compose spins up the environement.

Following issues noted:

1. The Kibana URL is not accessible. ''Connection

[2018-05-09 20:34] offsecn00b commented on #49
I get an initial error > "Invalid published port: 4040-4050" which comse from the docker compose file. This can be fixed manually by changing to 4040-4050:4040-4050

However I cannot solve the ES java error above.

I could not resolve this issue. I did a full docker system prune -a
Followed by a full git clone + helk_install.sh

[2018-05-09 23:41] Cyb3rWard0g commented on #49
@1332530 thank you for providing a few steps to get rid of an old HELK build. @offsecn00b since I use HELK for testing purposes I always have a snapshot of a clean ubuntu install. I just revert it to a clean state and it works. The java error as @1332530 stated, it is about an old HELK ES node still there.

[2018-05-10 10:14] HopHouse commented on #48
Hello,

First thank you for your work, it is really great !
I am also trying to follow the tutorial:  [https://cyberwardog.blogspot.it/2017/02/setting-up-pentesting-i-mean-threat_98.html](https://cyberwardog.blogspot.it/2017/02/setting-up-pentesting-i-mean-threat_98.html), but I have some troubles. Thank to @aiacopini question and your answer I found the place to put a config file.
However, I can

[2018-05-10 13:35] Cyb3rWard0g commented on #48
@HopHouse what is it that you are trying to do??

[2018-05-11 07:25] HopHouse commented on #48
I am trying to import a dump of passwords.
I gave you the wrong link, this is the good one: [https://outflank.nl/blog/2018/01/23/public-password-dumps-in-elk/](https://outflank.nl/blog/2018/01/23/public-password-dumps-in-elk/)

I add this configuration file to logstash through the pipeline folder:

[code]

I also opened the port 3515 in the docker-compose file. But when I try to add some data, I h

[2018-05-11 11:05] ncoppersmith-r7 commented on #48
@HopHouse Be aware that in it's current form, Elasticsearch does not expose it's ports to the outside.  If you want to move data into the ELK stack, you need to do it from Kafka.  Also, because HELK is leveraging docker, you wouldn't use 127.0.0.1, instead use the IP address you passed to HELK during the install. (by default I think it's whatever your LAN IP is)

@Cyb3rWard0g Feel free to chime in

[2018-05-11 12:14] HopHouse commented on #48
Thank you for the answer, I will take a look to Kafka to pass data to Logstash.
If I found the solution, I will share it in this post.

[2018-05-11 16:08] Cyb3rWard0g commented on #48
Thank you very much @ncoppersmith-r7 . That is correct.

@HopHouse , that blog was written in January when the HELK was jut a simply bash script. it has being updated since then and the infrastructure allows continuous monitoring with Kafka as the front pipeline. It goes Kafka -> Logstash -> Elasticsearch. If the password file that you have is in Json format, then you can easily must use Filebeat

[2018-05-11 16:12] Cyb3rWard0g commented on #48
For now @HopHouse , your use case is not covered so I cant help much with it.

[2018-05-14 15:19] #48 closed

[2018-05-15 03:41] #49 closed

[2018-05-16 21:29] Adrimeov opened #52 "winlogbeat=UNKNOWN_TOPIC_OR_PARTITION"
Hi,
I installed the HELK stack with Docker for windows (didn't use the shell script). I use Sysmon for collecting the windows logs. I also use the WinLogBeats service to forward the logs to the Kafka service. I can connect to my local host and see the Kibana dashboard but I cant see the logs coming in. I checked the logs produced by the winlogbeat service (see picture 2). We can see that there is

[2018-05-17 10:37] ssi0202 opened #54 "event_id:4624 from security logs reports a grokparse failure"
forwarding data from WEC via winlogbeat. and get a grok error on this event_ID in kibana

json outbut from kibana, i cant not spot the error :(

{
  "_index": "logs-endpoint-winevent-security-2018.05.17",
  "_type": "doc",
  "_id": "1580881363",
  "_version": 1,
  "_score": null,
  "_source": {
    "opcode": "Info",
    "@timestamp": "2018-05-17T10:25:47.956Z",
    "user_domain": "XXXXX",
    "typ

[2018-05-17 10:47] ssi0202 commented on #54
seem to be related to the logon type 3, logon type 5 is ok

[2018-05-17 11:27] Cyb3rWard0g commented on #54
Interesting. I will take a look at it. thank you

[2018-05-17 11:30] Cyb3rWard0g commented on #52
Hey @Adrimeov . can you do me a favor and take the 10.0.75.2:9094 broker definition from your winlogbeat config. Also, can you provide the kafka brokers logs. You can get them by doing the following:
[code]
I think I know what the issue could be. I want to check the kafka broker logs, but in the meantime can you restart the kafka brokers?
[code]
Thank you @Adrimeov

[2018-05-17 13:26] Adrimeov commented on #52
@Cyb3rWard0g thx for the quick reply. Just to clarify your first point:
"[...] take the 10.0.75.2:9094 broker definition from your winlogbeat config"
You mean taking the definition *out of the config ?

[2018-05-17 13:33] Cyb3rWard0g commented on #52
hey @Adrimeov yes take that out of the config. I dont think it will do much but it just shouldnt be pointing to that port. The config was just an example. Let me know if you were able to restart the brokers and if you can get me the logs for the two kafka brokers. Thank you

[2018-05-17 13:57] Adrimeov commented on #52
@Cyb3rWard0g ; I took the unnecessary ip out from the winLogBeat file. I restart the brokers (it changes nothing). Here are the logs;

docker logs helk-kafka-broker:
https://gist.github.com/Adrimeov/14674daf863151bf2e44da862fc1fee8.js

docker logs helk-kafka-broker2:
https://gist.github.com/Adrimeov/d680bcbb91e03f678836c37f4a4b6dd6

[2018-05-17 14:10] Cyb3rWard0g commented on #52
interesting. Okay. The topics were created properly. Another check. Can you go to your Kafka brokers servers. Access them the following way:
[code]
and check your kafka broker server config.
located: /opt/helk/kafka/kafka_2.11-1.1.0/config/server.properties

Pull those two and check if the advertised listener has your HELK's IP in it.  It should be similar to the config template that it uses here:

[2018-05-17 14:38] Adrimeov commented on #52
Hey @Cyb3rWard0g :)
Broker server config:
listeners=PLAINTEXT://helk-kafka-broker:9092

# Hostname and port the broker will advertise to producers and consumers. If not set,
# it uses the value for "listeners" if configured.  Otherwise, it will use the value
# returned from java.net.InetAddress.getCanonicalHostName().

#advertised.listeners=OUTSIDE://HELKIP:9093,INSIDE://:9092
advertised.listeners

[2018-05-17 14:50] Cyb3rWard0g commented on #52
I should emphasize in the Wiki that the installation works fine just the way it is now but via the shell script. If you skip the helk_install shell script then you will have to set the right parameters in the docker compose file in order to initialize all the services properly. In that case I will have to create an environment variable for the Kafka brokers such as "advertised_listeners" and make

[2018-05-17 15:01] Adrimeov commented on #52
Thanks @Cyb3rWard0g for your quick feedback. Indeed your installation required a unix base OS ( wich I already tried ; works great!). However, I tried to use it in a Windows context to build a PoC; maybe I should  have inspect the shell script used to build the whole thing ;). Anyhow, thanks for your support :). I'll let you know if it works.

[2018-05-17 15:37] Adrimeov commented on #52
So yhea, I edit the docker compose file. I changed both the helk-kafka-broker : " - ADVERTISED_LISTENER=HOSTIP" to the IP given by the DockerNat to the MobyLinuxVM (the hyperV instance necessary to run docker for windows). In my case 10.0.75.2.
Again, thanks to @Cyb3rWard0g  for his support and this amazing project. 💯 💃 ❤️

[2018-05-17 17:17] Cyb3rWard0g commented on #52
Thank you @Adrimeov for your patience and of testing the project. I appreciate your feedback and questions! 👍

[2018-05-23 10:06] AusecIT opened #57 "Increase overall security of HELK?"
I'll start expressing my gratitude for such an awesome project, the day i found this repo my IT life changed forever.

I'm wondering if you have any plans to implement https and more flexibility regarding usernames/passwords?

This is not so much of an "issue" more of a request...

[2018-05-23 11:25] mrtadeo opened #58 "Could not build HELK via docker-compose on Ubuntu 16.04.4 LTS"
Hello

Getting errors during installation on Ubuntu 16.04.4 LTS Server:

[code]

[code]

If I remove "Version" then getting following errors:
[code]
Please advise.

Thanks in advance
TK

[2018-05-23 11:35] ssi0202 opened #59 "install elasticsearch curator to auto limit days to keep"
not an issue as such  but i would be nice to be able to limit the days to keep log data or am i missing something?

[2018-05-23 16:19] AusecIT commented on #57
Apologies, closing this issue because i've since realized that it's pretty easy to implement these changes manually.

Still, i can't be the only one not using HELK in a local environment (ie: HELK server is exposed to internet) and some sort of https by default would be handy, not to mention a more seamless method to change the default helk-nginx credentials (or maybe some instruction in the wiki

[2018-05-23 16:19] #57 closed

[2018-05-24 05:56] devdua commented on #58
Hi @mrtadeo what version of docker and docker-compose are you using?

[2018-05-24 08:59] mrtadeo commented on #58
Hi @devdua

Docker version 1.13.1, build 092cba3 and docker-compose version 1.8.0, build unknown.

Thanks
tadeo

[2018-05-24 09:41] ssi0202 opened #60 "docker container mem limit"
hi i've tried to raise the limit for mem on the containers but nothing works  do i have to fix it in the docker compose.yml file to

CONTAINER ID        NAME                 CPU %               MEM USAGE / LIMIT     MEM %               NET I/O             BLOCK I/O           PIDS
0c0f3698ae97        helk-spark-worker2   0.09%               89.47MiB / 983.3MiB   9.10%               14.9kB / 16.2kB

[2018-05-24 13:07] Cyb3rWard0g commented on #59
Yes I agree with you. I will look into it. That was something that I remember willing to do, but it is still in the backlog. I will close this issue when I get to it. Thank you @ssi0202 !

[2018-05-24 13:19] Cyb3rWard0g commented on #58
Hey @mrtadeo ! I see that you had docker already installed. would you mind testing it in a fresh ubuntu install and let the script install docker for you? I would like to see the difference and I would assume it is because last time I ran it I got this docker client version:
[code]
can you run:
[code]
Let me know. Thank you. I will have to add a Docker supported versions list. Something like the f

[2018-05-24 14:26] mrtadeo commented on #58
Hey @Cyb3rWard0g

I removed the docker and the installation now is moving forward.

Now stopping on pulling helk-elasticksearch, but it just a matter of a proxy thingy I guess.
[code]

Thanks!
T.

[2018-05-24 14:49] Cyb3rWard0g commented on #58
Nice @mrtadeo ! yeah it was deff the docker version then. Yeah let me know if the connection to docker hub works. It must be a proxy thing yeah. Let me know before closing this issue. I will add a version table for the Wiki. Thank you. Also. can you send the initial part of your HELK install logs where it tells you what version of Docker is installed during the build?

[2018-05-24 20:12] Cyb3rWard0g commented on #60
Hey @ssi0202 , Niceee yes let me know if that works and I will review the PR. For now, I dont set a limit to ELK yet. I allocate as much space as I can for when I deploy HELK and then I tear it down when I am done. I have not set up curator yet. Let me know how that works for you. There was an initiative by Jordan Potti (contributor) to do that, but I forgot what happened with it. You can set spec

[2018-05-25 08:52] mrtadeo commented on #58
Installed successfully!

Sorry, but I removed the old log and the new one does not says which version it is, but the version mentioned earlier was installed by the install script.

Thank you!

[2018-05-25 20:52] ustayready opened #61 "Add custom logstash configs at build-time to support new data sources"
**Describe the problem**
Logstash doesn't have an easy way to add new data because the port isn't exposed in the docker container and I can't add a custom config.

**What steps did you take trying to fix the issue?**
Lot's of Googling LOL

**How could we replicate the issue?**
Fresh installation of HELK then try to pump data to port 3515

**If you are having issue during the installation stage, pl

[2018-05-28 09:47] mrtadeo commented on #58
I was happy to early. HELK is installed, but the UI is not available.

Getting: `HTTP Error 404. The requested resource is not found.`

[code]

[2018-05-30 05:51] #58 closed

[2018-05-30 09:17] ssi0202 opened #62 "logstash config IOC additions"
hi

im trying to add what syspanda.com have made to tag IOC within the systemon conf file. as there is a renaming of the fields in there i can't get the exact code from syspanda.com to work

could you help me along then i'll complete the task and add a pull request once i have tested it as working

here is the relevant post from syspanda

https://www.syspanda.com/index.php/2018/05/04/labeling-endp

[2018-05-30 15:51] Cyb3rWard0g commented on #62
Nice thank you for sharing this @ssi0202 . I like it!!

[2018-05-30 15:51] #62 closed

[2018-05-31 05:24] Cyb3rWard0g opened #63 "Sysmon: tried to parse field [user] as object, but found a concrete value"
**Describe the problem**
After last PR specifically this update: https://github.com/Cyb3rWard0g/HELK/pull/56/commits/e70eafce0908a8607a85e68aaf4639fdeedbc936 , I noticed the following error messages in my logstash container:
[code]
**What steps did you take trying to fix the issue?**
I updated this line out of the sysmon filter config in the pipeline and renamed [event_data][User] to "user_account

[2018-05-31 05:54] Cyb3rWard0g commented on #63
After renaming [event_data][User] to "user_account" instead of "user", I did not get any error messages. I used the Jupyter Notebook https://github.com/Cyb3rWard0g/HELK/blob/master/helk-jupyter/notebooks/Graphframes_Basic_Sysmon_ProcessCreate.ipynb to print out the schema in sysmon and I noticed that "user" is already defined as a structure:

[code]
I noticed that the latest PR https://github.com/

[2018-05-31 06:08] #63 closed

[2018-05-31 06:28] Cyb3rWard0g commented on #61
Hey @ustayready ! Sorry for the delay. I was finishing other projects and got stuck on a few other things. I was able to update a few things in the build described in this commit https://github.com/Cyb3rWard0g/HELK/commit/f3a0e251ea308409c0b286789410cf716ddc2977

I added the local pipeline folder as a volume in the docker-compose file. This allows you to control the Pipeline locally on from the bo

[2018-05-31 06:35] Cyb3rWard0g commented on #61
@ustayready so for your example, you will have to do the following:

* Create the config defined in the blog post:
[code]
* save it in **HELK/helk-logstash/pipeline**
* Update the **docker-compose.yml** file (logstash section)
[code]
* If you are doing this before building the HELK then it will be built with those updates. If not, bring the HELK down and up
[code]
[code]
That should be it! Let me

[2018-05-31 16:10] Cyb3rWard0g commented on #28
Hey @alijnclarke ! I was reviewing some of the open issues again, and I am wondering if you still have the same issues even with the default docker bridge mode. As far as I know, with bridge mode no one can ping your internal docker IPs. Also, if you add aliases to the internal docker containers such as "helk-logstash", you will be hitting the docker container only and not other external host with

[2018-05-31 16:11] Cyb3rWard0g commented on #43
Hey @alijnclarke! Let me know if the update helped. Thank you

[2018-06-03 22:43] mathurin68 opened #65 "Adding Packetbeat?"
Using this more as a learning tool at home right now...hah, but pretty close to trying it on a test production site.

I'd really like to get Packetbeat on it to play around with that too... anyone done that yet?

[2018-06-04 16:07] Cyb3rWard0g commented on #65
Nicee!! @mathurin68 ! Please let me know how that goes and if you have any suggestions to make the build better, please send them my way 😄 . I have not played with PacketBeat yet.

[2018-06-06 13:10] FlemmingRiis opened #67 "helk_install.sh wont install with more than 1tb drive on 16.04"
** HELK ELK version: 6.2.4                  **
** License: BSD 3-Clause                    **
**********************************************

[HELK-INSTALLATION-INFO] HELK being hosted on a Linux box
[HELK-INSTALLATION-ERROR] YOU DO NOT HAVE ENOUGH AVAILABLE MEMORY OR DISK SPACE
[HELK-INSTALLATION-ERROR] Available Memory: 61
[HELK-INSTALLATION-ERROR] Available Disk: 2

The script sees 1.9 vs 1900g

[2018-06-06 13:24] ssi0202 opened #68 "how to get logstash error output on console from linux OS"
is there an easy way to run the HELK and get the logstash container to send the console output to a bash prompt ?

makes debugging the changes i make to the conf files easier in case i get stuck - which i am at the moment..

[2018-06-06 15:36] offsecn00b opened #69 "logs missing since last major update"
**Describe the problem**
Prior to the major update commit on May 3 logs were available in /var/log/elasticsearch|logstash etc
**What steps did you take trying to fix the issue?**
not sure how best to fix it
**How could we replicate the issue?**
Can't find logs now
**If you are having issue during the installation stage, please provide the HELK installation logs located at /var/log/helk-install.log

[2018-06-10 06:38] Cyb3rWard0g commented on #69
Hey hows it it going @offsecn00b ?? According to:

https://www.elastic.co/guide/en/logstash/6.2/logging.html#logging

[code]
HELK now uses the official Elastic Docker images (Centos).  An easy way to look at the logs of all the containers now is:
https://github.com/Cyb3rWard0g/HELK/wiki/Installation#always-monitor-helk-installation-logs

[code]
so the syntax for every container will be  :
[code]

[2018-06-10 06:43] Cyb3rWard0g commented on #67
@FlemmingRiis Thank you very much for sharing this. I had not tested it with 1TB which makes sense why it sees 2. I will have to add another conditional to the script. Sorry for the late response. I was traveling and in a conference. I will get that taken care of in the next couple of days.

[2018-06-10 08:41] FlemmingRiis commented on #67
My pleasure , and again thank you for sharing and taking the time to do all the work

Den 10. jun. 2018 kl. 08.44 skrev Roberto Rodriguez <notifications@github.com<mailto:notifications@github.com>>:

@FlemmingRiis<https://github.com/FlemmingRiis> Thank you very much for sharing this. I had not tested it with 1TB which makes sense why it sees 2. I will have to add another conditional to the script.

[2018-06-10 19:19] Cyb3rWard0g commented on #67
@FlemmingRiis . I now use **df -m** instead of the human readable format. This allows me now to transform everything to MBs and then do the calculation that way. Thank you!

[2018-06-10 19:20] #67 closed

[2018-06-11 03:26] Cyb3rWard0g opened #70 "LS-X-PACK - You are using a deprecated config setting "document_type" set in elasticsearch"
**Describe the problem**
When I start Logstash even with the latest Docker image 6.2.4, I get the following error message:

[code]
Apparently this is just a warning message. I am not using document_type anywhere in my Logstash configs.

**What steps did you take trying to fix the issue?**
I just googled the error message and found this :  https://discuss.elastic.co/t/latest-ls-x-pack-still-using-a

[2018-06-11 03:26] #70 closed, assigned to nobody

[2018-06-11 03:35] Cyb3rWard0g opened #71 "Ruby exception occurred: undefined method `hex' for 4:Fixnum"
**Describe the problem**
I was updating https://github.com/Cyb3rWard0g/HELK/blob/master/helk-logstash/pipeline/12-winevent-security-filter.conf#L827 adding other two event fields (process_id and process_parent_id)

[code]
And I started getting the following error messages:

[code]

**What steps did you take trying to fix the issue?**
I updated the ruby code and replaced it with:

[code]

Adding it

[2018-06-11 03:36] Cyb3rWard0g opened #72 "failed to parse [process_parent_id]", "caused_by"=>{"type"=>"number_format_exception", "reason"=>"For input string: \"0x1598\"
**Describe the problem**
I started getting the following error messages after ingesting windows security event logs:

[code]

Obviously Hex was not being considered a number or type "integer" for :
* process_id
* process_parent_id

**What steps did you take trying to fix the issue?**
I used the same idea as https://github.com/Cyb3rWard0g/HELK/blob/master/helk-logstash/pipeline/12-winevent-security

[2018-06-11 04:48] Cyb3rWard0g opened #73 "Logstash-Kafka Commit cannot be completed since the group has already rebalanced and assigned the partitions to another member."
**Describe the problem**
I started to get the following error message:

[code]

This is the Kafka input defined in Logstash:

[code]

**What steps did you take trying to fix the issue?**
I google some potential new configs. I looked into the default configs for a Kafka Consumer and I updated the Kafka Input Logstash file to:

[code]
I also increased the **pipeline.batch.size** property in Logstash

[2018-06-11 05:04] Cyb3rWard0g commented on #73
Updated pipeline.batch.size to 325 and the max_poll_records to 300. better performance in the lab environment in a few computers. testing it more. so far I have not had any error messages.

[2018-06-11 05:07] Cyb3rWard0g commented on #69
For example Logstash now gives me this message about the logs:

[code]

I hope this helps. let me know if this answers your questions. Thank you @offsecn00b

[2018-06-11 05:08] Cyb3rWard0g commented on #68
@ssi0202 Logstash now display this message when it starts (Official Elastic Docker Image):

[code]

I hope this helps. let me know! Thank you!

[2018-06-11 05:14] Cyb3rWard0g commented on #73
Updated max_poll_records to 325 and performance improved. Setting the kafka input property max_poll_records to the same value as the pipeline.batch.size value improves performance.

[2018-06-11 05:33] Cyb3rWard0g commented on #73
Updated **max_poll_records** and **pipeline.batch.size** to 500. Performance has been steady with HELK running on a local VM. (2 virtual cores). 150 event/s 👍 Not tested at scale yet. Error is not showing anymore. Updates to **request_timeout_ms** and **session_timeout_ms** helped to fix the error message. Closing this issue with commit.

[2018-06-11 05:37] Cyb3rWard0g opened #74 "failed to parse [powershell.pipeline.id]"
**Describe the problem**

Noticed that the powershell parser was throwing this warning message
[code]

**What steps did you take trying to fix the issue?**
I havent done anything yet ;)

**How could we replicate the issue?**
Install HELK and ingest powershell logs

**If you are having issue during the installation stage, please provide the HELK installation logs located at /var/log/helk-install.lo

[2018-06-11 05:42] Cyb3rWard0g commented on #73
More references:
https://discuss.elastic.co/t/kafka-input-performance-config-tuning/70923
https://www.elastic.co/guide/en/logstash/current/tuning-logstash.html
https://www.elastic.co/guide/en/logstash/current/plugins-inputs-kafka.html#plugins-inputs-kafka-max_poll_interval_ms
https://github.com/logstash-plugins/logstash-input-kafka/issues/114

[2018-06-11 05:56] #73 closed

[2018-06-11 05:56] #72 closed

[2018-06-11 05:57] #71 closed

[2018-06-11 06:24] Cyb3rWard0g opened #75 "failed to parse [target_process_id]", "caused_by"=>{"type"=>"number_format_exception", "reason"=>"For input string: \"0x4\"""
**Describe the problem**
I forgot to also parse the following Hex value in Windows Security Event logs:

[code]

**What steps did you take trying to fix the issue?**
I applied the same fix as an old issue https://github.com/Cyb3rWard0g/HELK/issues/72

**How could we replicate the issue?**
Install HELK and send Windows Security logs

**If you are having issue during the installation stage, please p

[2018-06-11 06:42] #75 closed

[2018-06-11 07:44] ssi0202 commented on #68
cool it works debugging much easier now, is the IOC addtions to the logstash files something you see using or will you get the info with customizing the searchs?

Im experimenting with them and for me i works to have a tag/extra field added to the ELK. i hope to make some sort of rating if a endpoint/host have more than one IOC within a time frame then is something that has to be looked at. At the

[2018-06-11 14:25] #68 closed, assigned to nobody

[2018-06-11 14:30] offsecn00b commented on #69
Perfect thanks!

On Mon, Jun 11, 2018 at 1:07 AM Roberto Rodriguez <notifications@github.com>
wrote:

--
Tiago Rodrigues

trodrigues@gmail.com
Phone: +1203-619-4800

[2018-06-11 14:35] Cyb3rWard0g commented on #69
Thank you @offsecn00b 👍

[2018-06-11 14:35] #69 closed

[2018-06-11 14:50] Cyb3rWard0g commented on #54
Ok I know what the problem is:

**4624 Logon Type 3: Process Name = "-"**

![image](https://user-images.githubusercontent.com/9653181/41238501-0e182b5c-6d64-11e8-9c94-d418d03ebbd2.png)

The Grok filter is the following: https://github.com/Cyb3rWard0g/HELK/blob/master/helk-logstash/pipeline/12-winevent-security-filter.conf#L8

[code]

Therefore, **-** will fail once it tries to go through the filte

[2018-06-11 15:33] ssi0202 commented on #68
Np i wanted to be able to “stack” the IOC so if i see multible IOC’s from a
given endpoint it alerts but i’ll try if i cant get there just with
searches

On Mon, 11 Jun 2018 at 16.26, Roberto Rodriguez <notifications@github.com>
wrote:

--
Simon Simonsen | Nordvestpassagen 79 |
8200 Århus N | Tlf. 20810408

[2018-06-11 15:49] Cyb3rWard0g commented on #68
Sounds good @ssi0202 Thank you 👍

[2018-06-12 06:23] le0li9ht opened #76 "kafka message: [client/metadata found some partitions to be leaderless]"
**Describe the problem**
I am trying to send osquery logs to kafka container from host machine using filebeat. But i got the following error from the logs.```
I have total of 2 brokers as they come inbuilt with HELK. I'm using the filebeat's osquery module.
osquery version: 3.2.6

[code]
[code]

**What steps did you take trying to fix the issue?**
I tried to set hostnames for the mentioned two bro

[2018-06-12 18:07] Cyb3rWard0g commented on #76
can you ping "helk-kafka-broker"??? thats an internal container name:

[code]
My other question is. did you create the 'osquery_logs' topics in kafka?? If you did not, then that's the reason why. Topics are not created automatically.

[2018-06-12 20:36] le0li9ht commented on #76
Hi,
Yes i can able to ping from my host machine because i have given the both containers private IP's under the /etc/hosts file.
[code]

[code]
/etc/hosts file
[code]
But inside the broker1 and broker2 containers ping command not working. I'm unable to test the reachability of one from other container.

[2018-06-12 20:41] le0li9ht commented on #76
Hi,

I didn't created topic manually. But I followed the following link
https://stackoverflow.com/questions/36441768/how-to-create-topics-in-apache-kafka
for creating topics automatically.
I enabled `auto.create.topics.enable` option

[2018-06-12 20:57] Cyb3rWard0g commented on #76
did you set that in every Kafka broker??
[code]

If so, can you show me that the topics exist on the brokers?:
[code]
Another questions. Did you do the changes before building the HELK or after??? thank you @le0li9ht

[2018-06-12 21:00] le0li9ht commented on #76
Hi,
Yes I have configured the same on two brokers.
[code]
[code]

[2018-06-12 21:04] Cyb3rWard0g commented on #76
I used to get that message when the topic was not created. I wonder what it could be. Can you provide the details of your server.properties files?? both brokers. Thank you

[2018-06-12 21:09] le0li9ht commented on #76
broker1
[code]

broker2:
[code]

Note: Just now a few minutes before i tried to create a topic manually using the below command
[code]
a spelling mistake.
Which has create the oquery_logs for the same some directories also created in /tmp/kafka-logs but for the automatically created osquery_logs no directory was created so far in /tmp/kafka-logs

[2018-06-12 21:21] Cyb3rWard0g commented on #76
The **advertised.listener** property might be the issue:
[code]
It has value of **0** for the IP or name of the broker. substitute that to be the name of your brokers or the IP address of the HELK on your two kafka brokers.  Do that and restart the brokers. let me know if that works.

[2018-06-12 21:31] le0li9ht commented on #76
still the same issue from filebeat
connect-log4j.properties           zookeeper.properties
[code]

done configured the mentioned hostname and restarted both the brokers
**bin/kafka-server-start.sh -daemon ../config/server.properties**
restarted the filebeat but still the issue persists

[code]
[code]

[2018-06-12 21:39] Cyb3rWard0g commented on #76
I meant the HELK name or HELK's IP. U usually use the HELK's IP. You are setting the broker names instead of the HELK's IP address.

[2018-06-12 21:43] le0li9ht commented on #76
Hi,
I didn't get you both(HELK name and IP) are same right. As I pinged both names from logstash container both are resolving to the corrrect IP's. This was happened before i entered host entries too.
root@log:~# docker exec -it 0ae9e2a4a2d0 bash
[code]

[2018-06-12 21:53] le0li9ht commented on #76
Hi,

As you said configured the IP and restarted. Now the filebeat logs changed
[code]

[2018-06-12 22:56] Cyb3rWard0g commented on #76
So is it working then?? I dont see the same error messages.

[2018-06-12 22:57] Cyb3rWard0g commented on #76
I have not used osquery and filebeat so I dont know what it looks like when it works.

[2018-06-13 08:21] le0li9ht commented on #76
Hi,

Sorry, Its not working

[2018-06-13 16:03] rsimplicio opened #77 "Install script pulls "free" memory rather than "available""
**Describe the problem**
helk_install.sh refuses to run on a system that has 15GB available, because some is used for filesystem cache. The script uses the "free" memory rather than the "available" memory, so even after taking your HELK docker down, the install script won't run without a reboot to free up the cached memory (from your previous HELK docker run).
**What steps did you take trying to f

[2018-06-13 19:32] Cyb3rWard0g commented on #76
Can you show me the error messages again that you are getting after all those changes that we made. Last message I saw was not an error message but was more that you were not getting data from OSQuery.

[2018-06-13 19:44] le0li9ht commented on #76
Hi,

here is the logs:
[code]

[2018-06-13 19:46] le0li9ht commented on #76
Hi,

After restarting the filebeat
[code]

[2018-06-13 20:46] le0li9ht commented on #76
Hi,
Can you tell me how to check whether the kafka is receiving the data correctly. I am checking like this
[code]
I found some files were created for the topic osquery_logs inside the tmp directory.

I observed the filebeat when the osquery log file is having some data then the filebeat is starting its harvester for tailing the log file and send it to brokers its connecting with them. Once the lo

[2018-06-13 21:22] le0li9ht commented on #76
HI,

Can you look into it.

[2018-06-13 21:44] Cyb3rWard0g commented on #76
Try this document https://kafka.apache.org/documentation/#quickstart_consume

[2018-06-15 13:08] le0li9ht commented on #76
Hi,

I have removed filebeat now i'm directly sending the osquery logs to the two brokers using the below link
osquery_topic
fim_topic
are the one i wanted to create.

Here is my osquery config
[code]

Topics also created automatically and the logs are also created under /tmp/kafka-logs
Client)
[code]

But when i tried to read the content by the below command from both the brokers
**./kafka-consol

[2018-06-15 13:09] le0li9ht commented on #76
Hi,

I have gone through https://github.com/wurstmeister/kafka-docker/wiki/Connectivity tutorial in that it says both the containers should be able talk to each other but i'm unable to check or troubleshoot this the communication between them. How to do this.

[2018-06-15 13:47] 1332530 opened #79 "Docker-Compose Fails with error: ERROR: for helk-elasticsearch Cannot create container for service helk-elasticsearch: b'Drive has not been shared'"
**Describe the problem**
When running an instance of docker-compose up, the operation fails with a terminating error when trying to bring up the first container; helk-elasticsearch.

**What steps did you take trying to fix the issue?**
Attempted to comment out the compose instruction setting the volume:
- esdata:/usr/share/elasticsearch/data

**How could we replicate the issue?**
Fresh build on Wi

[2018-06-15 14:23] Cyb3rWard0g commented on #79
Try the following:
https://github.com/docker/compose/issues/4303
[code]
Also make sure the shares are configured properly:

https://blogs.msdn.microsoft.com/stevelasker/2016/06/14/configuring-docker-for-windows-volumes/

It is hard to test it in a different environment than the one recommended by the project. let me know if the things above helped. Thank you @1332530

[2018-06-15 14:42] Cyb3rWard0g commented on #76
I really do not understand how you can reach the internal docker containers IP addresses (kafka brokers) and also have two IP addresses for the HELK. For example, according to your OSQuery config:

[code]
that means that you are pointing directly to the brokers??? but in another screen you show the following:

[code]
so one of your brokers has IP 172.18.0.8

I dont know why HELK would have two IPs

[2018-06-15 21:44] #77 closed

[2018-06-16 13:14] le0li9ht commented on #76
Hi,

Forgot the old replies i have rebuilt the entire setup. HELK, Osquery both and removed filebeat.
Here is the Helk setup details:
[code]
Here is the HELK server log
[code]

Now Here are the IP details:
broker1: 172.18.0.11
broker2: 172.18.0.10
logstash: 172.18.0.3
PublicIP of host: some_IP

Broker1:
[code]
**listeners=PLAINTEXT://172.18.0.11:9092
advertised.listeners=PLAINTEXT://172.18.0.11:90

[2018-06-16 14:07] le0li9ht commented on #76
Hi,
Remember my osquery is running on the same machine where the docker containers are running.
As you told earlier i tried with public IP also by configuring the public as the advertised listener but still i'm getting the below error.
[code]

[2018-06-18 04:00] Cyb3rWard0g commented on #76
@le0li9ht so first question:
- the IP address of your HELK is a public IP. However, internally in your network, does it have an internal IP???
- Kafka brokers
-- Are you initiating the Kafka brokers manually????
-- I ask that question because the helk-install script sets the advertised.listener config in your kafka brokers with the HELK's IP and not the Kafka Brokers IP address. if you are using O

[2018-06-18 05:46] le0li9ht commented on #76
Hi,

When i used the 0.0.0.0 as the advertised.listner the both kafka server's frequently being down. Although i start them manually. And then i configured the osquery to connect to localhost 9092 and 9093 because the brokers are being down the osquery resulted the following output.
[code]

[2018-06-18 06:11] le0li9ht commented on #76
Hi,

remember i configured the osquery to connect to
`    "logger_kafka_brokers": "localhost:9092,localhost:9093",
`
When i used the **localhost** as advertised listener i got the error from osquery  as follows and kafka's are being down.
 **localhost:9092/bootstrap: Metadata request failed: Local: Ti**

See i have installed only HELK on docker. The docker and its containers present in ubuntu 18.0

[2018-06-18 19:08] le0li9ht commented on #76
Hi,

Can you please look into it.

[2018-06-18 19:22] Cyb3rWard0g commented on #76
I will do an install with osquery locally and install it the way it is supposed to. then, I will share how I did it. It is hard to understand exactly what could go wrong without doing it myself. That will take a few days since I am working on other projects as well. Give me a couple of days and I can get a set up with instructions. Thank you for your patience.

[2018-06-19 03:08] TDominiqueWilliams commented on #43
@Cyb3rWard0g I am sorry for the delay in my response, I have been traveling for work. I did a fresh install of your updated HELK and it ran smoothly. It looks like your fix by eliminating the subnets works.

[2018-06-19 03:11] TDominiqueWilliams opened #80 "Adding Beats outside of Winlogbeat"
I am looking to try to extend HELK out by having filebeat, packetbeat, and metricbeat. Is it best to configure the new beats like your winlogbeat and point them to Kafka or should I do the traditional method by pointing them to elasticsearch?

[2018-06-19 03:18] Cyb3rWard0g commented on #43
Thank you very much for the update 👍

[2018-06-19 03:18] #43 closed

[2018-06-19 03:30] Cyb3rWard0g commented on #80
Niceee!! I would recommend to point them to Kafka. However, you will just have to add a topic for each data set. What data are you going to be using it with?? Filebeat pulling what type of logs?

[2018-06-19 03:33] TDominiqueWilliams commented on #80
Okay sounds good. For now I am testing filebeat against the basic logs of ubuntu. The goal would be to have an external machine with bro logs on it to send back to HELK.

[2018-06-19 23:14] jai6684 commented on #58
I am receiving the same error, this is my docker version, i am installing on a new installation of ubuntu.

Client:
 Version:      18.05.0-ce
 API version:  1.37
 Go version:   go1.9.5
 Git commit:   f150324
 Built:        Wed May  9 22:16:13 2018
 OS/Arch:      linux/amd64
 Experimental: false
 Orchestrator: swarm

Server:
 Engine:
  Version:      18.05.0-ce
  API version:  1.37 (minimum version

[2018-06-21 04:17] le0li9ht commented on #76
Hi,

Did you tried anything is it worked.

[2018-06-25 04:50] le0li9ht commented on #76
Hi,

Have you worked on it anything figured out?

[2018-06-25 12:17] Cyb3rWard0g commented on #76
I have not yet. Im working on other projects at the moment. I will let you know when I get back to it. thank you.

[2018-06-26 20:35] leechristensen opened #81 "Install script miscalculating available memory"
**Describe the problem**
Elastic fails to start due to a miscalculation on memory size.   Looks like the behavior of the `free` command changes between 14.04 and 16.04

**What steps did you take trying to fix the issue?**

**How could we replicate the issue?**

**If you are having issue during the installation stage, please provide the HELK installation logs located at /var/log/helk-install.log**

[2018-06-27 07:47] mrtadeo commented on #58
Hi All, I am still having problems with the installation as per post above. Any ideas?

Thanks
T.

[2018-06-27 07:53] mrtadeo opened #82 "Could not run HELK via docker-compose (Error Code: 1)"
Hello, I tried with new installation and I got the following error:

[code]
The OS is Ubuntu 16.04.3 LTS (GNU/Linux 4.4.0-87-generic x86_64).

Any ideas?

Thanks in advance
T.

[2018-06-27 13:57] Cyb3rWard0g commented on #82
Hey @mrtadeo ! That is usually with a proxy issue or caused by the host clock. Those have been a few issues that I have seen in other projects. Let me know if you can try to build it again in a fresh image. Thank you!

[2018-06-28 01:30] JRamx09 opened #83 "Container Resolution"
**Describe the problem**
I was looking at a buddies install of your product. He was having issues running it on a local instance. I wanted to provide some input. These may have been addressed and if they have please disregard.

My bread and butter is containers and elastic so that is why he asked me to help him with the "Logstash/Elasticsearch issue"

We narrowed it to logstash not being able to r

[2018-06-28 01:45] JRamx09 opened #84 "Elastic containers not logging!!"
**Describe the problem**
I was looking at a buddies install of your product. He was having issues running it on a local instance. I wanted to provide some input. These may have been addressed and if they have please disregard.

My bread and butter is containers and elastic so that is why he asked me to help him with the "Logstash/Elasticsearch issue"

I noticed when you build your containers, elas

[2018-06-28 05:43] Cyb3rWard0g commented on #84
Hey @JRamx09 ! Thank you very much for all the information. I have one questions. Can you also troubleshoot Logstash with:
[code]
if you set the configs to output how the logs are getting ingested then they should show on your console with the command above. Let me know if you guys tried that first.

Thank you 👍

[2018-06-28 05:49] Cyb3rWard0g commented on #83
Hey @JRamx09 ! Very interesting. I have not had any issues with it. Other builds from others also have not had that issue. The only issue that I found from the docker network was when assigning private IPs to the conf/yaml. Some people complained that it was interfering with their local subnets. Therefore, I decided to keep it with the helk service names and aliases. Have you tried the aliases?? I

[2018-07-02 17:30] jallen202020 opened #85 "Issues with new install of HELK - Could not install docker via convenience script"
Using Ubuntu 18.04, HELK 6.3.0 build 0.9

Created new VM and after trying to install, I get the following error:

admin@ccshelk:/HELK$ sudo ./helk_install.sh

**********************************************
**          HELK - THE HUNTING ELK          **
**                                          **
** Author: Roberto Rodriguez (@Cyb3rWard0g) **
** HELK build version: 0.9 (Alpha)          **
** HEL

[2018-07-02 17:39] JRamx09 commented on #84
@Cyb3rWard0g, sorry about the late response but I stood up my own instance and this does work but I was just recommending adding this entry so you can look at your logs even if the service docker image is turned off.

This may just be a personal preference.

[2018-07-02 17:44] JRamx09 commented on #83
I ensured my private IPs were on the network assigned to the bridge network and nowhere else in my network so there was no collision. Based on my commands, you can see that the images had no resolution inside of the bridged network. I am not sure why this was the case if other got it working correctly.

The other fix could be to add the IPs to the ETC HOST and share that out among my docker images

[2018-07-02 17:45] JRamx09 commented on #83
I made a mistake in my original post:

"CURL --interface br-0000000000 -X GET http://172.0.0.8:9200/_cat/" #Did work

This command above did work. It does not work when you replace the IP with the intended docker image/hostname.

[2018-07-02 20:54] jallen202020 commented on #85
Also when viewing the install log, this is what I see:

chmod: cannot access 'get-docker.sh': No such file or directory
./helk_install.sh: line 93: ./get-docker.sh: No such file or directory
error: cannot install "docker": cannot get nonce from store: Post
       https://api.snapcraft.io/api/v1/snaps/auth/nonces: dial tcp: lookup
       api.snapcraft.io on 127.0.0.53:53: server misbehaving

[2018-07-02 21:07] jallen202020 commented on #85
Welp...looks like there was a DNS issue.  That problem solved, but now I am getting:

[HELK-INSTALLATION-INFO] HELK being hosted on a Linux box
[HELK-INSTALLATION-INFO] Available Memory: 15
[HELK-INSTALLATION-INFO] Available Disk: 950
[HELK-INSTALLATION-INFO] Obtaining current host IP..
[HELK-INSTALLATION-INFO] Set HELK IP. Default value is your current IP: 0
[HELK-INSTALLATION-INFO] HELK IP set t

[2018-07-02 21:09] Cyb3rWard0g commented on #85
Hey @jallen202020 ! Thank you for all the details. I think you still have DNS issues:
[code]
How did you try to fix the first DNS issues you had and how did you figure out it was a DNS issue? Thank you

[2018-07-02 21:10] Cyb3rWard0g commented on #84
Got it. Thank you very much for the suggestion. I really like the idea of having the logs also available even when the containers are not running. I will add that in the next release. Working on a few things this week 👍 Thank you. I will close this issue once I add what you suggested.

[2018-07-02 21:13] Cyb3rWard0g commented on #83
interesting. Yeah let me know if the aliases works. The problem I had when hardcoding IPs was that it was causing collisions with other users networks. Thats why I decided to not use the IP addresses or set anything in the /etc/host . Let me know if aliases works please. thank you for the details @JRamx09

[2018-07-02 21:51] jallen202020 commented on #85
Figured out it was a dns issue by trying some pings to google.com and other names, and received errors from those as well.  So I fixed the DNS issue by temporarily disabling systemd-resolved, and manually setting resolv.conf and everything seemed to be working, but now I am erroring out here:

[HELK-INSTALLATION-INFO] HELK being hosted on a Linux box
[HELK-INSTALLATION-INFO] Available Memory: 15
[

[2018-07-02 23:07] jallen202020 commented on #85
Alright, so it looks to be working now.  For anyone else who runs into this issue, although the DNS servers were set at the time of installation, for some reason they didn't take and had to be entered, along with the base domain, into /etc/systemd/resolved.conf.  It still wasn't working, so I rebooted, and then name resolution worked.  There is probably a service or two that could have been restar

[2018-07-03 11:20] mrtadeo commented on #82
Hey @Cyb3rWard0g

I sync with ntp server and it works now.

Thanks!
T.

[2018-07-03 20:03] Cyb3rWard0g commented on #82
awesome thank you very much 👍

[2018-07-03 20:03] #82 closed

[2018-07-04 04:32] jai6684 commented on #42
Hi @Cyb3rWard0g ,

I tried on a fresh installation of ubuntu, again same problem occurs,

jay@jay-Virtual-Machine:~$ git clone https://github.com/Cyb3rWard0g/ATTACK-Python-Client
Cloning into 'ATTACK-Python-Client'...
remote: Counting objects: 144, done.
remote: Compressing objects: 100% (96/96), done.
remote: Total 144 (delta 49), reused 127 (delta 36), pack-reused 0
Receiving objects: 100% (144/

[2018-07-04 04:39] Cyb3rWard0g commented on #42
Hey @jai6684. Can you provide the HELK's Log File?? should be /var/log/helk-install.log

[2018-07-06 23:30] rzietlow commented on #42
I got this error on a fresh ubuntu install as well (16.04)

root@helk:~/HELK# ./helk_install.sh

**********************************************
**          HELK - THE HUNTING ELK          **
**                                          **
** Author: Roberto Rodriguez (@Cyb3rWard0g) **
** HELK build version: 0.9 (Alpha)          **
** HELK ELK version: 6.3.0                  **
** License: BSD 3-Cla

[2018-07-07 01:50] Cyb3rWard0g commented on #42
your image has Docker already installed. Run the script on a fresh image without Docker.

[code]

[2018-07-07 03:11] #81 closed

[2018-07-07 13:50] rzietlow commented on #42
right, but, it crossed itself out, the issue appears to be that docker-compose isn't in my path (on the default install) which is why I'm getting error code 127.

root@helk:~/HELK# docker-compose up
Command 'docker-compose' is available in '/usr/local/bin/docker-compose'
The command could not be located because '/usr/local/bin' is not included in the PATH environment variable.
docker-compose: comm

[2018-07-08 23:39] Cyb3rWard0g commented on #42
ok so did you add that to your PATH?? Did it work after that?

[2018-07-09 01:05] rzietlow commented on #42
yes I added it to my path and after that it worked correctly.

root@helk:~/HELK# export PATH=/sbin:/bin:/usr/sbin:/usr/bin:/snap/bin:/opt/puppetlabs/bin:/usr/local/bin
root@helk:~/HELK# ./helk_install.sh

**********************************************
**          HELK - THE HUNTING ELK          **
**                                          **
** Author: Roberto Rodriguez (@Cyb3rWard0g) **
** HELK

[2018-07-09 13:50] Cyb3rWard0g commented on #42
Nice thank you for the updates 👍

[2018-07-09 13:50] #42 closed

[2018-07-09 13:53] Cyb3rWard0g commented on #80
Let me know how this is going for you @TDominiqueWilliams 👍 Would love to hear about what I can be doing to add some filters or anything to the build 👍

[2018-07-11 12:01] ericbsdr opened #86 "Deal with non-english endpoints OS"
**Describe the problem**
My endpoints are French Windows OS. Winlogeat send some french words to logtash.
For example when hunting Powershell activities : the work **value is "valeur"** and **name is "nom"**
So logstash is unable to deal with the message received.

**What steps did you take trying to fix the issue?**
I modified `/etc/logstash/conf.d/10-powershell-filter.conf` line 48 with

`

43

[2018-07-12 05:02] Cyb3rWard0g commented on #86
Thank you for the details @ericbsdr ! I am not sure how to add the flexibility to have the pipeline dynamic enough for different languages. did your update to the logstash config work?? I see you edited the powershell config. let me know.

[2018-07-12 05:02] Cyb3rWard0g commented on #80
Hows everything going @TDominiqueWilliams ??? I hope everything is well. 👍

[2018-07-12 05:03] Cyb3rWard0g commented on #61
Hey @ustayready , I hope all is well. Let me know if you were able to test the HELK with the instructions I provided to update your pipeline. Thank you!

[2018-07-16 06:54] ericbsdr commented on #86
Hi. Yes I updated the `/etc/logstash/conf.d/10-powershell-filter.conf`file because powershell log seems to be more frenchy than others :-) I don't know why. Will my configuration be overwritten if I install next HELK updates ?

[2018-07-16 13:50] Cyb3rWard0g commented on #86
got it! @ericbsdr as long as you make a copy of your pipeline folder and then make sure it is the main one to be mounted in the Logstash container, you should be fine.

[2018-07-26 22:48] cgoss opened #88 "Spark Setup"
How do you get spark setup. I'm trying to deploy on hortonworks but am not clear on the spark setup.

[2018-07-27 20:25] ssi0202 opened #89 "add nodes to helk-elk"
is there a goto way to add more nodes to the helk-elk container or is the correct docker way to add more helk-elk containers ie more seperate containers in the docker compose file

im looking to powerup a elasticsearch cluster and not just a single node

[2018-07-28 17:36] dlohin opened #90 "Issue building Helk"
Ran Helk install I kept getting an error after running the build_install.sh

[code]

Upon further inspection I realized it was failing on building Jupyter.

[code]

I was able to fix the issue by specifying a specific version of Jupyterlab.  I went and in history and went back about  a month and it was able to build.  Here is the line I changed in the Dockerfile.

[code]

[2018-07-29 02:10] Cyb3rWard0g commented on #88
Hey @cgoss ,
I havee not tested the spark cluster in Hortonworks. I am not planning on providing support for that type of deployment. Im sorry. Let me know if you have any issues deploying it with Docker-Compose. Thats what I am covering so far. Thank you!

[2018-07-29 02:10] #88 closed

[2018-07-29 02:12] Cyb3rWard0g commented on #89
Hey @ssi0202 ! that is on the roadmap, but in the mean time I believe you can do the same thing as explained by elastic:
[code]
Let me know if that helps https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html. I believe you will have to update the logstash output too. I havent done that yet.

[2018-07-29 02:15] Cyb3rWard0g commented on #90
Hey @dlohin !! Yes I also had that issue yesterday when I was trying to run some updates. I also ran into the same issue and I was not aware that the latest version of Jupyterlab which was updated yesterday was also in the Jupyter container. that is supposed to have the old one. Anyways I am pushing that change in the next update which will be before BlackHat 👍  Thank you for also sharing what wor

[2018-07-29 12:12] ssi0202 commented on #89
hi i made the changes and everything comes up ok with the installation part but HELK can only see one node

version: '3'

services:
  helk-elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:6.3.1
    container_name: helk-elasticsearch
    volumes:
      - ./helk-elasticsearch/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
      - esdata:/usr/share/elastics

[2018-07-29 15:11] Amorik commented on #89
In docker, the container name becomes the internal dns name for the container. The service name will also work but should return all containers in that service (see docker scaling). You will need to adjust your references according to the internal docker references.

for example, to fix your current issue with the cluster finding appropriate nodes adjust the following line from

[code]
to
[code]

[2018-07-29 17:18] ssi0202 commented on #89
yeah i tried that already no luck, do i need to edit the elasticsearch.yml also?

{
  "cluster_name": "helk-cluster",
  "status": "yellow",
  "timed_out": false,
  "number_of_nodes": 1,
  "number_of_data_nodes": 1,
  "active_primary_shards": 9,
  "active_shards": 9,
  "relocating_shards": 0,
  "initializing_shards": 0,
  "unassigned_shards": 5,
  "delayed_unassigned_shards": 0,
  "number_of_pendin

[2018-07-30 23:57] Cyb3rWard0g opened #91 "Failed to fetch cdrom://Ubuntu-Server 16.04.4 LTS"
**Describe the problem**
I downloaded a new Ubuntu ISO 16.04.4 LTS and used it to HOST a basic local HELK deployment. When I ran the helk_install.sh script, I got the following error:
[code]
**What steps did you take trying to fix the issue?**
I added the following line to the helk_install.sh script:
[code]
**How could we replicate the issue?**
Download Ubuntu-Server 16.04.4 ISO
Build an Ubuntu Bo

[2018-07-30 23:58] Cyb3rWard0g commented on #91
Pushing update in the next HELK release

[2018-07-31 00:01] Cyb3rWard0g commented on #86
@ericbsdr your logstash pipeline will not be overwritten since the logstash service mounts the local logstash pipeline configs as shown in the docker compose config:
[code]
Closing this issue since there is nothing to fix here. Feel free to re-open the issue or opening a new one if you have any other issues. Thank you @ericbsdr 👍

[2018-07-31 00:01] #86 closed

[2018-07-31 06:03] Cyb3rWard0g commented on #89
I would comment this out from the elasticsearch.yml file
[code]

Let me know if that works. I would recommend to just test ES & Kibana & Nginx so that your test build is faster 👍

[2018-07-31 15:26] neu5ron commented on #31
Sentinl is very cool, also Kibi and some other great projects have extended Kibana and Elasticsearch features.
However, they tend to break with each Elastic upgrades. Our goal is to not stray far from the Elastic branch so we can perform continous upgrades/updates along with Elastic’s repo.
Also, when Kibana 7 and such is GA release a lot more from the plugin community should be able to be support

[2018-07-31 15:53] Cyb3rWard0g commented on #31
I agree with @neu5ron ! There was another request to use Search Guard also to allow authentication and index permissions, but usually with a major Elastic update, it breaks :( . This is why I also think we should wait a little bit and use whatever Elastic has on the roadmap for the basic subscription. I will close this, but it will be on tto-do list as a potential integration in the future.

[2018-07-31 15:53] #31 closed

[2018-07-31 18:20] #89 closed, assigned to nobody

[2018-07-31 18:25] Cyb3rWard0g commented on #89
Nice thank you @ssi0202 ! 👍

[2018-07-31 18:26] ssi0202 opened #92 "enrichments"
hi - its me again.

im doing enrichments in the logstash conf files. do you plan to do it this way also or do you have anything other i mind?

currently im doing going through this repo
https://github.com/HASecuritySolutions/Logstash

also check out his elastaleart cerebro and curator containers .-)

full disclosure its SANS course related, i have no affiliation with SANS other than that they make

[2018-07-31 18:28] Cyb3rWard0g commented on #80
@TDominiqueWilliams closing this issue since there is nothing to fix. If you get to figure out Filebeat for Ubuntu logs, let me know and a PR will help to update the logstash pipeline. Thank you in advance!

[2018-07-31 18:28] #80 closed

[2018-07-31 18:30] Cyb3rWard0g commented on #92
HEy @ssi0202 !! Can you provide specific examples of enrichments that you believe can be added to the current pipeline?? Im focusing in Windows (security, sysmon & powershell) & OSQuery tables for now. Would love to hear your thoughts

[2018-07-31 18:32] Cyb3rWard0g commented on #79
Hey @1332530 !! It has been a while and I have not heard from you and your testing in a WIndows box. It looks like a Docker issues to me. I will close this issue since the HELK is intended to be deployed in a Linux box according to our Wiki and development steps. Feel free to open an issue if you have any issues with HELK in Linux environments. Thank you!

[2018-07-31 18:32] #79 closed

[2018-07-31 18:58] ssi0202 commented on #92
im currently adding the dictionary section folder ( it works with logstash translate ) so i get er readable version of login type instead of a number.

and these

https://github.com/HASecuritySolutions/Logstash/blob/master/configfiles/6302_windows_translations.conf

https://github.com/HASecuritySolutions/Logstash/blob/master/configfiles/6300_windows.conf

he also has alot of bro related stuff

the

[2018-08-03 12:14] MgOmbodorj opened #94 "Can't connect to web"
**Describe the problem**
I can't access to Kibana URL

**What steps did you take trying to fix the issue?**

Tried disable firewall

**How could we replicate the issue?**

**If you are having issue during the installation stage, please provide the HELK installation logs located at /var/log/helk-install.log**

Installation succesfully completed.

https://pastebin.com/82fcAb8m

**What version of HEL

[2018-08-03 14:36] hsvsocintern commented on #94
I am also having the same issue, after using the helk_install.sh script from a fresh install of Ubuntu 16.04.

[2018-08-03 18:16] Cyb3rWard0g commented on #91
fixed by https://github.com/Cyb3rWard0g/HELK/commit/634e24e3aa85308657d6192022025b2e5a0409f4

[2018-08-03 18:16] #91 closed

[2018-08-03 18:17] Cyb3rWard0g commented on #90
fixed by https://github.com/Cyb3rWard0g/HELK/commit/634e24e3aa85308657d6192022025b2e5a0409f4

Thank you @dlohin

[2018-08-03 18:17] #90 closed

[2018-08-03 18:18] Cyb3rWard0g commented on #94
Hey @hsvsocintern and @MgOmbodorj can you try again?? I pushed a big commit https://github.com/Cyb3rWard0g/HELK/commit/634e24e3aa85308657d6192022025b2e5a0409f4

[2018-08-03 18:19] Cyb3rWard0g commented on #94
https://github.com/Cyb3rWard0g/HELK/releases/tag/v0.1.2-alpha08032018

[2018-08-06 10:49] ssi0202 opened #95 "logstash error - no data in kibana"
hey

just installed the latest version but getting this

[2018-08-06T10:06:31,408][WARN ][logstash.outputs.elasticsearch] Could not index event to Elasticsearch. {:status=>400, :action=>["index", {:_id=>"3721852165", :_index=>"logs-endpoint-winevent-sysmon-2018.08.06", :_type=>"doc", :_routing=>nil}, #<LogStash::Event:0x27f0f6ba>], :response=>{"index"=>{"_index"=>"logs-endpoint-winevent-sysmon-201

[2018-08-06 11:45] ssi0202 commented on #95
removed the "_" ind "_doc" in all the template files still no data

[2018-08-06 15:14] hsvsocintern commented on #94
I re-ran the install script after the update and was able to access the web interface, Thanks!

[2018-08-06 15:17] hsvsocintern commented on #95
When I view the logs using "sudo dockeer logs --follow helk-logstash", I am also receiving numerous logs similar to ones posted above.

[2018-08-06 17:33] ssi0202 commented on #95
i think its related to the template files and the build-in indexes that use "doc" and not "_doc".  ver 6 of ES does not allow for more than one type of mapping and thus  breaks the indexing (at least thats my theory).

the mitre index works fine from my tests, and does not have a"_doc" mapping . i've tried editing the template files but maybe i missed one ill give it a try again tomorrow. if you f

[2018-08-06 22:56] Cyb3rWard0g commented on #94
awesome thank you @hsvsocintern 👍

[2018-08-06 22:56] #94 closed

[2018-08-06 23:42] Cyb3rWard0g commented on #95
mmmm let me test it on my end and get back to you . thank you!

[2018-08-07 05:35] Cyb3rWard0g commented on #95
Hey @ssi0202 I updated the output templates to doc and it is working fine now. Can you give it another try? Thank you

[2018-08-07 08:00] ssi0202 commented on #95
fixed ppl just have to remember to wipe any old indexes in elastic for it to work
;) now to figure out how to get my internal ip adr tagging back after the logstash rewrite ;)

[2018-08-07 14:37] hsvsocintern opened #96 "Kafka Issues?"
**Describe the problem**
After a fresh install of HELK, using the helk_install.sh script, with a windows with winlogbeat. I am not receiving data in Kibana using the "log-endpoint-winevent-sysmon" index. Error logs provided below.
**What steps did you take trying to fix the issue?**
I am a total ELK stack new comer, still trying to diagnose and understand the problem.

**If you are having issue du

[2018-08-07 20:33] Cyb3rWard0g commented on #96
Hey @hsvsocintern . Thank you for the details. Can you provide the logs from /var/log/helk_install.log?? That should be locally and the details of when the HELK was being built? How much memory did you allocate for the build? Also, can you share Kafka Brokers logs?? That will help me to figure out what happened. Most likely it was that the Kafka brokers did not create that specific topic while the

[2018-08-07 20:36] Cyb3rWard0g commented on #95
thank you for the information @ssi0202 . The indices were pointing to _doc document types, but by default it was setting them to doc when indices wee being created in output logstash configs. I will close this issue since it is solved. Let me know if you have any other questions or issues with it. Sorry for the delay 👍

[2018-08-07 20:36] #95 closed

[2018-08-07 21:06] hsvsocintern commented on #96
Yes, Thanks for your help with getting HELK up and running. I am using a Ubuntu 16.04 VM, with 15GB RAM, 175GB Storage, 4 core CPU @ 1.8 GHz. Attached is my results from docker-kafka-broker and docker-kafka-broker2. Along with my helk_install.log from /var/log/
[Kafka2.txt](https://github.com/Cyb3rWard0g/HELK/files/2268033/Kafka2.txt)
[Kafka.txt](https://github.com/Cyb3rWard0g/HELK/files/2268034/K

[2018-08-07 21:47] Cyb3rWard0g commented on #96
I can see that both brokers failed to create the Kafka Topics:
[code]

[2018-08-07 21:48] Cyb3rWard0g commented on #96
do you think that you could run it again? the whole deployment and monitor for those two brokers. let me know if you still get the same errors. thank you @hsvsocintern

[2018-08-08 14:36] hsvsocintern commented on #96
I re-ran the install script on a fresh system with 16GB RAM, 250GB Storage, 8 core CPU @ 1.8GHz. and I am getting the same error from the kafka-log.
"[HELK-DOCKER-INSTALLATION-INFO] Creating Kafka winlogbeat Topic..
Error while executing topic command : Replication factor: 2 larger than available brokers: 0.
[HELK-DOCKER-INSTALLATION-INFO] Creating Kafka sysmontransformed Topic..
Error while execu

[2018-08-08 18:41] Amorik commented on #84
The only time you need to mount the log directory is if your application(s) are generating information that is not going to stdout or stderr (which you may want to consider adjusting). Otherwise, so long as the container is not deleted the logs are always available via the "docker logs" command, regardless of the container state.

You can also configure logging settings for docker to change format

[2018-08-10 06:53] Cyb3rWard0g commented on #96
ohhhh @hsvsocintern . How are you running the HELK installation? Are you using the helk_install.sh script? Also, does your system have an IP address? That value HELKIP gets adjusted via the helk_install.sh script. Sorry I have been busy with BlackHat these past couple of days.

[2018-08-10 07:00] Cyb3rWard0g commented on #84
Hey @Amorik ! thank you very much for the help on this one and for sharing the details about the container logging. I tested it and it works. I stopped the logstash container to test if the logs are still available even when the container is not running, and it worked:
[code]

[2018-08-10 07:00] #84 closed

[2018-08-10 13:49] hsvsocintern commented on #96
Yes, I have been running the installation with a clean VM, doing:
"git clone https://Cyb3rWard0g/HELK"
"sudo ./helk_install.sh".
The system gets it's IP from DHCP, when the script displays the current IP, it is the correct value.

I hope you're having a good time at BlackHat!
Thanks

[2018-08-11 10:11] ssi0202 commented on #59
hey anyone found a good curator image/container seems like this might fit the use case

https://github.com/stefanprodan/es-curator-cron

[2018-08-11 22:44] Cyb3rWard0g commented on #96
ok so I do the following:
first I edit the docker-compose file Kafka broker variable to the HOST IP:
[code]
Then, in the Kafka broker entrypoint I update the kafka server.properties file:
[code]
when you check your server.properties file in /opt/helk/kafka/kafka_2.11-1.1.1//config/server.properties, you should have the advertised listener set up to your current HOST IP. Can you provide the server.

[2018-08-14 02:02] Cyb3rWard0g commented on #92
Thank you for the suggestiong @ssi0202 . @neu5ron is working on improving the Pipe from time to time. I see what SecurityMapper has done with his pipeline. I think that there are several ways to enrich a pipeline specially with host-events and we will keep an eye on the best way to enhance the pipeline configs for the community. I will close this issue since there is nothing to fix. Thank you man!

[2018-08-14 02:02] #92 closed

[2018-08-14 02:03] Cyb3rWard0g commented on #65
Closing due to inactivity

[2018-08-14 02:03] #65 closed

[2018-08-14 02:57] neu5ron commented on #92
also the goal with the pipeline in the long run is to make much more modular than other's pipelines -- for example a single file to rule all CLI and Username fields for example

[2018-08-14 04:40] Cyb3rWard0g commented on #60
This is possible with mem_limit is possible but with docker-compose versions prior to 3. After version 3, it can be done via the resources feature of Deploy. However, it is ignored when the build is not run in docker swarm. The docker deployment of the HELK is only supporting local builds with docker-compose at the moment. Thank you for the suggestion though. Nothing to fix here unless you want to

[2018-08-14 04:40] #60 closed

[2018-08-14 13:26] ssi0202 opened #97 "cidr filter"
hey following the update to the pipeline files my cidr filter broke - no biggie, i just have to understand where to apply it again.

following the feedback from neu5on i believe the cidr filter should go in at 1510-wineven_ip_.conf file but i keep getting this error

[2018-08-14T13:05:58,743][WARN ][logstash.filters.cidr    ] Invalid IP address, skipping {:address=>"%{[event_data][DestinationIp]}"

[2018-08-15 21:40] Cyb3rWard0g commented on #97
@neu5ron ^^^^ would you mind helping with this one whenever you have a chance? 👍

[2018-08-15 23:27] neu5ron commented on #97
also all event_data prepended stuff should be removed in file:
https://github.com/Cyb3rWard0g/HELK/blob/master/docker/helk-logstash/pipeline/1010-winevent-remove-winlogbeats-prepend-of-eventdata.conf

[2018-08-16 15:49] Cyb3rWard0g opened #98 "E: Could not get lock /var/lib/dpkg/lock - open (11: Resource temporarily unavailable)"
**Describe the problem**
I was installing HELK in a new Ubuntu image, and I got the following error message:
[code]
**What steps did you take trying to fix the issue?**
I googled the error and found the answer

**How could we replicate the issue?**
Install HELK in an Ubuntu 16.04.1 LTS (GNU/Linux 4.4.0-31-generic x86_64)
**If you are having issue during the installation stage, please provide the H

[2018-08-16 15:49] #98 closed

[2018-08-17 19:00] neu5ron commented on #74
This should be fixed with latest logstash pipeline update.
close it :)

[2018-08-17 19:01] neu5ron commented on #61
close this :)

[2018-08-17 19:06] neu5ron commented on #54
this shouod be fixed with latest pipeline update as we remove “-“ values and so ProcessName wouldn’t exist if blank and therefore would NOT hit this grok filter and cause an error.
close meh :)

[2018-08-17 19:13] Cyb3rWard0g commented on #54
yes I agreed. Thank you brother!!!

[2018-08-17 19:13] #54 closed

[2018-08-17 19:44] ustayready commented on #61
Sounds good! Thanks for implementing, I will get around to checking it out as soon as I am all caught up on post-defcon tasks :)

[2018-08-22 17:19] Amorik opened #99 "Install Script Bound to Root"
**Describe the problem**
The install script is bound to checking the available free space on /
This is not always the case as one can configured docker to alter its base directory by editing the /etc/docker/daemon.json file (created if not present)

Example config:
[code]

**What steps did you take trying to fix the issue?**
Edited line 31 from:
[code]
to:
[code]

The ```docker info --format '{{.D

[2018-08-24 05:49] Cyb3rWard0g commented on #99
Very interesting. Thank you very much for the information. your change by itself works in my Ubuntu box too. However, as you mentioned in your comments, the user will have to alter the docker base directory in order for the current script to fail. The helk_install script is provided to install docker and everything one needs to run HELK. the helk_install script is for those that just want to press

[2018-08-24 05:57] Cyb3rWard0g commented on #99
I will add the second check here:
[code]
This will be updated in the next release. Thank you very much @Amorik !! 👍

[2018-08-24 05:59] Cyb3rWard0g commented on #83
Hey @JRamx09 do you still have issues with the container resolutions?? Let me know

[2018-08-24 06:02] Cyb3rWard0g commented on #97
Thank you very much @neu5ron . @ssi0202 let us know if you have any other questions. Closing this issue since it is addressed by the current pipeline. thank you again!

[2018-08-24 06:02] #97 closed

[2018-08-24 15:41] #99 closed

[2018-08-24 23:35] Cyb3rWard0g commented on #21
Hey @jermdw ! I updated the build to run most of the containers with a non-root account. The only container running as root is the Jupyter one and it is because it is a little complicated to set up all the dependencies for Jupyter hub and spawn new processes as other users with a regular use account. I will close this issue when I figure that our. Keeping you in the loop 👍

[2018-08-25 18:38] Cyb3rWard0g commented on #83
Closing this due to inactivity. Feel free to re-open the issue or open a new one. thank you

[2018-08-25 18:38] #83 closed

[2018-08-27 16:58] neu5ron commented on #97
@ssi0202 you good on this? in other words - did my comment help you out / is the issue fixed?

[2018-08-28 06:14] ssi0202 commented on #97
it works at intended now, i added an extra cidr related file to the pipeline folder that enriches the sysmon events the way i want with with source and destination ip to show if its a client, server DMZ vlan etc

same approach for the IOC' s worked great.

[2018-08-30 12:53] Saurabh995 commented on #73
THis is a compatibility issue , try updating the kafka version

[2018-09-10 23:35] Cyb3rWard0g opened #100 "Request Entity too large"
**Describe the problem**
Visualizing data being ingested throws that error message

**What steps did you take trying to fix the issue?**
googled it and asked @neu5ron ;) He always has the answers!!! :) 👍 Thank you man!

**How could we replicate the issue?**
Building HELK, ingesting data and going through the HELK visualizations

**If you are having issue during the installation stage, please provi

[2018-09-11 08:14] ssi0202 commented on #59
does the elasticsearch expose any ports to the outside in the current build ? would it break anything if i exposed ports to the outside in the docker file to get a entrypoint for a curator instance?

[2018-09-11 08:18] ssi0202 opened #101 "utc time parse failiure in event id 13 for sysmon"
Hi

the UTC timestamp fails i cant figure out what is the cause of this, nothing major but still..

{
  "_index": "logs-endpoint-winevent-sysmon-2018.09.11",
  "_type": "doc",
  "_id": "3122315702",
  "_version": 2,
  "_score": null,
  "_source": {
    "version": 2,
    "log_name": "Microsoft-Windows-Sysmon/Operational",
    "provider_guid": "5770385F-C22A-43E0-BF4C-06F5698FFBD9",
    "user_report

[2018-09-11 16:36] neu5ron commented on #101
@ssi0202
1) is it every log for sysmon EID 13?
2) do you have the raw message (remove any identifying info like SID,hostname,etc...) - because I believe the message you pasted got garbled.

[2018-09-11 16:40] neu5ron commented on #59
@ssi0202 if you want to expose the elasticsearch node (if it isn't already) then
# To set to listen on localhost and external IP set the following in your elasticsearch.yml:
network.host: [ "$EXTERNAL_IP", "127.0.0.1" ]
network.publish_host: $EXTERNAL_IP

[2018-09-11 16:42] neu5ron commented on #59
you may have to NAT with docker though -- because https://github.com/Cyb3rWard0g/HELK/blob/2d51dae636c4e09d113a912983d950bbe686a7f9/docker/helk-elasticsearch/elasticsearch.yml#L57
looks like it defaults listens on 0.0.0.0

[2018-09-17 04:53] gizze59 opened #102 "Installation fail on Ubuntu 18.04.1"
I got " * ERROR: Could not run HELK via docker-compose (Error Code: 1)" when running ./helk_install.sh
In /var/log/helk_install.log I see
_Pulling helk-elasticsearch (docker.elastic.co/elasticsearch/elasticsearch:6.4.0)...
Get https://docker.elastic.co/v2/: dial tcp: lookup docker.elastic.co on 127.0.0.53:53: server misbehaving_

[2018-09-17 20:32] Cyb3rWard0g commented on #102
Hey @gizze59 , let me know if this works https://docs.docker.com/network/proxy/#configure-the-docker-client (check the client configuration).

[2018-09-18 05:38] gizze59 commented on #102
Hi Roberto
I have already tried that, but it doesn’t work with «docker-compose», which is mentioned on some sites. I have also tried to follow this, but haven’t succeeded yet.
https://dev.to/shriharshmishra/behind-the-corporate-proxy-2jd8 <https://dev.to/shriharshmishra/behind-the-corporate-proxy-2jd8>

RuneT

[2018-09-19 17:38] ChrisM65 commented on #76
I was having weird issues with winlogbeat forwarding from my WEF server and the same error . I started over from scratch and used a static IP instead of DHCP and all my issues went away. I believe it was related to the scripts and them gathering IP's.

[2018-09-25 15:33] neu5ron commented on #59
after running curator in production the last few months with @torycmos -- curator is basically a blank slate and has a lot of buttons/knobs.
as an open source project I don't believe we want to get into adding it. Although, I completely agree there is a positive aspect to adding it and @Cyb3rWard0g and I always much appreciate the suggestions that you @ssi0202 have -- I believe the negative aspect

[2018-09-30 16:48] Cyb3rWard0g opened #104 "Update Ubuntu Host Box - Unable to Fetch Some Archives"
**Describe the problem**
I wanted to run the helk_install.sh script and I got some 404 Not Found messages when trying to install Curl.

I got the following message:

[code]
**What steps did you take trying to fix the issue?**
I updated the Ubuntu box I was using to deploy HELK with ```sudo apt-get update``` and it worked after that.

**How could we replicate the issue?**
git clone https://github.c

[2018-09-30 16:50] Cyb3rWard0g commented on #104
I was getting the following:
[code]
I ran the following:
[code]
It worked fine after that:
[code]

[2018-09-30 21:52] Cyb3rWard0g commented on #104
Users need to update their host when running the helk_install script.

[2018-09-30 21:52] #104 closed

[2018-10-03 11:39] devdua opened #105 "JupyterLab throws 403 Forbidden when accessing/creating notebooks"
**Describe the problem**
JupyterLab throws a '403 Forbidden' error when accessing or creating a notebook.
![image](https://user-images.githubusercontent.com/3139249/46407926-20f2b480-c72e-11e8-9ece-e60554325c72.png)

![image](https://user-images.githubusercontent.com/3139249/46408043-6fa04e80-c72e-11e8-9e7e-c04689f7b6b5.png)

**What steps did you take trying to fix the issue?**
1. Stopping and sta

[2018-10-11 15:56] jallen202020 opened #107 "Connection to Elasticsearch lost - corrupt shards?"
**Describe the problem**

I've noticed twice now, that after allowing logs to collect for a few weeks, that I end up with corrupt shards, and have to delete all shards to get Elasticsearch up and running again.  The way the problem manifests itself is that when i log into Kibana, I get the default "Do you want to send error reports?" message as if it's my first login, and no matter if I click Yes

[2018-10-11 19:21] Cyb3rWard0g commented on #107
can you show the corrupt shards error messages? or anything that tells you that you have corrupt shards? I would like to get more details of this if it is possible. Thank you! 👍

[2018-10-11 19:38] jallen202020 commented on #107
Yep, I figured you'd want as much :)

I don't have anything available to me now, since I just deleted all shards to get it up and working again.

What specific commands should I run next time the issue occurs to try and locate the source of the issue?
________________________________
From: Roberto Rodriguez <notifications@github.com>
Sent: Thursday, October 11, 2018 2:21 PM
To: Cyb3rWard0g/HELK
Cc

[2018-10-11 19:44] jallen202020 commented on #107
I found this from the first time it happened (I think).

Does this help?  This goes on and on for some time in the log.

java.nio.file.FileSystemException: /usr/share/elasticsearch/data/nodes/0/indices/6Iabi-lrR3uzCTncSEAblQ/1/translog/translog.ckp: Too many open files
        at sun.nio.fs.UnixException.translateToIOException(UnixException.java:100) ~[?:?]
        at sun.nio.fs.UnixException.reth

[2018-10-11 19:46] jallen202020 commented on #107
Here is some additional messages that I saw indicating "Primary shard failed"  This is what made me think there was corruption...

Caused by: org.elasticsearch.action.UnavailableShardsException: [.monitoring-kibana-6-2018.08.17][0] primary shard is not active Timeout: [1m], request: [BulkShardRequest [[.monitoring-kibana-6-2018.08.17][0]] containing [index {[.monit
oring-kibana-6-2018.08.17][doc][

[2018-10-14 16:14] ssi0202 commented on #59
hi sorry for the late reply. I see your point, I'll take a stab at it my self or see if i can't bribe one of the dev's with cake to add it.
by the way when you run this in production what sysmon configs are you using, and how much data do you end up collection from each host in a 24 hour period?

[2018-10-14 17:37] neu5ron commented on #107
You may also need to do it on the host operating system. ie: perform
outside of the docker container.
Let us know if this fixes it.

On Sun, Oct 14, 2018 at 13:27 Nate Guagenti <notifications@github.com>
wrote:

[2018-10-20 01:48] D1sk0 opened #108 "ee_command not found Ubuntu 18.04.01"
Here's a new one; run the install script on a fresh image, getting Error at line 195; ee_notice: command not found.

Anyone else run into this issue?

[2018-10-23 13:37] ssi0202 opened #109 "mitre attack dashboards question"
hi

we have not used these a great deal, but are the index being populated with live data, as in, will data show up if a specific attack mitre technique is seen or infered from the data collected?

is there a way to test the mitre dashboards.

[2018-10-25 08:40] Cyb3rWard0g commented on #109
Hey @ssi0202 . the data from ATT&CK is not enriching events flowing yet. I just did a presentation about data sources mapped to windows event logs and that will help to create that enrichment here 👍  It is coming soon.

[2018-10-25 19:46] ssi0202 commented on #109
Cool Thanks looking forward i did a presentation of our planned fullscale
impkementation of helk at a small local it sec if i ever get a proper
bsides up here In aarhus you’ll get the Key note speaker slot for sure
On Thu, 25 Oct 2018 at 10.40, Roberto Rodriguez <notifications@github.com>
wrote:

--
Simon Simonsen | Nordvestpassagen 79 |
8200 Århus N | Tlf. 20810408

[2018-10-29 11:51] ssi0202 opened #110 "spark / jupyterlap runbooks"
Hi

i watched the video from x33fcon, https://www.youtube.com/watch?v=on31epHbQNI

and tried to do the same that you did in the presentation, but i get stuck at the step of spark initial testing run.

I am most likely missing something obvious here

![image](https://user-images.githubusercontent.com/9341788/47648057-1d115100-db79-11e8-9ffe-ed56a4bbef29.png)

the spark master is on port 8080 availa

[2018-10-29 12:14] ssi0202 commented on #110
forget it i need more coffee and read the documentation properly. TLDR: sc instaed of spark and you're good.

[2018-10-29 12:14] #110 closed

[2018-10-29 13:41] ssi0202 opened #111 "spark initial job job has not accepted any resources"
Hi

i can get the initial steps of the notebook to run ok, untill i hit this step

![image](https://user-images.githubusercontent.com/9341788/47652209-a29afe00-db85-11e8-8585-98048fa219f9.png)

I initially thought was because  I had too much sysmon data for the test instance of the helk to handle so i limited it do one day, by giving it a specific index instead of the wildcard index

![image](http

[2018-10-31 16:12] Cyb3rWard0g commented on #111
Hey @ssi0202 , what version of HELK are you using?? I ask that because the latest version does not create derby.log files in Jupyter.

[2018-10-31 16:13] Cyb3rWard0g commented on #109
Thank you @ssi0202 . 👍

[2018-10-31 16:13] #109 closed

[2018-10-31 19:02] ssi0202 commented on #111
arhh not the latest, i'll update and see what happens ;)

[2018-11-06 20:34] AltF4bulous opened #112 "Kiwi Syslog forwarding"
Hello Interwebs,
I'm trying to import logs from three different kiwi Syslog servers, but haven't been successful in searching a how-to, I've only been able to find how-to's on forwarding actual system logs can someone help, please?

[2018-11-06 23:42] neu5ron commented on #112
@AltF4bulous what port and protocol are you using to send to HELK?

[2018-11-06 23:43] neu5ron commented on #107
@jallen202020 I am going to close this unless the above did not fix for you.

[2018-11-06 23:43] #107 closed

[2018-11-06 23:44] neu5ron commented on #96
@hsvsocintern  I am going to close this unless the above did not fix for you.

[2018-11-06 23:44] #96 closed

[2018-11-07 00:01] jallen202020 commented on #107
The issue hasn't reoccured, but yes, as long as you are confident that is indeed the issue, I will play around with the settings when it happens again and open a new issue if I find that it is anything else.

Jesse Miller
Email: JAllen2020@hotmail.com
________________________________
From: Nate Guagenti <notifications@github.com>
Sent: Tuesday, November 6, 2018 6:43 PM
To: Cyb3rWard0g/HELK
Cc: jal

[2018-11-07 13:20] AltF4bulous commented on #112
@neu5ron I haven't gotten that far, I don't even know how to forward logs to HELK yet. Can you direct me on how to proceed; not just system logs, but logs from a centralized syslog server?

[2018-11-08 07:51] weev3 commented on #109
Hello @Cyb3rWard0g How can i get original mitre dashboard?. I just did delete data with "curl -XDELETE 'localhost:9200/logs-*?pretty'" this command and then mitre dashboard is gone. Can't find any configuration file in logstash, elasticsearch and kibana

[2018-11-09 12:33] ssi0202 opened #113 "droping sysmon events based on as_org"
hey trying to get this filter to work

# MS drop filter
filter {
  if [log_name] == "Microsoft-Windows-Sysmon/Operational" and "[meta_dst_ip_geo][as_org]" == "[insert name here]" {
  drop { }
}
}
what am i missing i've tried several iterations, basically i want to get rid of noisy network traffic before
it get to elasticsearch as this is a huge amount of events once is scale to hundreds of machine

[2018-11-09 15:20] Cyb3rWard0g commented on #113
HEy @ssi0202 , it looks good to me. the only thing would be where that filter is being applied. In what order.
![image](https://user-images.githubusercontent.com/9653181/48270371-e6a0c500-e407-11e8-9bc3-4ef2ffbc0cee.png)

I would assume that it needs to be done after the 8115 config. I was wondering if thats the issue or if your string search is case sensitive or just not the right string?? Can yo

[2018-11-11 10:49] ssi0202 commented on #113
hi again,

i got the filter in the right place and if i do this

# MS drop filter
filter {
  if [log_name] == "Microsoft-Windows-Sysmon/Operational" and [process_name] == "firefox.exe" {
  drop { }
}
}

it seems to work ok

however if i do

# MS drop filter
filter {
  if [log_name] == "Microsoft-Windows-Sysmon/Operational" and [meta_dst_ip_geo][as_org] == "Microsoft Corporation" {
  drop { }
}
}

[2018-11-12 04:34] weev3 opened #114 "Can't call helk ip"
Hi, after restarting HELK docker only elastic docker container was stopped running and can't start again. All docker container are running except elastic search. I also can't call to HELK IP after restarting docker container. How I can start again ?

[2018-11-12 21:13] Cyb3rWard0g commented on #114
HEY @weev3 , could you share some logs from the initial installation. they should be in your host /var/log/helk-install.log . Also, did you use the helk_install.sh script to start everything?? Thank you!

[2018-11-12 21:15] Cyb3rWard0g commented on #113
mmm @ssi0202 , I will have to replication it on my end too. I will let you know if I get the same. It all looks good to me.

[2018-11-13 07:15] weev3 commented on #114
Hello @Cyb3rWard0g , How can I connect elasticsearch http(port 9200) from other IP Address?
This is not an issue but i can't find any answers in google that fit for me.
I want to gather data from sysmon view. So, i changed " network.host: localhost" in elasticsearch.yml but shows 500 server error :(. Help me

[2018-11-13 11:48] ssi0202 commented on #113
hey

this filter works as intended now

filter {
  if [log_name] == "Microsoft-Windows-Sysmon/Operational" and [meta_dst_ip_geo][as_org] == "Microsoft Corporation" {
  drop { }
}
}

I don't know why it did not work the first time, the id is 8116 in the pipeline i may have put it in the wrong place.

please close the issue.

[2018-11-14 03:18] Cyb3rWard0g commented on #113
sounds thank you for the update @ssi0202 👍

[2018-11-14 03:18] #113 closed

[2018-11-14 03:33] weev3 commented on #114
Hello @Cyb3rWard0g  thanks again for your reply, yes i found lab setup in your [website](https://cyberwardog.blogspot.com/2017/02/setting-up-pentesting-i-mean-threat_87.html)

Let me show some config file, I want to add

 to kibana index pattern, so i add 2 .conf file (filter and output).

**Output conf file**

[code]
**Filter conf file**

[code]

After this i can't see index pattern in kibana. Wh

[2018-11-14 04:04] Cyb3rWard0g commented on #114
thats not the docker version. I meant the one from this repo:
[code]
If you want to add a new config to the logstash pipeline, add it to the pipeline folder locally on your host and then you can restart the logstash docker container
[code]
I adjusted the two configs below:

filter:
[code]
output
[code]

[2018-11-14 17:13] jallen202020 commented on #107
Ok, it happened again.

when im in a bash session on the helk-elasticsearch container, and i issue a ulimit -n, it returns 1024.

I tried setting:

*  -  nofile  65536

in the /etc/security/limits.conf file

and set:

session    required   pam_limits.so

in the /etc/pam.d/su file.

I did this on both the host and in the docker container itself, but ulimit -n still returns 1024.  When i simply ente

[2018-11-14 17:40] neu5ron commented on #107
so we are definitely on the right track of the issue, for whatever reason some settings weren't applied or may have forgotten one or two.

from dev tools (in kibana) or via curl run the following and send the output of:
`
GET /_nodes/stats/process?filter_path=**.process
`

Also, did you set:
`
echo "fs.file-max = 518144" >> /etc/sysctl.conf;
`

Also, you will probably have to eventually set max me

[2018-11-14 17:58] jallen202020 commented on #107
I think docker is ignoring from what i am seeing.  I'll mess around with modifying the startup script to add those ulimit options.  Where is that startup script located?
________________________________
From: Nate Guagenti <notifications@github.com>
Sent: Wednesday, November 14, 2018 5:40 PM
To: Cyb3rWard0g/HELK
Cc: jallen202020; Mention
Subject: Re: [Cyb3rWard0g/HELK] Connection to Elasticsearch

[2018-11-14 18:13] jallen202020 commented on #107
Also, if I have 16gb memory, what should my vm.max_map_count be?
________________________________
From: Nate Guagenti <notifications@github.com>
Sent: Wednesday, November 14, 2018 5:40 PM
To: Cyb3rWard0g/HELK
Cc: jallen202020; Mention
Subject: Re: [Cyb3rWard0g/HELK] Connection to Elasticsearch lost - corrupt shards? (#107)

so we are definitely on the right track of the issue, for whatever reason

[2018-11-14 18:37] neu5ron commented on #107
you can set it via the docker run parameter or in the docker compose file like documentation says here:
https://docs.docker.com/compose/compose-file/#sysctls

Divide 2120294 by 2, so 1060147

[2018-11-14 18:45] jallen202020 commented on #107
Got it.  Where is that compose file on the HELK install?
________________________________
From: Nate Guagenti <notifications@github.com>
Sent: Wednesday, November 14, 2018 6:37 PM
To: Cyb3rWard0g/HELK
Cc: jallen202020; Mention
Subject: Re: [Cyb3rWard0g/HELK] Connection to Elasticsearch lost - corrupt shards? (#107)

you can set it via the docker run parameter or in the docker compose file like doc

[2018-11-14 18:49] neu5ron commented on #107
https://github.com/Cyb3rWard0g/HELK/blob/master/docker/docker-compose-helk-elastic-basic.yml

[2018-11-14 18:52] jallen202020 commented on #107
Right, I know where it is in github, but where would it be on the installed system.  I found the following:

admin@ccshelk:/$ sudo find | grep docker-compose
./usr/local/bin/docker-compose
./snap/bin/docker-compose
./snap/docker/321/bin/docker-compose
./snap/docker/179/bin/docker-compose
./home/admin/HELK/docker-compose.yml

Which one of those needs to be edited?
________________________________
F

[2018-11-14 19:08] jallen202020 commented on #107
It look like /home/admin/HELK/docker-compose.yml is the one to edit right?  there was an existing ulimits section under the helk-elasticsearch container:

    ulimits:
      memlock:
        soft: -1
        hard: -1

I added:

      nproc: 65535
      nofile:
        soft: 65535
        hard: 65535

So it looks like this now.

    ulimits:
      memlock:
        soft: -1
        hard: -1
      np

[2018-11-14 21:53] neu5ron commented on #113
@ssi0202 nice! I was going to say, it looked good to me but just check order to make sure after 8112

[2018-11-14 22:03] neu5ron commented on #112
what type of logs are you trying to send via syslog? such as, linux audit, sshd, messages, NGINX, apache, cisco asa, juniper srx, etc...? I may be able to help you on some switch/router configs to forward syslog, and linux stuff should be easy with filebeat (see some tutorials below).

## To Ingest raw syslog into HELK(straight to logstash):
You would need to then add a config into the logstash pi

[2018-11-14 22:05] neu5ron commented on #107
@Cyb3rWard0g I don't have acces to a local install at the moment, when you get time can you tell @jallen202020 where the elasticsearch compose file is on a local install (he knows where it is via github, just not when installed on local machine).

[2018-11-15 01:38] jallen202020 commented on #107
@Cyb3rWard0g and @neu5ron could it be that the snap settings are forcing this limit somewhere?  If so, does anyone know how to set the snap ulimit or open file settings?

[2018-11-15 01:48] neu5ron commented on #107
Can you send the output of:
GET /_nodes/stats/process?filter_path=**.process

On Wed, Nov 14, 2018 at 20:38 jallen202020 <notifications@github.com> wrote:

[2018-11-15 04:33] jallen202020 commented on #107
Ah yes, sorry, forgot to do that earlier.  See below:

{"nodes":{"4mE7YJqdREyh0T1loK4O_A":{"process":{"timestamp":1542256334103,"open_file_descriptors":3957,"max_file_descriptors":4096,"cpu":{"percent":0,"total_in_millis":1539760},"mem":{"total_virtual_in_bytes":24083496960}}}}}

[2018-11-15 05:48] neu5ron commented on #107
yep, its going to crash again soon... Notice the file descriptors :(

I have to get some sleep. Give me some time to later figure out how to make
the ulimit setting stay. Hope maybe you figure out in the mean time.

Also, Roberto and I will add some basic ulimit stuff in the HELK
Elasticsearch docker compose moving forward with next release. We had been
putting that stuff off, but it seems now is

[2018-11-15 13:45] jallen202020 commented on #107
Sounds good. I will keep chipping away at it in my spare time as well.  I really feel that it has something to do with the snap side of the house, but again I am not super knowledgeable with the inner workings of snaps, just a hunch I have.

Thanks for the support thus far, I really appreciate it! Let me know if you find anything.
________________________________
From: Nate Guagenti <notifications

[2018-11-15 16:04] jallen202020 commented on #107
So a little more info, i stopped the help-elasticsearch container and then did a: sudo docker run --ulimit nofile=262144:262144 181d997bdfe1 (181d997bdfe1 is the helh-elasticsearch image).

then when I entered the shell for that container, my ulimit -Hn now shows 262144.

So I thought editing the compose file would affect the helk-elasticsearch image on the next restart, but it seems maybe i need

[2018-11-15 16:09] jallen202020 commented on #107
Oh, looking at docker ps now. I see that the helk-elasticsearch COMMAND shows as:

helk_helk-elasticsearch               "/usr/local/bin/docker-compose"

So maybe that is the file i need to edit?

When I try to edit that however, it shows up garbled.  Snippet below.  How can I actually edit this file?

^N^XA^N^PB^N^HN^KA
^N^XF^N^PB^N^HG^K^@^@^@^@^@^@^@^T^@^@^@ï¿½^D^@^@ï¿½ï¿½ï¿½ï¿½^E^@^@^@^@^@^@^@^

[2018-11-15 16:47] jallen202020 commented on #107
Ok, got it! here is the fix:

Edit /home/<user>/HELK/docker-compose.yml and add the ulimit settings you require.  I chose 65535 for processes and 262144 for files (probably overkill but i don't want to run into this again).

In that file, there was an existing ulimits section under the helk-elasticsearch container:

    ulimits:
      memlock:
        soft: -1
        hard: -1

I added:

      npr

[2018-11-15 16:56] neu5ron commented on #107
phew! awesome! Let me know if you need anything else!

[2018-11-15 17:01] neu5ron opened #115 "More Logstash Plugins"
**Describe the problem**
More logstash plugins for better support by default
**What steps did you take trying to fix the issue?**
N/A
**How could we replicate the issue?**
N/A
**If you are having issue during the installation stage, please provide the HELK installation logs located at /var/log/helk-install.log**
N/A
**What version of HELK are you using?**
N/A
**What OS are you using to host the HE

[2018-11-15 17:03] neu5ron opened #116 "Better ulimit settings"
**Describe the problem**
Users may run into issues with max file descriptors open in elasticsearch.
**What steps did you take trying to fix the issue?**
Running ES(elasticsearch) with a lot of data/indices.
**How could we replicate the issue?**
Running ES(elasticsearch) with a lot of data/indices.
**If you are having issue during the installation stage, please provide the HELK installation logs lo

[2018-11-16 01:04] neu5ron opened #117 "Elasticsearch Alias Datatypes"
**Describe the problem**
We should use alias datatypes (https://www.elastic.co/guide/en/elasticsearch/reference/current/alias.html) in order to take some burden off of the process of integrating with other ELK instances as well as just common Microsoft Windows language.

For examples of common Microsoft Windows language:
- "EventID" (the true Microsoft "name") we can match that with the winlogbeat

[2018-11-21 12:28] ssi0202 opened #118 "adding character count for process_command_line in sysmon logstash filter"

[2018-11-21 12:37] ssi0202 commented on #118
hi
not a bug as such but more a enhancement

i want to count the number of characters in the process command line filed, as really really long command lines are indication of a script being run, and no a end user typing stuff in. We resently had a pentest and with sysmon im able to see these very long command lines being run and i want to be able to alert on this

below is the "vanila" logstash he

[2018-11-24 16:18] Cyb3rWard0g commented on #118
Nice @ssi0202 ! yeah that would be the way to do it in my opinion. I will test it out and add it to the next update 👍

[2018-11-24 17:44] ssi0202 commented on #118
hey

its not working correctly at the moment i keep getting an error from logstash guess i need more logstash-fu with ruby on top. i can even tell if im close but i think you get the idea.

ps i also caught the pentester with the helk doin a whoami.exe, i made an IOC of that before they started ;o)

i have a whole week of pentester activity to  learn from now as i recorded everything with sysmon e

[2018-11-26 17:19] neu5ron commented on #118
@ssi0202 you could do:
[code]

[2018-11-27 08:50] DerekChia commented on #105
I got the same error but with different error message. Pasting it here for future reference.

![Imgur](https://i.imgur.com/iq0eyNK.png)

[2018-11-28 06:55] ltfi opened #119 "Plans to support ES 6.5?"
What plans are there to support the latest version (6.5.1 right now) of Elasticsearch?

[2018-11-28 16:56] neu5ron commented on #119
soon :) We were waiting for 6.5.1 actually.

[2018-12-02 23:39] Cyb3rWard0g commented on #119
good morning @ltfi , 6.5.1 is available. I am pushing an update soon.  I would say over the weekend. 👍

[2018-12-03 03:30] ltfi commented on #119
Thats a very good new 👏🏽 will this release support Zeppelin?

[2018-12-04 03:31] weev3 opened #120 "Log file location"
Hi @Cyb3rWard0g , it is possible to change logs storage location in new mount folder?.
I think default HELK log files are in /var/lib/docker/overlay2.
In my case, new mount folder in /mnt/nfs_share, how to change log storage location to that folder?.
Can you help me?.
 I followed HELK docker installation instruction for enterprise usage. Our company has 300-400 computers, so log files need to stor

[2018-12-06 00:50] neu5ron opened #121 "WEF Enrichment"
Additional WEF enrichment/parsing.
I have code already written, just need to merge in with naming schema. We will have to figure out, because some of these fields we do not currently have a mapping for in https://github.com/Cyb3rWard0g/OSSEM
Majority of the hash/fingerprint will be using MURMUR3
Don't worry, the code has been battle tested for performance.. 25,000+ lines of logstash config and les

[2018-12-06 00:53] neu5ron opened #122 "Networking Logstash Config Enhancement"
Add following hash/fingerprints for:
* 4 tuple
* 5 tuple
* src+dst ip pair
* any ip pair (two IPs whether dst or src)
* dst geo as org + domain

[2018-12-06 00:58] neu5ron opened #123 "ECS Compatibility"
Low priority because Elastic Common Schema is not final. But eventually we want to have some alias data types for basic compatibility.

[2018-12-06 01:00] neu5ron opened #124 "Compatibility w/ RockNSM"
Elasticsearch alias fields for compatibility with https://github.com/rocknsm/rock

[2018-12-06 04:31] neu5ron opened #125 "Wiki for FAQ / Common Issues"
Wiki for basic issues/FAQ's

[2018-12-06 06:10] #116 closed

[2018-12-06 08:01] jpalanco commented on #105
I can confirm the issue with a fresh installation

[2018-12-06 12:18] Cyb3rWard0g commented on #119
@ltfi Zeppelin is the next notebook. Finishing Elastalert with SIGM and KSQL integrations. Also, updating the containers size and updating Spark, Kafka and ELK stack.. Zeppelin is next. 👍

[2018-12-06 17:06] neu5ron opened #126 "Use G1GC"
G1GC is finally stable. so for elasticsearch and logstash use G1GC.
Can be passed in environment. But will need to append if that environment variable for other options are exists.

### elasticsearch
ES_JAVA_OPTS="$ES_JAVA_OPTS -XX:+UseG1GC"

### logstash
LS_JAVA_OPTS="$LS_JAVA_OPTS -XX:+UseG1GC"

[2018-12-07 01:34] tesslamx opened #127 "IP Configuration"
I'm a newcome on HELK, I installed HELK by script and I'd like to change de IP configuration the script asked for at the installation execution. I mean, I'd need to change the new IP on every service (docker machine) or when exactly to keep running HELK without problems.

Thanks for you time and attention, greetings!

[2018-12-10 05:32] ltfi opened #128 "CSV Support"
How can I analyze "csv" logs in "HELK"?

[2018-12-10 06:13] Cyb3rWard0g commented on #128
Hey @ltfi , good question. I have a basic example with the ATT&CK integration:
1- https://github.com/Cyb3rWard0g/HELK/blob/master/docker/helk-logstash/pipeline/0003-attack-input.conf
2- https://github.com/Cyb3rWard0g/HELK/blob/master/docker/helk-logstash/pipeline/1216-attack-filter.conf
3- https://github.com/Cyb3rWard0g/HELK/blob/master/docker/helk-logstash/pipeline/9956-attack-output.conf

You wi

[2018-12-10 10:39] ltfi commented on #128
Wow, thanks for quick response.

[2018-12-10 10:39] #128 closed

[2018-12-10 10:39] ltfi commented on #128
How can i build whole project? I can use it with docker but cannot build :)

[2018-12-11 16:31] ltfi opened #130 "HELK without Docker Environment"
How can i build HELK to run without docker environment?

[2018-12-13 14:45] jespersj opened #131 "SSL certificate, add user, change password"
Hi there

Bare with me, first time github and HELK user here...

I have just finished installing HELK and is now able to log into Kibana with the default username/password/certificate. I would like to change the default username/password and if possible update the SSL certificate to a signed/trusted certificat, is that possible?

HELK looks like a epic tool and I'm really looking forward to use it

[2018-12-13 15:16] duzvik opened #132 "Length token filter should be removed from mapping"
**Describe the problem**
Length token filters **two_or_more_tokenizer_limit_filter** and **three_or_more_tokenizer_limit_filter**
 should be removed  from /docker/helk-logstash/output_templates/50-logs-winevent-all.json

Because you are working with SIGMa integration and there are many conditions with length 2 and 3 in sigma rules. For example, check https://github.com/Neo23x0/sigma/blob/master/ru

[2018-12-13 16:52] neu5ron commented on #132
thanks for the suggestion, I am definitely open to changing this mapping. However, before I would do so - do you have an example of it droping this condition? also, this would be converted to ProcessCommandLine.keyword , thus ignoring the tokenization of the CLI field.
also, I have found this analyzer to be much better for command line and file names. because the default analyzer is built for thin

[2018-12-13 17:23] duzvik commented on #132
Here is an example, what I mean:

[code]

EmployeePayroll.docx
with the custom analyzer, you could search "employee" or you could also search "payroll". However, with the default analyzer, you would have to search "employeepayroll" to find that.

Tokenizer that responsible for this(case_change_only_delim_filter) -  we don't touch.

[2018-12-13 17:30] neu5ron commented on #132
its the compatibilty with all the other databases that SIGMA has to use the appended and prepended "*"
otherwise we could just write the rule as "lsass"

[2018-12-13 17:34] neu5ron commented on #132
one more note, for the background of 2 and 3 or more. is that since we are using case change, we would not want to create tokens for something such as:
ThIsIsGoInGtOcReAtEaLoToFToKeNs

Which would create 31 tokens, and not sure that would make sense for people to search for "a" and get many results

[2018-12-13 18:06] duzvik commented on #132
Same results.

Last changes to Sigma(4 days ago https://github.com/Neo23x0/sigma/commit/2091c90538e83b2563e9bba3f2246bf8cbeedc6c ) fix .keyword but it's related to query_key and aggregations.

[2018-12-13 19:15] neu5ron commented on #132
am I missing something? running your exact example I get expected results..
see screenshots below:

![selection_001](https://user-images.githubusercontent.com/6351842/49961762-7216e580-fee1-11e8-9880-ef5e314bd7cf.png)

![selection_002](https://user-images.githubusercontent.com/6351842/49961794-865ae280-fee1-11e8-9af9-a6ac7fc31382.png)

![selection_003](https://user-images.githubusercontent.com/635

[2018-12-13 19:52] neu5ron commented on #131
no problem. Glad you are interested.

# replace cert
generate a cert and replace line 19 and 20 in the nginx config with the location of your cert key and cert pem/crt.
the nginx config location should be:
/etc/nginx/sites-available/default
you will need to upload the certs into the NGINX docker instance, u can get into that docker instance via something such as:
sudo docker exec -ti helk-nginx ba

[2018-12-13 19:52] #131 closed

[2018-12-14 06:31] duzvik commented on #132
Expected result is empty response.
`"query":"(event_id:\"1\" AND process_command_line:(\"* -ma *\") AND process_command_line:(\"* lsass.exe*\"))"
`
Threre is no any "-ma" part  in process_command_line.

[2018-12-14 09:44] griffo138 opened #133 "typo in new helk_install.sh"
**Describe the problem**
In the section Docker Compose Build Choices
Option 2 Reads
" HELK_BUILD='helk-kibana-notebook-analysis-';break;;"

I believe it should not have the final hyphen

**What version of HELK are you using?**
latest pull
**What OS are you using to host the HELK?**
Ubuntu 16.04

[2018-12-14 09:46] griffo138 commented on #133
Great to see the new release guys - been really looking forward to the update to 6.5

[2018-12-14 09:58] griffo138 opened #134 "ERROR: yaml.parser.ParserError - helk-kibana-notebook-analysis-basic.yml"
**Describe the problem**
Invalid yml in helk-kibana-notebook-analysis-basic.yml

When
Building & running HELK from helk-kibana-notebook-analysis-basic.yml file
I get
ERROR: yaml.parser.ParserError: while parsing a block mapping
  in "./helk-kibana-notebook-analysis-basic.yml", line 4, column 2
expected <block end>, but found '<block mapping start>'
  in "./helk-kibana-notebook-analysis-basic.yml",

[2018-12-14 14:59] #133 closed

[2018-12-14 14:59] #134 closed

[2018-12-14 14:59] Cyb3rWard0g commented on #133
Thank you very much @griffo138 for the heads up 👍 Please let me know if you find any other issues with the scripts.

[2018-12-14 15:00] neu5ron commented on #132
ah yes, you are correct. So this is very interesting. After taking some time to dig into this, I have noticed that something else is going on.
If a search token results in null tokens it matches almost everything when using query string (I have only tested this at the moment).
empty tokens should not match anything, unless this is a bug or there is some setting in the query string parameter that c

[2018-12-14 15:00] Cyb3rWard0g commented on #134
Thank you @griffo138 👍 I appreciate the help

[2018-12-14 15:03] Cyb3rWard0g commented on #130
Hey @ltfi ! Sorry for the late response. For the moment, I am focusing on making the docker-compose deployment more robust and stable. I have plans on pushing packer images and make it easy to deploy it in other environments besides docker 👍

[2018-12-14 15:04] Cyb3rWard0g commented on #119
Hey @ltfi ! Logstash plugins are not part of the new release. That is next. I updated the build to 6.5.3 . Closing this issue since there is nothing to fix here. You suggestions are part of the next updates 👍

[2018-12-14 15:04] #119 closed

[2018-12-14 15:05] Cyb3rWard0g commented on #120
Hey @weev3 ! sorry for the late response. I have been a little busy lately. Regarding the logs storage location in a new mount folder, I have not dealt with it yet. I will have to do some research on how it can be done.

[2018-12-14 15:06] Cyb3rWard0g commented on #114
Hey @weev3 , let me know if this is still an issue. Thank you! 👍

[2018-12-14 15:07] Cyb3rWard0g commented on #21
Hey @jermdw closing this issue since all the containers that are build by me are not running as root. Thank you for the suggestions 👍 I hope all is well man.

[2018-12-14 15:07] #21 closed

[2018-12-14 15:08] Cyb3rWard0g commented on #130
I will leave this issue open until there is another way to deploy HELK besides Docker. Do you have any other any environment in mind @ltfi ??

[2018-12-14 16:06] neu5ron commented on #132
correct, which they are fixing in sigmac to use .keyword. Going to close this issue, as this is expected and not a bug as you mentioned. and also as you mentioned analyzer is applied at write and during search and the analyzer results in no token. Also, I have explained a few other reasons further below why I think we should keep the current analyzer.

Here is a good example of why to do char limi

[2018-12-14 16:09] #132 closed

[2018-12-14 16:11] neu5ron commented on #100
we have fixed temporarily in NGINX. but future we need to have the .kibana index auto shorten URLs. because as mentioned, browsers will eventually fail next :)

[2018-12-14 16:13] neu5ron commented on #59
Moving this to a FAQ/Best-practices section. and closing this.

hard to determine how much data per host due to variables of user usage or GPO configurations and environment, but I usually see about 3-5 events per second per host with no filtering.

[2018-12-14 16:13] #59 closed

[2018-12-14 16:14] neu5ron commented on #125
https://github.com/Cyb3rWard0g/HELK/issues/59

[2018-12-14 20:32] SecOpsWarrior opened #136 "How to upgrade to latest?"
This might be a really dumb question, but how do I upgrade HELK to the most recent version?

[2018-12-15 14:20] weev3 commented on #120
@cyb3rWard0g Thank you. I tried too many answers on Google but all didn't fits for me.
I used 24GB of RAM and 100GB storage for production use, our company can't provide more than 100GB for physical storage so I need to find a way to store only logs file to /mnt/share folder.
Thanks for creating this HELK. Attackers can't hide when they doing Lateral movement.

[2018-12-15 20:04] ssi0202 opened #137 "ee outlier and flare"
hi

not an issue but did you see these two projects for detecting behavior ee-outlier just got open sourced

https://github.com/NVISO-BE/ee-outliers

https://github.com/austin-taylor/flare

[2018-12-16 12:19] ssi0202 opened #138 "sigma rules placement"
where do i put the sigma rules

like the ones from here ex

https://github.com/Neo23x0/sigma/tree/master/rules/windows/sysmon

[2018-12-16 20:11] Cyb3rWard0g commented on #138
All the rules with the latest integration are in `/etc/elastalert/rules` . Does that answer your question? Sorry for the late response @ssi0202

[2018-12-16 20:13] Cyb3rWard0g commented on #137
I have seen those two projects and they are great! Once the Spark & Jupyter integration gets more robust, I think it would be good to go over those again. Thank you for sharing. The project is still a work in progress and I will take those two in consideration for when the time comes. Thank you again @ssi0202 . I really appreciate your suggestions 👍

[2018-12-16 20:13] #137 closed

[2018-12-16 20:16] Cyb3rWard0g commented on #136
Hey @jallen202020 , sorry for the late response. I think my question is, do you use it in production at the moment? I ask this because the build is still under development, and I usually just restore my Ubuntu box to a clean state, and then I build the latest. If you do not want to do that, you can use this script that was provided by @devdua to update your current repo and rebuild it: https://git

[2018-12-16 20:26] #76 closed, assigned to nobody

[2018-12-17 01:01] rangerrkm opened #139 "Kibana - Warning (No cached mapping for this field."
Hello,

I have setup HELK and have been performing some testing and have noticed that I have a warning on 3 fields. On the Global Dashboard
Error: No cached mapping for this field. Refresh field list from the management > Index Patterns page.

I have done this many times without resolve, does anyone else have this same issue.

z_logstash_pipeline
z_logstash_type
z_original_message

Thanks,

[2018-12-17 03:49] devdua commented on #136
Hi @jallen202020 , you could give that script a go, and let me know if you face any problems 👍

@Cyb3rWard0g were you able to make a wiki for the update process like the one for installation? I had provided a writeup to you.. If you want I could make the wiki, if you are busy with other stuff 😄

[2018-12-17 04:15] jallen202020 commented on #136
I'd also be happy to help out in any way, if you wanted me to take screenshots of the upgrade process or any documentation I'd be happy to do that as well.

Regarding the script, do I need to download anything else other than the script itself, or will it go out and grab all the latest files needed from the repository?
________________________________
From: Dev Dua <notifications@github.com>
Sent:

[2018-12-17 04:42] devdua commented on #136
Hi @jallen202020 thanks for your offer, if you run into any issues, you could post the screenshots of the script output and the contents of the update log which can be found at the path `/var/log/helk-update.log`

The latest version of the script is made for the Christmas Release for the HELK -https://github.com/Cyb3rWard0g/HELK/tree/181c851a9ee1fd1f471120f03205048b4a3212f6 (However, the script wa

[2018-12-17 05:10] jallen202020 commented on #136
Sounds good.  Do I need to run the script from a specific directory?
________________________________
From: Dev Dua <notifications@github.com>
Sent: Sunday, December 16, 2018 10:43 PM
To: Cyb3rWard0g/HELK
Cc: jallen202020; Mention
Subject: Re: [Cyb3rWard0g/HELK] How to upgrade to latest? (#136)

Hi @jallen202020<https://github.com/jallen202020> thanks for your offer, if you run into any issues, yo

[2018-12-17 05:12] devdua commented on #136
Yes, change directory to the `docker` sub-directory in your HELK directory (same as the helk_install.sh script) and then run `sudo ./helk_update.sh`

[2018-12-17 05:13] jallen202020 commented on #136
Got it.  Do I need to download any other files from the Christmas release into that directory, or will the script pull down any new files it needs automatically?
________________________________
From: Dev Dua <notifications@github.com>
Sent: Sunday, December 16, 2018 11:12 PM
To: Cyb3rWard0g/HELK
Cc: jallen202020; Mention
Subject: Re: [Cyb3rWard0g/HELK] How to upgrade to latest? (#136)

Yes, chang

[2018-12-17 05:15] devdua commented on #136
It should pull all the latest files. If you face any issues, do let me know, I will fix it ASAP.

[2018-12-17 11:03] griffo138 commented on #130
I've been trying to build it out into an openstack project. I don't know how you'd make that as automated as your docker deployment but it would be useful.

[2018-12-17 17:43] ltfi commented on #130
thnx for response @Cyb3rWard0g

[2018-12-18 14:02] Cyb3rWard0g commented on #139
Good morning @rangerrkm ! Those fields are not searchable. Those fields are stored but they are not indexed. when you say that you have 3 warning on the Global Dashboard, do you mean on the visualizations or in the Discover view added to the dashboard? I asked this because there are not visualizations that take those 3 fields that you mention. Also, those three fields are defined in the output tem

[2018-12-19 16:36] BSCowboy commented on #105
I am an admin on the hub and do not get this error, but most other users do.  I had a user try clearing their browser cache on both firefox and chrome, neither helped.

[2018-12-20 19:55] neu5ron commented on #139
Great question, and as Roberto mentioned - these fields are not indexed but only "stored". They are for troubleshooting and for chain of custody ("z_originaL-message"). Since they are limited use case in actually analysis, we are setting them as non-indexed to reduce storage space.

[2018-12-20 19:56] #124 closed

[2018-12-20 19:58] neu5ron commented on #124
new year

[2018-12-20 20:14] Cyb3rWard0g commented on #139
Thank you for the confirmation @neu5ron . Closing this issue since the question has been answered already. @rangerrkm feel free to re-open this issue if our responses did not answer your question. Thank you!

[2018-12-20 20:14] #139 closed

[2018-12-24 08:38] hoboscientist opened #141 "Sysmon Configuration"
Hey, I love the work you have done with HELK. I see all the ETL but can you share your sysmon configuration that you are using. Preferably one integrated with ATT&CK. Thanks in advance.
Much Love,
Hobo

[2018-12-25 17:10] brokenvhs opened #142 "Not building on Clean Ubuntu 16.04 Install"
**Describe the problem**
Trying to build on a fresh Ubuntu 16.04 install. I installed Ubuntu, cloned HELK and ran  sudo docker/helk_install.sh, if I select Option 2 (SPARK + JUPYTER), the build hangs with a repeating error complaining about a docker "invalid short flag '-ti'" command. I tried selection Option 1, and the installation appeared to finish, but all docker instances continuously show Re

[2018-12-25 20:30] Cyb3rWard0g commented on #142
Hey @brokenvhs , thank you for letting me know about this. I just pushed a commit to fix it. let me know if it works now.

[2018-12-25 20:30] Cyb3rWard0g commented on #142
Sorry closed it by accident. Run it again and let me know 👍

[2018-12-28 00:50] brokenvhs commented on #142
Still can't access the Web UI of Kibana, or connect to tty on the containers:

[code]
[code]
[code]

I will blow the VM away and start over from scratch and see if anything changes.

[2018-12-28 01:04] Cyb3rWard0g commented on #142
Yes please @brokenvhs let me know if that changes. Also, can you try option 1 and trial build too? let me know. thank you

[2018-12-28 01:07] brokenvhs commented on #142
Option 1 does the same thing, except it actually finishes and I get the successful install message. I will try to update again tonight if I have time to rebuild it.

[2018-12-28 03:17] Cyb3rWard0g commented on #142
sounds good @brokenvhs . let me know. I will test it tomorrow night myself. I have limited access at the moment. thank you for your patience 👍

[2018-12-28 04:20] leechristensen commented on #142
FWIW, I tested on a brand new 16.04 instance in Azure and installation worked.

[2018-12-28 18:11] Cyb3rWard0g commented on #142
Thank you very much @leechristensen 👍 : )

[2018-12-30 20:10] Cyb3rPanda commented on #142
I also tested Option 2 with basic license and the installation worked.

[2019-01-02 04:20] chinguunhr opened #143 "Periodically remove old data"
Hello,

Is there any way to remove old data(older than 30 day)  periodically ?

[2019-01-02 04:49] brokenvhs commented on #142
After building with the right ISO, all appears to be good now. I will close the issue.

[2019-01-02 04:49] #142 closed

[2019-01-02 08:50] griffo138 commented on #143
I use Curator by elastic  https://www.elastic.co/guide/en/elasticsearch/client/curator/current/index.html
you should be able to find templates online, I created a template for the different indexes based on what retention periods I wanted and then a bash script added to cron.
If you need further assistance let me know and I'll share what I have.

[2019-01-02 18:31] Cyb3rWard0g commented on #141
Hey @hoboscientist , sorry for the late response. I do not have a final config that is mapped to ATT&CK yet. One that I have seen with ATT&Ck references is this one https://github.com/ion-storm/sysmon-config/blob/develop/sysmonconfig-export.xml .

[2019-01-02 18:31] #141 closed

[2019-01-02 19:33] Cyb3rWard0g commented on #138
@ssi0202 , feel free to reopen this issue if I didnt answer your question. Thank you 👍

[2019-01-02 19:33] #138 closed

[2019-01-02 19:35] Cyb3rWard0g commented on #127
@tesslamx , feel free to reopen this issue if my response above did not help. I tested what I recommended and it works. Thank you

[2019-01-02 19:35] #127 closed

[2019-01-02 19:56] hakavod opened #144 "error in visualization - dashboard"
![helk](https://user-images.githubusercontent.com/45045004/50609701-7c078500-0e9e-11e9-863a-ea09edb3f4c7.png)

good afternoon with everyone, had a similar problem and have solved it?

[2019-01-03 02:04] chinguunhr commented on #143
@Cyb3rWard0g  Thanks. :)

[2019-01-03 07:51] ltfi commented on #130
@neu5ron I wanna build source code to make some further customization for my own case.

[2019-01-03 13:53] Cyb3rWard0g commented on #144
Good morning @hakavod , what dashboard and visualization is that?

[2019-01-03 15:50] hakavod commented on #144
Hi, thanks for answering ... I share a screen today. The events in the panel are shown, but what I appreciate is that the alerts or "errors" are more constant when I reduce the interval refresh to 5 seconds.

![helk_2](https://user-images.githubusercontent.com/45045004/50646953-65683900-0f45-11e9-94f0-8516f9875f53.jpg)

[2019-01-03 19:16] neu5ron commented on #144
Thanks for the info @hakavod . This definitely appears to be an elasticsearch/database-backend issue.
can you provide the logs from that?

Also, any specific reason you can share on the necessity to have the refresh interval for 5 seconds? This may help me provide some alternatives.

[2019-01-03 19:36] ssi0202 commented on #143
hey griffo please share what you have

[2019-01-03 21:44] griffo138 commented on #143
so once curator is installed and you've configured the base curator.xml file (/usr/local/bin/curator.yml) with your elasticsearch settings

i have something like this - the prefix is what you might want to change - this will do all the indices starting with logs. You could have logs-endpoint-winevent-system for example. I have one for each with retention periods from 1 week to 6 months.

actions:

[2019-01-04 10:41] buldruu opened #147 "Can't show logs from kibana"
Winlogbeat is sending fine logs to kafka. But kibana not displaying any logs. Winlogbeat configuration is your recommended yml file. Installation is completed without any error.
![image](https://user-images.githubusercontent.com/45187522/50684349-2ffc4200-1050-11e9-9a6f-e3375c201784.png)
![image](https://user-images.githubusercontent.com/45187522/50684384-4dc9a700-1050-11e9-9b50-6523af38f7a2.png)

[2019-01-04 14:47] hakavod commented on #144
hello excuse the delay in answering. In principle the chosen interval I choose to have almost in real time what happens in the servers, sometimes by specific requirements for other areas that want to be controlled that no one else may be accessing. As for the records you want some log? If you tell me the route where I can get it, I'll gladly share it with you.

[2019-01-04 15:21] hakavod commented on #147
hello you can share the screen that shows you when you are in the management option

[2019-01-05 15:50] roberix opened #148 "Installation fails on Ubuntu 16.04.5 - pre install check"
Installation using helk_install.sh fails during pre-install check.

[HELK-INSTALLATION-INFO] HELK being hosted on a Linux box
./helk_install.sh: line 39: [: missing `]'
[HELK-INSTALLATION-ERROR] YOU DO NOT HAVE ENOUGH AVAILABLE MEMORY OR DISK SPACE
[HELK-INSTALLATION-ERROR] Available Memory: 15
[HELK-INSTALLATION-ERROR] Available Disk: 43
[HELK-INSTALLATION-ERROR] Check the requirements section in

[2019-01-07 06:54] zganchu commented on #147
Hi @hakavod,  are you talking about index patterns? Indexes are HELK defaults.

[2019-01-07 14:30] neu5ron commented on #147
@buldruu did u change the output of the winlog beat config to match accordingly to the IP of your HELK instance?

[2019-01-07 19:42] Cyb3rWard0g commented on #147
@buldruu can you share your Winlogbeat config??

[2019-01-08 02:13] buldruu commented on #147
@buldruu Of course, @Cyb3rWard0g. Changed OS version 16.4.5 to 16.4.1 but issue persistent.
[winlogbeat.yml.txt](https://github.com/Cyb3rWard0g/HELK/files/2734933/winlogbeat.yml.txt)

[2019-01-08 14:36] hakavod commented on #147
En mi humilde opinión haría lo siguiente, en una consola de powershell en el agente realizaria lo siguiente y luego prueba si ya puedes recibir logs.

1. .\install-service-winlogbeat.ps1
2. .\winlogbeat.exe test config -c .\winlogbeat.yml -e.
3. Get-WinEvent -Listlog * | Format-List -Property Logname
4. Start-Service winlogbeat

[2019-01-08 14:37] hakavod commented on #147
In my humble opinion I would do the following, in a powershell console the agent would do the following and then test if you can already receive logs.

1. .\install-service-winlogbeat.ps1
2. .\winlogbeat.exe test config -c .\winlogbeat.yml -e.
3. Get-WinEvent -Listlog * | Format-List -Property Logname
4. Start-Service winlogbeat

[2019-01-08 16:50] Cyb3rWard0g commented on #147
@buldruu , can you try again by refreshing your page on the Discovery option and checking if you get messages or not. Also, can you provide information about the build? Are you using Option 1 or 2? Are you using the basic or trial version?

[2019-01-09 01:12] buldruu commented on #147
@hakavod Winlogbeat is working fine.
@Cyb3rWard0g  I'm using option 1 and basic version. Can I show logstash pipeline logs? I think may logstash not send to elasticsearch.

[2019-01-09 16:20] Cyb3rWard0g commented on #147
@buldruu can you run the following command? `sudo docker logs --follow helk-logstash` ? and share the results? Also what happens when you do `sudo docker ps`?

[2019-01-10 05:11] buldruu commented on #147
When looking for logs I found it. It was internet connection issue. I configured docker proxy, http, https proxy but logstash was can't install "**logstash-filter-prune**" plug-in. So permitted direct internet access and it installs successfully.
@Cyb3rWard0g you can close it.

[2019-01-10 16:21] Cyb3rWard0g commented on #147
makes sense 👍 Thank you @buldruu . I hope the `sudo docker logs --follow` command helps with future issues. Thank you

[2019-01-10 16:21] #147 closed

[2019-01-11 11:40] hoboscientist commented on #141
Hey, I just have a short query. I have found Olafharong's configuration too. Between olafhartong's and ion-storm, which one do you recommend? Albeit, I see that ion-storms is more granular, and I have been testing olaf's config which, in my case, is producing a lot of false positives. Thanks for your time. Cheers.

[2019-01-11 21:21] lucasshawn opened #149 "Small bug in the install script @ line 552 "case $SUBSCRIPTION_CHOICE in""
It looks like the code is checking the wrong env var.  Instead of $SUBSCRIPTION_CHOICE it should be $HELK_BUILD.

[2019-01-12 00:02] #149 closed

[2019-01-12 00:04] Cyb3rWard0g commented on #149
Thank you very much @lucasshawn !

[2019-01-18 13:14] neu5ron commented on #144
Instead of using dashboard for similar function of alert, have you thought about using what @Cyb3rWard0g added to HELK recently with ElastaAlert for this instant alert functionality or using Elastic X-Pack watcher/alerting?

Anyways, can you send specs on your server? Also can you share some of the last 100 lines of elastisearch.log during time of error? please remove any IP addresses / hostnames

[2019-01-18 13:16] neu5ron commented on #136
@jallen202020 were you able to get the upgrade to work?

thanks for all the assist @devdua

[2019-01-18 14:43] neu5ron commented on #120
You can [create a snapshot](https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-snapshots.html) of the ELK indexes and then restore them into your new desired location.

You can then change the path of where your indexes are in the elasticsearch.yml (the configuration file for elasticsearch) by altering:
the `path.data:` line.
probably better option is to edit the docker compos

[2019-01-22 16:07] griffo138 opened #150 "Elastalert - IP Reputation"
Feature Request.
and blacklist or reputation lists from sources like http://iplists.firehol.org/ into elastalert rules.

similar to some security providers where communication to or from these IPs is flagged.

[2019-01-22 16:33] neu5ron commented on #115
performed here:
https://github.com/Cyb3rWard0g/HELK/blob/5f303c83ae09707ba3d0bc987fe81d874e570e76/docker/helk-logstash/scripts/basic/logstash-entrypoint.sh#L39
make sure to do for trail too

[2019-01-22 17:47] neu5ron commented on #150
I definitely agree that firehol is a great list.. However, loading millions of IPs into a database as an alert without strict formal vetting for use-case on the end-user side (in this case end-user would be the HELK user).

For example, thousands of the IPs are scanning IPs. We would not want to have millions of alerts for scans. If we then try to perform whitelist that is much of a burden for an

[2019-01-22 17:52] neu5ron opened #151 "trial vs basic bug"
**Describe the problem**
Logstash has install issues when using the trial install VS basic install.

**What steps did you take trying to fix the issue?**
Performed multiple re-installations of trial. Performed one install of basic and had no issues.

**How could we replicate the issue?**
trial install :)

**If you are having issue during the installation stage, please provide the HELK installation

[2019-01-22 18:02] griffo138 commented on #150
I see your point, My thought process was probably quite narrow-minded. I'm currently looking to use firehols lists to flag on the rule sigma_win_susp_rundll32_activity1.yml type rules. In a shared hosting environment, I'm hoping it would prove quite useful. Even then I think I'll only include IP's from certain categories in the firehol lists.

[2019-01-23 17:19] jallen202020 commented on #136
Sorry im so late getting back to everyone on this...the script did not seem to work.  It errors out and then says i am at the latest version - which i know that im not.  Any ideas?

[REDACTED]:/snap/docker$ sudo ./helk_update.sh
[HELK-UPDATE-INFO] Checking GitHub for updates...
fatal: not a git repository (or any of the parent directories): .git
fatal: not a git repository (or any of the parent di

[2019-01-23 17:24] jallen202020 commented on #136
I wonder if this is because i rebuilt and deployed the HELK container with the modified ulimit settings a while back? (issue doesnt exist anymore in the issue list, but hopefully you will recall working with me on that).

[2019-01-24 03:41] Cyb3rWard0g commented on #150
I agree with @neu5ron . Thank you for the suggestion @griffo138 . I will let users configure their own enrichments when it comes down to intel feeds.

[2019-01-24 03:41] #150 closed

[2019-01-24 03:45] devdua commented on #136
@jallen202020 I think you're facing this issue because your pwd isn't being recognized as a valid git repository.

[code]
Can you please try cloning the HELK repo first and then running the script? Meanwhile I will think of ways to get past this problem.

[2019-01-24 03:52] jallen202020 commented on #136
Yes, I did clone it first, I cloned it from the two locations I mentioned.  Sorry I wasn't more specific about that.  I set the chmod to 655, I'm assuming that's high enough permission.
________________________________
From: Dev Dua <notifications@github.com>
Sent: Wednesday, January 23, 2019 9:45 PM
To: Cyb3rWard0g/HELK
Cc: jallen202020; Mention
Subject: Re: [Cyb3rWard0g/HELK] How to upgrade to l

[2019-01-24 03:53] jallen202020 commented on #136
Or are you saying I need to clone the entire repository and not just the upgrade script?
________________________________
From: Dev Dua <notifications@github.com>
Sent: Wednesday, January 23, 2019 9:45 PM
To: Cyb3rWard0g/HELK
Cc: jallen202020; Mention
Subject: Re: [Cyb3rWard0g/HELK] How to upgrade to latest? (#136)

@jallen202020<https://github.com/jallen202020> I think you're facing this issue be

[2019-01-24 04:03] devdua commented on #136
As far as I understand, if you just have the ```docker``` directory on your local machine, you should be able to install HELK. However for the update script to work, the ```.git``` directory should be present alongside the ```docker``` directory, as it relies on your local directory being a valid git repository.

[2019-01-24 04:05] jallen202020 commented on #136
I went ahead and cloned the whole repo and tried again.

[REDACTED]:/tmp/HELK/docker$ sudo ./helk_update.sh
[HELK-UPDATE-INFO] Checking GitHub for updates...
[HELK-UPDATE-INFO] No updates available.
[HELK-UPDATE-INFO] YOUR HELK IS ALREADY UP-TO-DATE.
[REDACTED]:/tmp/HELK/docker$

log:

Git is available
fatal: not a git repository (or any of the parent directories): .git
fatal: not a git repository

[2019-01-24 04:08] devdua commented on #136
@jallen202020 can you run ```git status``` and let me know the output?

[2019-01-24 04:10] jallen202020 commented on #136
fatal: not a git repository (or any of the parent directories): .git

[2019-01-24 04:11] devdua commented on #136
ok, let's try ```git init``` and run the update script again?

[2019-01-24 04:18] jallen202020 commented on #136
:/tmp/HELK/docker$ sudo ./helk_update.sh
[HELK-UPDATE-INFO] Checking GitHub for updates...
[HELK-UPDATE-INFO] No updates available.
[HELK-UPDATE-INFO] YOUR HELK IS ALREADY UP-TO-DATE.
admin@ccshelk:/tmp/HELK/docker$ cat /var/log/helk-update.log
Git is available
HELK repo exists
Fetching origin
Fetching helk-repo
HEAD commits --> Current: 5f303c83ae09707ba3d0bc987fe81d874e570e76 | Remote: 5f303c83a

[2019-01-24 04:40] devdua commented on #136
Great, so it works now.. If you want to build and deploy HELK, just run the install script.. I will push some modifications for the update script soon, that would take this issue into consideration. Thanks @jallen202020 for highlighting this problem!

[2019-01-24 05:02] jallen202020 commented on #136
You're thanking me, but I feel like I should be thanking you!

Will the install script overwrite all my current data, or will it just perform an in-place upgrade?
________________________________
From: Dev Dua <notifications@github.com>
Sent: Wednesday, January 23, 2019 10:40 PM
To: Cyb3rWard0g/HELK
Cc: jallen202020; Mention
Subject: Re: [Cyb3rWard0g/HELK] How to upgrade to latest? (#136)

Great,

[2019-01-24 05:06] jallen202020 commented on #136
hmmm, running into another issue.  Why would it say that mem available is zero?  Do i need to stop docker first or something?

:/tmp/HELK/docker$ sudo ./helk_install.sh

**********************************************
**          HELK - THE HUNTING ELK          **
**                                          **
** Author: Roberto Rodriguez (@Cyb3rWard0g) **
** HELK build version: v0.1.6-alpha1213201

[2019-01-24 05:14] devdua commented on #136
If you're referring to the data stored in the docker volumes, that should remain intact as volume data is preserved. However if you have made some modifications to the HELK configuration files in the ```docker``` directory, then those would be overwritten. I would suggest saving a copy of those and making the modifications later after the upgrade.

[2019-01-24 05:16] devdua commented on #136
Can you post the contents of ```/var/log/helk-install.log``` here? I will try and identify the problem...

[2019-01-24 05:18] jallen202020 commented on #136
It's not even getting to the point of creating that log file...its empty.

[2019-01-24 05:22] devdua commented on #136
Ok, can you post the output of  ```cat /proc/meminfo``` here? Also, what OS are you using?

[2019-01-24 05:31] jallen202020 commented on #136
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.1 LTS
Release:        18.04
Codename:       bionic

[2019-01-24 05:34] devdua commented on #136
Yes, please stop the containers first.. MemAvailable comes out to be 0.2797 GB which is being truncated to 0.

[2019-01-24 05:52] jallen202020 commented on #136
Seems to be hanging on this step...is that normal?

Enter build choice [ 1 - 2]: 2
[HELK-INSTALLATION-INFO] HELK build set to 2
[HELK-INSTALLATION-INFO] Set HELK elastic subscription (basic or trial): basic
[HELK-INSTALLATION-INFO] HELK elastic subscription set to basic
[HELK-INSTALLATION-INFO] Set HELK Kibana UI Password: hunting
[HELK-INSTALLATION-INFO] Verify HELK Kibana UI Password: hunting
[H

[2019-01-24 05:55] jallen202020 commented on #136
I reverted the snapshot and will try again in a few days...traveling for the next couple here.  Let me know your thoughts and I'll give it a go again.

[2019-01-24 05:58] neu5ron commented on #136
out of curiosity, has this always been on an ubuntu 18 box? i know they
changed much with networking in ununtu 18.. wondering if these path errors
could be “networking” related.
I have an ubuntu 18, and will check later in the AM.

On Thu, Jan 24, 2019 at 00:55 jallen202020 <notifications@github.com> wrote:

[2019-01-24 05:58] jallen202020 commented on #136
Yes, always.

[2019-01-24 07:44] devdua commented on #136
@Cyb3rWard0g @neu5ron might be able to help you better on this.

Meanwhile, I have opened PR #152 to fix the git related issues you were facing earlier.

[2019-01-24 13:04] jespersj opened #154 "Path to docker-composer missing"
**Describe the problem**
On a fresh clone I'm getting this when installing:

[everything earlier works fine, omitted here]
[HELK-INSTALLATION-INFO] Building & running HELK from helk-kibana-analysis-basic.yml file..
 * ERROR: Could not run HELK via docker-compose file helk-kibana-analysis-basic.yml (Error Code: 1).

The logfile /var/log/helk-install.log shows the following:
sudo: docker-compose: co

[2019-01-24 13:21] jespersj commented on #58
As you mention this is probably because of a proxy blocking the access. On my Centos 7 I've had luck with editing /usr/lib/systemd/system/docker.service and adding the proxy info in the [Service] section
Environment="HTTP_PROXY=http://YOURPROXYHERE:1234/ HTTPS_PROXY=http://YOURPROXYHERE:1234/"

Then I could pulll docker images.

I found the recipe here "https://stackoverflow.com/questions/53477114

[2019-01-24 13:57] jespersj commented on #154
helk_update.sh works like it should, no problems at all.

It looks like the env isn't correctly set up when doing the "sudo -E" part. So a fix could also be to just remove it.
sed -i 's/sudo -E docker-compose/docker-compose/' ./helk_install.sh

Ps. github removed the backslash "\" I had in the post above. I hope it still makes sense. Sed will fail because of this.

[2019-01-24 17:07] Cyb3rWard0g commented on #154
Hey @jespersj , can you run the following?
`docker-compose --version`

Also, did you let the script install docker-compose or you installed it manually?.

[2019-01-24 19:39] Cyb3rWard0g opened #155 "HELK (Isolated from Internet) - We couldn't activate monitoring"
**Describe the problem**
I had a HELK VM snapshot from yesterday (Wednesday, Jan 24th). When I restored from it, everything was working fine, but for some reason the `Monitoring` features in Kibana were not working.

![image](https://user-images.githubusercontent.com/9653181/51703375-309b4f00-1fe4-11e9-82c1-34a719ac6ee3.png)

Note: My HELK VM does not have access to the Internet. it is built in an

[2019-01-24 20:11] Cyb3rWard0g commented on #155
It was obvious that it was an issue with my local time being way off. I decided to check my time again with `date`
[code]
then I used `hwclock` : ```The hardware clock is the clock that runs in you PC hardware even if you disconnect it from the main power supply.``` from https://www.garron.me/en/linux/set-time-date-timezone-ntp-linux-shell-gnome-command-line.html
[code]
You can see that `hwclock`

[2019-01-24 20:12] #155 closed

[2019-01-25 03:57] devdua commented on #136
@jallen202020 my PR has been merged, can you run the script some time and try the upgrade? Thanks!

[2019-01-25 07:44] Cyb3rWard0g commented on #154
Hey @jespersj , so are you still having issues with docker-compose not found? Also, the -E is needed for the docker-compose env variable `ADVERTISED_LISTENER`. it is set during the execution of the steps inside of the `helk_install.sh` script. I remember running it without `sudo -E` and not picking up the `export ADVERTISED_LISTENER` that happens in inside of the execution of the script. Have you

[2019-01-25 08:45] jespersj commented on #154
@Cyb3rWard0g with
`/usr/local/bin/docker-compose -f $COMPOSE_CONFIG up --build -d >> $LOGFILE 2>&1`
it installs just fine, but I'm uncertain what the ADVERTISED_LISTENER is used for and if something isn't working correctly afterwards? How can I verify it?

[2019-01-25 09:01] Cyb3rWard0g commented on #154
@jespersj , I have some details about ADVERTISED_LISTENER in the wiki section `Kafka` under `Kafka Broker`: https://github.com/Cyb3rWard0g/HELK/wiki/Kafka#kafka-broker .

Kafka needs to advertise its IP address for producers (endpoints or log shippers) to send data. Kafka is a docker container therefore it has two interfaces. One to communicate with the internal docker containers and another one t

[2019-01-25 09:55] jespersj commented on #154
Excellent, thank you.

Yea, it has the correct ip. So yes, I agree no need for "sudo -E"

[2019-01-26 19:49] Cyb3rWard0g commented on #58
Niceee thank you @jespersj

[2019-01-28 15:49] hakavod commented on #144
Thank you all for your response, install the latest version and all ok.

[2019-01-28 17:46] Cyb3rWard0g commented on #144
Thank you for the update @hakavod 👍

[2019-01-28 17:46] #144 closed

[2019-01-29 02:22] Cyb3rWard0g opened #156 "error: open /usr/share/logstash/config/logstash.yml: read-only file system"
**Describe the problem**
When I use trial version of HELK, I get the following message before Logstash crashes:

[code]
I tracked the problem back to this: https://github.com/elastic/logstash-docker/blob/master/build/logstash/bin/docker-entrypoint#L3

HELK mounts the main config via docker-compose volumes. Therefore, it runs to that issue.

**What steps did you take trying to fix the issue?**
In t

[2019-01-29 02:30] Cyb3rWard0g opened #157 "WARNING:elastalert:Error connecting to Elasticsearch"
**Describe the problem**

When I run Elastalert in Trial license mode, I get the following:

[code]

**What steps did you take trying to fix the issue?**
I went through all the scripts available in elastalert and found the issue. I had not provided the right name for one variable that was necessary to be set to enable `trial` scripts for elastalert. The current section displays this:

[code]

Howe

[2019-01-29 05:59] Cyb3rWard0g opened #159 "elastalert-create-index: error: unrecognized arguments: elasticpassword"
**Describe the problem**
Installing latest master 01-29-2019, I get the following from elastalert:

[code]
**What steps did you take trying to fix the issue?**
I found the error in the elastalert entrypoint script. I need an extra space between elastalert parameters. as shown below:

[code]

i just added an extra space after `--username $ELASTIC_USERNAME`

**How could we replicate the issue?**
dow

[2019-01-30 03:49] neu5ron commented on #151
wrap into #156

[2019-01-30 03:49] #151 closed

[2019-01-30 03:51] neu5ron commented on #143
well we held off long enough that this is now in the kibana management tab for 6.6! Which 6.6 will be around the corner in HELK.
Going to close this, @chinguunhr if you have any questions comments -- feel free to respond. However, I believe this is a much better solution (ie: inside of Kibana) than what we could provide.
![selection_504](https://user-images.githubusercontent.com/6351842/51957153-6

[2019-01-30 03:51] #143 closed

[2019-01-30 23:29] neu5ron opened #160 "UTC!"
**Describe the problem**
time sync.
**What steps did you take trying to fix the issue?**
depends on host configuration.
**How could we replicate the issue?**
not having UTC
**If you are having issue during the installation stage, please provide the HELK installation logs located at /var/log/helk-install.log**

**What version of HELK are you using?**
latest
**What OS are you using to host the HELK?

[2019-01-31 16:50] Cyb3rWard0g commented on #154
@jespersj , I fixed it with this hot-fix https://github.com/Cyb3rWard0g/HELK/releases/tag/v0.1.6-alpha01312019 . Thank you very much

[2019-01-31 16:50] #154 closed

[2019-02-02 07:25] Cyb3rWard0g opened #161 "hive-site.xml is not available in Jupyter Spark folder"
**Describe the problem**
step to copy hive-site.xml file over Spark Conf folder was deleted by accident in this commit: https://github.com/Cyb3rWard0g/HELK/commit/181c851a9ee1fd1f471120f03205048b4a3212f6

**What steps did you take trying to fix the issue?**
moved hive-site.xml file inside of the HELK `helk-jupyter/spark` folder and let `COPY spark/* ${SPARK_HOME}/conf/` in the main Dockerfile do t

[2019-02-02 07:35] Cyb3rWard0g opened #162 "Logstash - java.lang.OutOfMemoryError: Java heap space"
**Describe the problem**
Logstash is set to calculate memory available and set its own LS_JAVA_OPTS by following this command: `LS_MEMORY=$(awk '/MemAvailable/{printf "%.f", $2/1024/4}' /proc/meminfo)`. The problem with that is that the HELK Docker deployment builds all the containers in the same computer. Meanwhile other containers are being built, the memory consumption spikes utilizing a lot of

[2019-02-02 07:42] Cyb3rWard0g opened #163 "Spark - I cannot connect to a new Spark Master when using Pyspark_Python3 Kernel"
**Describe the problem**
When Jupyter runs the Pyspark_Python3 kernel, it automatically runs pyspark shell, and takes the Spark configurations from the custom HELK Spark config file. That file has `helk-spark-master` as the Spark-Master. Therefore, if I want to use the `helk-jupyter` part of the project to run it separately either locally or with another Spark master, it would fail since it would

[2019-02-02 08:17] #161 closed

[2019-02-02 08:17] #163 closed

[2019-02-02 08:17] #162 closed

[2019-02-05 13:59] borbelyau opened #164 "Error on nginx"
Hey guys,

I install helk today

For some reason I can not see anything, when access to url, error 502 appears, I did not change anything from the original, I just put the ip in the installation.

The error on log:
172.30.82.154 - helk [05/Feb/2019:13:50:28 +0000] "GET / HTTP/1.1" 502 568 "-" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safa

[2019-02-05 17:12] Cyb3rWard0g commented on #164
Hey @borbelyau , can you show the helk-install log file?? it is in `/var/log/helk_install.log`. Also, can you show your main console output when you were installing HELK. That will help me also to see what option you chose and the license version. Also, can you do me a favor and run the following commands:
`sudo docker logs helk-kibana`
`sudo docker logs helk-nginx`